{{- $alt := "" -}}
{{- $aspectRatio := "" -}}
{{- $caption := "" -}}
{{- $credit := "" -}}
{{- $download := "" -}}
{{- $id := "" -}}
{{- $label := "" -}}
{{- $mediaId := "" -}}
{{- $mediaType := "" -}}
{{- $src := "" -}}

{{- if .Get "src" -}}

{{- with (.Get "alt") }}{{ $alt = . }}{{ end -}}
{{- with (.Get "aspect_ratio") }}{{ $aspectRatio = . }}{{ end -}}
{{- with (.Get "caption") }}{{ $caption = . }}{{ end -}}
{{- with (.Get "credit") }}{{ $credit = . }}{{ end -}}
{{- with (.Get "download") }}{{ $download = . }}{{ end -}}
{{- with (.Get "id") }}{{ $id = . }}{{ end -}}
{{- with (.Get "label") }}{{ $label = . }}{{ end -}}
{{- with (.Get "media_id") }}{{ $mediaId = . }}{{ end -}}
{{- with (.Get "media_type") }}{{ $mediaType = . }}{{ end -}}
{{- with (.Get "src") }}{{ $src = . }}{{ end -}}

{{- else if .Get "id" -}}

{{- range where .Site.Data.figures.figure_list "id" "eq" (.Get "id") -}}

{{- if ($.Get "alt") }}{{ $alt = ($.Get "alt") }}{{ else if .alt }}{{ $alt = .alt  }}{{ end -}}
{{- with .aspect_ratio }}{{ $aspectRatio = . }}{{ end -}}
{{- if ($.Get "caption") }}{{ $caption = ($.Get "caption") }}{{ else if .caption }}{{ $caption = .caption  }}{{ end -}}
{{- if ($.Get "credit") }}{{ $credit = ($.Get "credit") }}{{ else if .credit }}{{ $credit = .credit  }}{{ end -}}
{{- with .download }}{{ $download = . }}{{ end -}}
{{- with .id }}{{ $id = . }}{{ end -}}
{{- if ($.Get "label") }}{{ $label = ($.Get "label") }}{{ else if .label }}{{ $label = .label  }}{{ end -}}
{{- with .media_id }}{{ $mediaId = . }}{{ end -}}
{{- with .media_type }}{{ $mediaType = . }}{{ end -}}
{{- with .src }}{{ $src = . }}{{ end -}}

{{- end -}}

{{- else -}}

{{- end -}}

{{- $dict := dict "Site" .Site "alt" $alt "aspectRatio" $aspectRatio "caption" $caption "credit" $credit "download" $download "id" $id "label" $label "mediaId" $mediaId "mediaType" $mediaType "src" $src -}}

<figure data="q-figure"
        class="quire-figure{{ with .Get "class" }} {{ . }}{{ end }}"
        id="{{ $id }}">
<div class="q-figure__wrapper">

{{ if eq $mediaType "youtube" -}}
  {{- partial "figure-youtube.html" $dict -}}
{{- else if eq $mediaType "vimeo" -}}
  {{- partial "figure-vimeo.html" $dict -}}
{{- else if eq $mediaType "soundcloud" -}}
  {{- partial "figure-soundcloud.html" $dict -}}
{{- else if eq $mediaType "website" -}}
  {{- partial "figure-website.html" $dict -}}
{{- else if eq $mediaType "table" -}}
  {{- partial "figure-table.html" $dict -}}
{{- else -}}
  {{- partial "figure-image.html" $dict -}}
{{- end -}}

{{- partial "figure-caption.html" $dict -}}

</div>
</figure>