{
  "presets": [
    [
      "@babel/env",
      {
        "modules": false
      }
    ]
  ],
  "plugins": [
    "@babel/proposal-object-rest-spread",
    "@babel/plugin-transform-async-to-generator",
    "@babel/transform-regenerator",
    ["@babel/plugin-transform-runtime", {
      "helpers": true,
      "regenerator": true
    }]
  ]
}