// Controls component
// ========================================================================

.quire-controls {
  background-color: $nav-bg-color;
  display: flex;
  height: $nav-height;
  justify-content: space-between;
  overflow: hidden;
  width: 100%;
  z-index: 1000;

  &--fixed {}

  &__button {
    background-color: $nav-bg-color;
    border-radius: 0;
    fill: $action-color;
    flex: 0 0 $nav-height;
    height: $nav-height;
    padding: 0;
    text-align: center;
    transition: fill $base-duration $base-timing;
    width: $nav-height;

    &:hover {
      background-color: $nav-bg-color;
      color: $action-color;
      fill: shade($action-color, 35%);
    }
  }

  &__nav {
    display: flex;
    flex: 1 0 auto;
    flex-direction: row;
    justify-content: center;
    line-height: $nav-height;
  }

  &__nav__item {
    color: $nav-text-color;
    justify-content: center;
    margin: 0 $small-spacing;
    text-align: center;

    a {
      display: block;
      width: 100%;
    }

    svg { fill: $nav-text-color; }

    &--prev,
    &--next {
      flex: 0 1 35px;
    }

    &--section,
    &--current {
      @extend %hide-on-mobile;
    }
  }

  &__skip-link {
    background-color: $nav-bg-color;
    height: $nav-height;
    left: -1000px;
    line-height: $nav-height;
    overflow: hidden;
    position: absolute;
    text-align: left;
    top: -1000px;
    width: 1px;
    z-index: 1500;

    &:focus {
      left: 0;
      overflow: visible;
      top: 0;
      width: auto;
    }
  }
}

