.quire-cover {
  @extend %cover-layout;

  &__inner {
    flex: 0 1 90%;

    &__title,
    &__contributor {
      @media screen and (min-width: $medium-screen) {
        max-width: 50%;
      }
    }

    &__title { font-size: 3.5rem; }

    &__subtitle,
    &__reading-line {
      display: block;
      margin-bottom: $small-spacing;
    }

    &__subtitle { font-size: 0.75em; }
    &__reading-line { font-size: 0.65em; }
  }
}
