.quire-figure {
  @extend %section-block;
  clear: both;

  &--group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &.is-stacked { flex-direction: column; }

    &__item { @extend %flex-unit; }
    &__caption {
      flex: 0 0 100%;
      @extend %subtext;
      @extend %small-text;
    }
  }

  &.is-left,
  &.is-right {
    @media screen and (min-width: $medium-screen) {
      margin-bottom: $small-spacing;
      margin-top: $small-spacing;
      max-width: 45%;
    }
  }

  &.is-left {
    @media screen and (min-width: $medium-screen) {
      float: left;
      margin-right: $base-spacing;
    }
  }

  &.is-right {
    @media screen and (min-width: $medium-screen) {
      float: right;
      margin-left: $base-spacing;
    }
  }

  &__image {
    width: 100%;
  }

  &__label {
    @extend %subtext;
    @extend %small-text;
    font-weight: bold;
  }

  &__caption {
    @extend %subtext;
    @extend %small-text;
  }

}
