// Menu
// =============================================================================
// These rules should define the styling of the TOC menu that is visible on all
// pages as a sidebar / modal navigation element.

.quire-menu {
  @extend %container__aside;

  background-color: $nav-bg-color;
  font-size: 0.75em;
  height: 100%;
  padding: 0;

  @media screen and (min-width: $medium-screen) {
    margin: 0 auto;
    max-width: $menu-max-width;
  }

  @media screen and (min-width: $large-screen) {
    font-size: 0.85em;
  }

  @media print {
    display: none;
  }

  &--is-visible {
    @extend %container__aside--is-visible;
    padding: $base-spacing;
  }

  &__inner {
    @extend %fade-in;
    $animation-delay: $base-duration;
  }

  &__title {
    margin-bottom: $small-spacing;
  }

  &__contributors {
    font-size: 0.75em;
    &__item { display: block; }
  }

  &__body { margin-bottom: $base-spacing; }
}
