// =============================================================================
// Quire-contents-list.scss
// -----------------------------------------------------------------------------
//
// Quire uses Bulma's Menu component for the list of links inside the TOC. This
// class exists to provide a small amount of additional styling for the main
// TOC page of the book. Print TOC styles can also be defined on this element.

// .quire-contents-header
// -----------------------------------------------------------------------------
.quire-contents-header {
  text-align: center;
  margin: 0 auto;
  padding: 0 20px;
  h1 {
    font-family: $quire-header-font;
    font-size: 3em;
    font-weight: 700;
    line-height: 1.04em;
    margin: 36px 0 16px 0;
  }
}

// .quire-contents-list
// -----------------------------------------------------------------------------
.quire-contents-list {
  box-shadow: none;
  background-color: $quire-body-background-color;

  h6 {
    margin-top: 20px;
    padding-bottom: 6px;
    border-bottom: 1px solid $grey; 
    margin-bottom: 1em;
    font-weight: 700;
    font-size: 0.65em;
    letter-spacing: initial;
    color: $quire-secondary-color;
  }

  svg {
    height: calc(#{$navbar-height} * .65);
    width: calc(#{$navbar-height} * .65);
    max-height: .95rem;
    max-width: .95rem;
    vertical-align: baseline;
  }

  .arrow ul {
    padding-left: 20px;
    font-size: .75em;
  }

  .menu-list a {
    position: relative;
    padding-left: 0;
    .arrow {
      -webkit-transition: all .5s ease;
      transition: all .5s ease;
    }
    &:hover {
      background-color: inherit;
      color: $quire-primary-color-hover;
      .arrow {
        margin-left: 14px;
        fill: $quire-primary-color-hover;
      }
    }
  }

  .list-header {
    padding: .5em .75em;
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  .contributor {
    font-style: italic;
  }

  &.list,
  &.brief {
    font-family: $quire-header-font;
    li {
      margin-bottom: .5em;
    }
    li > ul {
      margin-top: .5em;
      margin-bottom: .5em;
      margin-right: 0;
    }
    .title {
      font-size: 1.05em;
      font-weight: inherit;
      line-height: inherit;
    }
    .section-item .title {
      margin-bottom: 0;
    }
  }

  &.abstract {
    .title {
      line-height: 1.35;
      margin-bottom: 0;
    }
    .abstract-text {
      padding-left: 1.5rem;
      margin-bottom: 1rem;
      line-height: 1.4;
      p {
        margin-bottom: .5em;
      }
      @if $quire-page-paragraph-style == "indent" {
        p { margin-bottom: 0; }
        p + p { text-indent: 2em; }
      }
    }
  }

  @media screen and (min-width: $desktop) {

  }


  &.grid {

    @media screen and (min-width: $tablet) {
      margin: 0 5rem;
    }

    .title {
      font-size: inherit;
      font-weight: inherit;
      line-height: inherit;
    }

    li > a {
      padding: 1rem;
    }

    ul li {
      float: left;
      width: 100%;

      @media screen and (min-width: $desktop) {
        width: 50%;
        &:nth-child(2n) + li {
          clear: left;
        }
      }

      @media screen and (min-width: $widescreen) {
        width: 33%;
        &:nth-child(2n) + li {
          clear: none;
        }
        &:nth-child(3n) + li {
          clear: left;
        }
      }

      .card {
        min-height: 300px;
        position: relative;
        display: block;
        border-radius: 2px;
        margin: 1rem;

        a {
          padding: 0;
        }

        .card-image {
          -webkit-transition: -webkit-box-shadow .35s;
          transition: box-shadow .35s;
          padding: 1em 1em 0em 1em;

          .image {
            &:hover {
              -webkit-box-shadow: 0px 0px 6px 0px $black-semi-transparent;
              -moz-box-shadow: 0px 0px 6px 0px $black-semi-transparent;
              box-shadow: 0px 0px 6px 0px $black-semi-transparent;
            }
          }
        }
      }

      .card-content {
        font-size: .75em;
        span {
          font-size: .75em;
        }
        .artist {
          text-transform: uppercase;
        }
        p {
          padding-top: 0.5rem;
          a {
            padding: 0;
            color: $quire-primary-color;
            font-size: .75em;
            svg {
              fill: $quire-primary-color;
              vertical-align: text-bottom;
            }
          }
        }
      }
    }

    ul li.section-item {
      width: calc(100% - 2rem);
      margin: 1rem;
      padding-bottom: 1rem;
      border: 1px solid lighten($dark, 65%);
      box-shadow: $box-shadow;
      & > a > .card {
        box-shadow: none;
        background-color: inherit;
        min-height: 0;
      }
      &.no-landing-page {
        & > a > .card {
          min-height: 300px;
        }
      }
      ul {
        padding-left: 0;
        margin: 0;
        border-left-width: 0px;
      }
      .list-header {
        margin-top: 1.5em;
        margin-left: 1em;
      }
    }

    @media screen and (min-width: $desktop) {
      @supports (display: grid) {
        ul {
          display: grid;
          grid-gap: .25rem;
          grid-template-columns: repeat(2, 1fr);
          li {
            width: 100%;
            float: none;
            margin: inherit;
          }
          li.section-item {
            grid-column: 1/3;
          }
        }
      }
    }

    @media screen and (min-width: $widescreen) {
      @supports (display: grid) {
        ul {
          display: grid;
          grid-gap: .25rem;
          grid-template-columns: repeat(3, 1fr);
          li {
            width: 100%;
            float: none;
            margin: inherit;
          }
          li.section-item {
            grid-column: 1/4;
          }
        }
      }
    }

    @media screen and (min-width: $fullhd) {
      @supports (display: grid) {
        ul {
          display: grid;
          grid-gap: .25rem;
          grid-template-columns: repeat(4, 1fr);
          li {
            width: 100%;
            float: none;
            margin: inherit;
          }
          li.section-item {
            grid-column: 1/5;
          }
        }
      }
    }

  }

  @media print {
    .quire-contents-list {
      column-span: all;
      font-size: 11pt;
    }
  }
}
