// =============================================================================
// Quire-figure.scss
// -----------------------------------------------------------------------------
//
// Quire-figure component. The q-figure shortcode outputs the following markup:
// <figure class="quire-figure">
//   <img class="quire-figure__image" />
//   <span class="quire-figure__label"></span>
//   <figcaption class="quire-figure__caption"></figcaption>
// </figure>
//
// In most cases the default styling from Bulma's figure and .content figure
// rules should be sufficient, but additional styling can go here.
//
// Figure groups get the additional class .quire-figure--group
//
// scss-lint:disable EmptyRule

// .quire-figure
// -----------------------------------------------------------------------------
.quire-figure {
  border-top: 1px solid $quire-primary-color;
  border-bottom: 1px solid $quire-primary-color;
  padding: 1em 0;

  .q-figure__wrapper {
    a {
      border: none;
      display: block;
      position: relative;

      &:hover {
        background-color: transparent;

        >span.fig {
          background-color: $dark-red;
          transition: background-color .35s;
        }

        >img {
          -webkit-transition: -webkit-box-shadow .35s;
          transition: box-shadow .35s;
          -webkit-box-shadow: 0px 0px 6px 0px $black-semi-transparent;
          -moz-box-shadow: 0px 0px 6px 0px $black-semi-transparent;
          box-shadow: 0px 0px 6px 0px $black-semi-transparent;
        }
      }

      span.fig {
        font-size: .75em;
        /** approx 12px **/
        background: $black-semi-transparent;
        /** sets transparent background without affecting text color **/
        position: absolute;
        padding: 0 9px 0 3px;
        left: 0;
        top: 0;
        color: $white;
        height: 27px;
        max-height: 27px;

        strong {
          min-height: 24px;
          vertical-align: super;
        }
      }

      span.fig-false {
        padding: 0;
        height: 24px;
        max-height: 24px;
      }

      img {
        object-fit: cover;
        width: 100%;
      }
    }
  }

  .q-figure__wrapper {
    border: none;
    display: block;
    position: relative;

    &:hover {
      background-color: transparent;

      >span.fig {
        background-color: $dark-red;
        transition: background-color .35s;
      }

      >img {
        -webkit-transition: -webkit-box-shadow .35s;
        transition: box-shadow .35s;
        -webkit-box-shadow: 0px 0px 6px 0px $black-semi-transparent;
        -moz-box-shadow: 0px 0px 6px 0px $black-semi-transparent;
        box-shadow: 0px 0px 6px 0px $black-semi-transparent;
      }
    }

    span.fig {
      font-size: .75em;
      /** approx 12px **/
      background: $black-semi-transparent;
      /** sets transparent background without affecting text color **/
      position: absolute;
      padding: 0 9px 0 3px;
      left: 0;
      top: 0;

      strong {
        min-height: 24px;
        vertical-align: super;
        color: $white;
      }
    }

    span.fig-false {
      padding: 0;
      height: 24px;
      max-height: 24px;
    }

    img {
      object-fit: cover;
      width: 100%;
    }
  }

  .content & {
    margin-left: 0;
    margin-right: 0;

    @media screen and (min-width: $tablet) {
      margin-left: 2em;
      margin-right: 2em;
    }
  }

  &__image {
    .content figure & {
      display: block;
      margin: 0 auto;
    }
  }

  &__label {
    // display: block;
    // font-size: 1rem;
    // margin-top: .5rem;
    font-weight: 700;

    .quire-figure__caption & {
      // display: block;
    }
  }

  .content figure &__caption {
    font-size: 0.75em;
    line-height: 1.5;
    margin-top: .5rem;
    font-style: normal;
    text-align: left;
    color: $light-black;

    @media print {
      margin-top: 5pt;
      font-size: 9pt;
    }
  }

  &__credit {

    // display: block;
    // font-size: 1em;
    // margin-top: .25rem;
    @media print {
      font-size: 7.5pt;
      margin-top: 1.5pt;
    }
  }

  &__modal {
    color: $red;

    .material-fullscreen,
    .material-slides {
      top: 8px;
      position: relative;
    }
  }

  &__media-wrapper {
    &--standard {
      padding-bottom: 75%;
      position: relative;

      @media print {
        padding-bottom: 0;
        position: inherit;
      }
    }

    &--widescreen {
      padding-bottom: 56.25%;
      position: relative;

      @media print {
        padding-bottom: 0;
        position: inherit;
      }
    }
  }

  &__media {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &__media-fallback {
    .content figure & {
      display: none;

      @media print {
        display: block;
        width: 100%;
      }
    }

    &__text {
      display: none;

      @media print {
        display: inline;
      }
    }
  }

  &__video {
    width: 100%;
  }

  &.is-pulled-left,
  &.is-pulled-right {
    @media screen and (min-width: $tablet) {
      width: 50%;
    }

    @media print {
      float: none !important;
      width: unset !important;
    }
  }

  &--group {

    &__row {
      display: flex;
      justify-content: space-between;
      margin-bottom: .75rem;
      flex-wrap: wrap;

      @media print {
        display: inline-block;
        margin-bottom: 0;
        clear: both;
      }
    }

    &__item {
      display: block;
      flex-basis: 0;
      flex-grow: 1;
      flex-shrink: 1;

      .content & {
        margin-left: 0;
        margin-right: 0;
        margin-top: 0;
      }

      .content &:not(:last-child) {
        margin-bottom: 0;
      }

      .content &:not(:first-child) {
        margin-top: 0;
      }

      +.quire-figure__caption {
        clear: both;
        padding-top: 1rem;
      }
    }

    .quire-grid--2 {
      width: 49%;

      @media print {
        width: 48%;
      }
    }

    .quire-grid--3 {
      width: 32%;

      @media print {
        width: 31.3%;
      }
    }

    .quire-grid--4 {
      width: 23.5%;

      @media print {
        width: 23%;
      }
    }

    .quire-grid--5 {
      width: 18.4%;

      @media print {
        width: 18%;
      }
    }

    .quire-grid--6 {
      width: 15%;

      @media print {
        width: 14.6%;
      }
    }

    &:last-child {
      margin-right: 0;
    }

    /*
    .soundcloud,
    .youtube,
    .vimeo {
      flex: 0 0 100%;
    }
    */

    .quire-figure__caption {
      clear: both;
      width: 100%;
    }
  }

  @media print {
    width: 96%;
    column-span: none;
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
  }

}

/** VIDEO/AUDIO FALLBACK ELEMENTS **/
div.multimedia {
  overflow-wrap: break-word;
  word-wrap: break-word;
  border: 1px solid $gray;
  padding: 0;
  text-align: left;
  position: relative;
  display: flex;
  margin-bottom: .5em;

  .placeholder {
    color: $white;
    background-color: $black;
    min-width: 80px;
    max-width: 80px;
    width: 80px;
    height: 100%;
    min-height: 80px;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-right: .5em;

    i,
    div {
      color: $white;
    }
  }

  .multimedia-metadata {
    position: relative;
    margin: .5em;

    h5.header {
      font-family: 'Noto Sans', sans-serif;
      font-size: 1em;
      color: $black;
      font-weight: 400;
    }

  }


  &-grid {
    overflow-wrap: break-word;
    word-wrap: break-word;
    display: block;
    border: 1px solid $gray;
    padding: 0;
    text-align: left;
    position: relative;

    .placeholder {
      text-align: center;
      color: $white;
      height: 80px;
      background-color: $black;
      margin-right: .75em;
      width: 100%;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;

      i,
      div {
        color: $white;
      }
    }

    .multimedia-metadata {
      position: relative;
      margin: .75em;

      h5.header {
        font-family: 'Noto Sans', sans-serif;
        font-size: 1em;
        font-weight: 400;
        margin: .5em 0 0 0;
        color: $black;
      }

    }
  }

  p {
    margin: 0;
  }

  .caption {
    font-size: .75em;
    line-height: 1.8em;
    color: $black;
    word-break: break-all;
  }

}

/** VIDEO/AUDIO FALLBACK ELEMENTS **/