// =============================================================================
// Quire-cover.scss
// -----------------------------------------------------------------------------
// Cover component (used in the layout for 'cover' page types)

// Variables
// -----------------------------------------------------------------------------
$quire-cover-background-color: $info !default;
$quire-cover-text-color: findColorInvert($quire-cover-background-color) !default;

$quire-footer-background-color: $light !default;
$quire-footer-text-color: findColorInvert($quire-footer-background-color) !default;

.quire-cover {
  background-color: $quire-cover-background-color;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  @include foreground-color($quire-cover-background-color, $quire-cover-text-color);

  &.hero.is-fullheight {
    min-height: calc(100vh - #{$navbar-height});
  }

  .subtitle {
    display: block;
    margin-top: .35em;
  }

}

.quire-cover-footer {
  background-color: $quire-footer-background-color;

  @include foreground-color($quire-footer-background-color, $quire-footer-text-color);

  a.quire-copyright__icon__link:hover {
    background-color: transparent;
  }

}
