.quire-search {
  background-color: $dark;
  display: none;
  height: 100vh;
  position: absolute;
  width: 100%;
  z-index: 1000;

  &.is-active { display: block; }

  &__inner {
    &__list-item {
      margin: 1.5rem 0;
    }
  }

  &__close-button {
    position: absolute;
    right: 0;
    top: 0;

    button.button {
      background-color: transparent;
      border: 0;
    }

    svg {
      height: 1.25rem;
      width: 1.25rem;
      fill: $dark-invert;
    }

  }
}
