// =============================================================================
// Quire-entry.scss
// -----------------------------------------------------------------------------
// Entry-layout specific styles (catalogue-style pages with prominent images at
// the beginning). The main text content area of this page uses the .quire-page
// class and sub-classes, but elements specific to this layout use .quire-entry
// instead.

// scss-lint:disable EmptyRule

$quire-entry-header-height: 6rem;

.quire-entry {
  &__image {
    background-color: $dark;
    height: calc(100vh - #{$quire-entry-header-height} - #{$navbar-height});
    display: flex;
    align-items: center;
    justify-content: center;

    figure {
      flex: 1 1 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
    }

    img {
      margin: 0 auto;
      max-height: 100%;
    }

    .quire-image-control {
      position: absolute;
      right: 1rem;
      bottom: 1rem;
      font-size: .8rem;
      background-color: $dark;
      color: $light;
      border-color: $light;
      height: 2.25rem;
      z-index: 10;

      &.quire-image-info {
        right: 4.5rem;
        max-width: 400px;
        display: none;
        padding: 1rem 1rem 2.5rem 1rem;
        border-radius: 3px;
        z-index: 1;
        height: auto;
      }

      &--more {
        right: 4.5rem;

        &:hover,
        &:focus {
          border-left-width: 0;
          border-top-width: 0;
          + .quire-image-info,
          + .quire-image-info {
            display: block;
            border: 1px solid $light;
          }
        }

      }

      svg {
        position: relative;
        height: 1.5em;
        width: 1.5em;
        fill: $light;
        // fill: $quire-navbar-text-color;
        & img {
          position: absolute;
          top: 0;
          left: 0;
          max-height: 1.5em;
        }
      }
    }
  }

  &__header {
    height: $quire-entry-header-height;
    margin-bottom: 3rem;
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
  }

  &__tombstone {
    padding-top: 0;
  }

  .quire-page__content {
    padding-top: 1.5rem;
  }
}
