// =============================================================================
// Quire-buttons.scss
// -----------------------------------------------------------------------------
//
// Reusuable code for the prev/next buttons at the bottom of each page.

// .quire-contents-buttons
// -----------------------------------------------------------------------------
.quire-contents-buttons {
  width: 100%;
  display: block;
  text-align: center;
  padding-bottom: 3em;
  padding-top: 2em;

  li.quire-nav-button {
    display: inline-block;
    width: 7em;
    height: 2.175em;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -webkit-transition: all .25s ease;
    transition: all .25s ease;
    font-size: 1em;
    background: $secondary-background-color;
    @if $theme == classic {
      border: 1px solid $off-black;
    } @else {
      border: 1px solid $accent-color;
    }

    a {
      display: inline-block;
      width: 8.75em;
      height: 3.25em;
      color: background-color($accent-color);
      font-size: .8em;
      margin-top: 0;
      padding-top: .5em;
      font-family: $noto-sans;
    }

    &.prev {
      margin-left: 0;
      margin-right: .55rem;
      a {
        @if $theme == classic {
          color: $off-black;
        } @else {
          color: $accent-color;
        }
        margin-right: .5rem;
      }
      svg {
        @if $theme == classic {
          fill: $off-black;
        } @else {
          fill: $accent-color;
        }
        margin-right: .5rem;
      }
    }

    svg {
      width: 1.25rem;
      height: 1.25rem;
      margin-left: -.25rem;
      margin-bottom: .15rem;
      fill: $accent-color;
    }

    .nav-title {
      vertical-align: super;
    }

    &.next {
      @if $theme == classic {
        background-color: $off-black !important;
      } @else {
        background-color: $accent-color;
      }
      svg {
        fill: findColorInvert($accent-color);
      }
      &:hover {
        background-color: darken($accent-color, 10%);
      }
      a {
        color: findColorInvert($accent-color);
      }
    }

    &:hover {
      background-color: darken($accent-color, 10%);
      border-color: darken($accent-color, 10%);
      @if $family-primary == $noto-serif {
        background-color: darken($accent-color, 10%);
      }
      a {
        color: findColorInvert($accent-color);
      }
      svg {
        fill: findColorInvert($accent-color);
      }
    }
  }
}