$gap: 16px !default;
$quire-deepzoom-height: 500px !default;
$color_1: $white;
$color_2: $white;
$color_3: $black;
$background_color_1: $blue;

.no-popup-quire-deepzoom {
    height: $quire-deepzoom-height; 
}

.quire-deepzoom {
    .leaflet-control-zoom {
        .leaflet-bar {
            a {
                color: $dark;
            }
            .leaflet-control-layers-toggle {
                background-image: url(https://i.stack.imgur.com/3keSg.png) !important;
                background-color: $background_color_1;
                background-size: 20px 20px;
            }
        }
    }
}

.leaflet-touch {
    .leaflet-control-layers-toggle {
        background-image: url(https://i.stack.imgur.com/3keSg.png) !important;
        background-color: $background_color_1;
    }
}

.leaflet-control-layers-expanded {
    color: $color_1;
    background-color: $background_color_1;
}

div.leaflet-container {
    background: $color_3;
}

div.leaflet-control-container {
    background: $color_3;
    >div.leaflet-top.leaflet-left {
        >div.leaflet-bar {
            box-shadow: none;
            border: none;
            border-radius: 0;
        }
        >div.leaflet-control-zoom.leaflet-bar.leaflet-control {
            >a {
                background: $dark-semi-transparent;
                color: $color_2;
                border-bottom: none;
                border-radius: 0;
            }
        }
        >div.leaflet-control-fullscreen.leaflet-bar.leaflet-control {
            >a {
                color: $color_2;
                border-bottom: none;
                background-repeat: no-repeat;
                background-color: $dark-semi-transparent;
                margin-top: 0;
                border-radius: 0;
                background-size: 26px 52px;
            }
        }
    }
}

div.leaflet-fullscreen-on>div.leaflet-control-container > div.leaflet-top.leaflet-left > div.leaflet-control-fullscreen.leaflet-bar.leaflet-control > a {
    background-position: 2px -24px;
}

div.leaflet-control-container > div.leaflet-top.leaflet-left > div.leaflet-control-fullscreen.leaflet-bar.leaflet-control {
    margin-top: 0;
}

div.leaflet-control {
    >a {
        background-color: transparent;
    }
}

.leaflet-outer-wrapper {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.leaflet-inner-wrapper {
    width: 100vw;
    height: 100vh;
}