// =============================================================================
// Quire-citation.scss
// -----------------------------------------------------------------------------

// .quire-citation
// -----------------------------------------------------------------------------
.quire-citation {
  position: relative;
  text-indent: 0;
  &__content {
    visibility: hidden;
    font-size: 0.75em;
    line-height: 1.5;
    background-color: $white;
    color: $off-black;
    padding: 1rem;
    position: absolute;
    width: 400px;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -200px;
    -webkit-box-shadow: 0px 0px 6px 0px $black-semi-transparent;
    -moz-box-shadow: 0px 0px 6px 0px $black-semi-transparent;
    box-shadow: 0px 0px 6px 0px $black-semi-transparent;
  }
  &:hover .quire-citation__content {
    visibility: visible;
  }
}
