$dark: #363636 !default;
$gap: 16px !default;
$quire-deepzoom-height: 500px !default;
$color_1: white;
$color_2: #fff;
$color_3: #000;
$background_color_1: #2da0e2;
.quire-deepzoom {
    // height: $quire-deepzoom-height;
    // margin-bottom: $gap;
    .leaflet-control-zoom {
        .leaflet-bar {
            a {
                color: $dark;
            }
            .leaflet-control-layers-toggle {
                background-image: url(https://i.stack.imgur.com/3keSg.png) !important;
                background-color: $background_color_1;
                background-size: 20px 20px;
            }
        }
    }
}

.leaflet-touch {
    .leaflet-control-layers-toggle {
        background-image: url(https://i.stack.imgur.com/3keSg.png) !important;
        background-color: $background_color_1;
    }
}

.leaflet-control-layers-expanded {
    color: $color_1;
    background-color: $background_color_1;
}

div.leaflet-container {
    background: $color_3;
}

div.leaflet-control-container {
    background: $color_3;
    >div.leaflet-top.leaflet-left {
        >div.leaflet-bar {
            box-shadow: none;
            border: none;
        }
        >div.leaflet-control-zoom.leaflet-bar.leaflet-control {
            >a {
                background: transparent;
                color: $color_2;
                border-bottom: none;
            }
        }
        >div.leaflet-control-fullscreen.leaflet-bar.leaflet-control {
            >a {
                background: transparent;
                color: $color_2;
                border-bottom: none;
                background: transparent url(../img/fullscreen-leaflet.png) no-repeat 0 0;
                background-size: 32px 52px;
            }
        }
    }
}

div.leaflet-control {
    >a {
        background: transparent;
    }
}

.leaflet-outer-wrapper {
    /*
    line-height: 0;
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    */
    width: 100vw;
    height: 100vh;
}

.leaflet-inner-wrapper {
    /*
    width: 100%;
    height: 0;
    overflow: hidden;
    padding-top: 56.25%;
    */
    width: 100vw;
    height: 100vh;
}

.quire-deepzoom {
    // width: 100% !important;
    // height: auto !important;
}

div.leaflet-control-container>div.leaflet-top.leaflet-left {
    // margin-top: 50px;
}

.pswp--zoom-allowed .pswp__img {
    cursor: default !important;
}