// =============================================================================
// Quire-map.scss
// -----------------------------------------------------------------------------

// .quire-map
// -----------------------------------------------------------------------------
.quire-map {
  height: $quire-map-height;
  margin-bottom: $gap;
  @media print {
    height: 0;
  }
}
