.quire-search {
  background-color: $quire-menu-color;
  display: none;
  height: 100vh;
  position: absolute;
  width: 100%;
  z-index: 1000;

  * {
    color: $quire-menu-text-color;
  }

  &.is-active { display: block; }

  &__inner {
    .input {
      background-color: $quire-menu-color;
      border-color: $quire-menu-text-color;
    }
    &__list-item {
      margin: 1.5rem 0;
    }
  }

  &__close-button {
    position: absolute;
    right: 0;
    top: 0;

    button.button {
      background-color: transparent;
      border: 0;
    }

    svg {
      height: 1.25rem;
      width: 1.25rem;
      fill: $quire-menu-text-color;
      & img {
        max-height: 1.15rem;
        position: absolute;
        bottom: 0;
      }
    }

  }
}
