// =============================================================================
// Quire-menu.scss
// -----------------------------------------------------------------------------
// Styling for copyright and license info which normally appears at the bottom
// of the site menu.

.quire-copyright {
  padding: 2rem 1em 0;

  &__icon {
    height: 2.5em;
    & img {
      max-height: 100%;
    }
  }
}
