// =============================================================================
// Quire-page.scss
// -----------------------------------------------------------------------------
//
// Page container component
// - .quire-page__header: Styled with Bulma hero classes by default, but the
//     top-level <section> elemement has this class for overrides.
// - .quire-page__content: Uses Bulma's section & container elements for layout;
//     most styles here relate only to typography.
//
// This stylesheet also controls some of the fundamentals of print layout since
// it governs the body text. It is possible to keep body copy columns mostly
// aligned to a baseline grid but care must be taken to ensure that font-size,
// margins, and line-height add up to mulitples of the body text line-height.

// html
// -----------------------------------------------------------------------------
html {
  font-size: $quire-base-font-size * .9;

  @media screen and (min-width: 500px) {
    font-size: $quire-base-font-size;
  }
}

// .quire-page
// -----------------------------------------------------------------------------
.quire-page {

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 1rem;
    margin-bottom: 1rem;

  }

  h1:not(:first-child) {
    margin-top: 3rem;
  }

  h2:not(:first-child),
  h3:not(:first-child) {
    margin-top: 2rem;
  }

  h4:not(:first-child),
  h5:not(:first-child),
  h6:not(:first-child) {
    margin-top: 1rem;
  }

  h1,
  &__header__title {
    font-family: $quire-header-font;
    font-size: 3.3rem;
    font-weight: 700;
    line-height: 1.14;
    -webkit-animation: fadeIn 2s;
    /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadeIn 2s;
    /* Firefox < 16 */
    -ms-animation: fadeIn 2s;
    /* Internet Explorer */
    -o-animation: fadeIn 2s;
    /* Opera < 12.1 */
    animation: fadeIn 2s;

    em {
      font-style: normal;
    }

    @media screen and (min-width: $tablet) {
      font-size: 3.3rem;
      line-height: 1.07;
    }

    @if $family-secondary==$serif {
      font-size: 2.8rem;
      font-weight: 600;
      line-height: 1.24;

      @media screen and (min-width: $tablet) {
        font-size: 3rem;
        line-height: 1.33;
      }
    }

    @media print {
      font-size: 30pt;
      margin-top: .75in;
      // border: 1px solid #ff0000;
    }
  }

  h2 {
    font-family: $family-secondary;
    font-size: 2.7rem;
    font-weight: 300;
    line-height: 1.09;

    @if $family-secondary==$serif {
      font-size: 2.5rem;
      line-height: 1.2;
    }

    @media print {
      font-weight: 400;
    }
  }

  h3,
  h4,
  &__header__subtitle,
  &__header__contributor {
    font-family: $quire-nav-font;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.143;
  }

  &__header__subtitle {
    display: block;
    font-style: italic;
    font-weight: 400;
    margin-top: 1rem;

    em {
      font-style: normal;
    }

    @if $family-secondary==$serif {
      font-weight: 600;
      line-height: 1.3;
    }

    @media print {
      font-size: 16pt;
    }
  }

  &__header__contributor {
    font-weight: 400;
    margin-top: 3rem;

    @media print {
      font-size: 13pt;
      margin-top: .375in;
    }
  }

  h4 {
    font-size: 1.625rem;
    font-weight: 400;
    line-height: 1.23;
  }

  h5,
  h6 {
    font-family: $family-secondary;
    font-weight: 400;
  }

  h5 {
    font-weight: 600;
  }

  h5,
  h6 {
    font-size: 1.25rem;
    line-height: 1.2;
    margin-top: .5rem;
    margin-bottom: .5rem;
  }

  &__content {
    font-size: 1.125rem;
    line-height: 1.78;
    font-weight: 400;
    padding-top: 0;
    padding-bottom: 0;
    position: relative;
    animation: .5s ease-out 0s 1 slideFromRight;
    color: background-color-text($secondary-background-color);

    @if $family-primary !=$serif {
      font-size: 1.25rem;
      font-weight: 400;
      line-height: 1.6;
    }

    ul {
      li {
        a {
          font-size: .875em;
        }
      }
    }

    table {
      font-size: .875em;
    }

    strong {
      color: background-color-text($secondary-background-color);
    }

    .container {
      padding-left: 2em;
      padding-right: 2em;

      @media print {
       padding: 0;
       margin: 0 auto;
      }

      .content {
        padding-top: 1em !important;
        margin-top: 45px;
        font-size: 16px;
        padding: 40px 2.5em;

        @media print {

         }

        @if $theme == modern {
          background-color: $white !important;
        } @else if $theme == classic {
          background-color: $off-white !important;
        } @else {
          background-color: $content-background-color;
        }

        hr {
          background-color: lighten($off-black, 15%);
        }

        table {
          td, th {
            color: background-color-text($secondary-background-color);
            border-color: lighten($off-black, 15%);
          }
        }

        p {
          line-height: 2;
          @media print {
            line-height: 1.5;
          }
        }

        blockquote {
          border-left: none;
          position: relative;

          &:before {
            color: lighten($off-black, 15%);
            font-size: 4em;
            line-height: 0.1em;
            margin-right: 0.25em;
            content: '“';
            position: absolute;
            top: .35em;
            left: -.25em;
          }
        }

        .backmatter {
          h2 {
            color: background-color-text($content-background-color);
            font-size: .875em;
            line-height: 1.28em;
            text-transform: uppercase;
            margin-top: 20px;
            padding-bottom: 6px;
            border-bottom: 1px solid background-color-text($content-background-color);
          }
          .title {
            color: background-color-text($content-background-color);
          }

          p {
            font-size: 0.875em;
            line-height: 1.6em !important;
          }

          .media {
            display: flex;
          }
        }

        #notes {
          font-size: .875em;
          line-height: .5em;
          margin-top: 20px;
        }

        .footnotes {
          font-size: .875em;

          hr {
            background-color: background-color-text($secondary-background-color);
            margin-bottom: 0;
          }
        }
      }
    }
  }

  &__abstract {
    font-style: italic;
    padding-bottom: 0;
    font-size: .875em;
    line-height: 1.7em;
    margin-bottom: -3.2em;
    @media print {
      line-height: 1.7em;
      font-size: 1.25em;
    }

    h2 {
      font-weight: 400;
      font-size: 1.625em;
      font-family: $quire-header-font;
    }

    .container {
      padding: 3em 2em 1em;
      @if $theme == modern {
        background-color: $white !important;
      } @else if $theme == classic {
        background-color: $off-white !important;
      } @else {
        background-color: $content-background-color;
      }

      &:after {
        display: block;
        text-align: center;
        content: "✦\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0✦\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0✦";
        margin: 0 auto;
        background-color: transparent;
        font-style: normal;
        margin-top: 1em;
      }
    }
  }

  &--frontmatter {
    background-color: $off-white;
    @media print {
      background-color: transparent;
    }
  }

  &__splash {
    .quire-page__header {
      &__title, &__subtitle {
        
      }
    }
  }
}


// .quire-page-header
// -----------------------------------------------------------------------------
.quire-page__header {
  background-color: $secondary-background-color;
  @media print {
    background-color: transparent;
  }
  @include foreground-color($quire-page-header-color, background-color-text($content-background-color));
  background-size: cover;
  background-repeat: no-repeat;
  background-position: cover;
  text-align: center;

  &.hero__image {
    height: 80vh;
    @media print {
      margin-bottom: 0;
      height: 0;
    }
    .quire-page__header {
      &__title, &__subtitle {
        color: $content-background-color;
      }
    }
  }

  .quire-page--splash & {
    * {
      color: findColorInvert($accent-color);
    }

    .hero-body {
      display: inline-block;
      max-width: none;
      top: 15%;
      text-align: center;
    }

    &.quire-page__header--full-height {
      min-height: calc(60vh - #{$navbar-height});

      .quire-page__header__splash-page-arrow {
        position: absolute;
        bottom: 0;
        width: 6%;
        left: 47%;
        right: 47%;

        svg {
          width: 1rem;
          fill: findColorInvert($accent-color);
        }
      }
    }
  }

  .hero-body {

    // padding-top: 9rem;
    // padding-bottom: 9rem;
    span {
      color: background-color-text($content-background-color);
      font-size: 16px;
      line-height: 1.5;
      text-rendering: optimizelegibility;
      opacity: 0.5;
    }

    @media screen and (min-width: $desktop) {
      margin: 0 5rem;
    }

    @media print {
      padding: 0;
      // This border is a hack for PrinceXML which doesn't
      // otherwise recognize the box sizing for some reason
      border: 1pt solid transparent;
    }
  }

  @media print {
    &.hero {
      background-color: transparent;
      height: 3in;
    }
  }
}

.quire-page--splash {
  .quire-page__header {
    .hero-body {
      background-color: transparent;
    }
    &__title, &__subtitle {
      color: background-color-text($secondary-background-color);
    }
  }
  .hero-image {
    .hero-body {
      .quire-page__header {
        &__title, &__subtitle {
          color: background-color-text($dark) !important;
        }
      }
    }
  }

  .quire-page__content {
    p {
      &:first-child {
        &:first-letter {
          font-size: 9em;
          float: left;
          margin-top: .1em;
          margin-left: -0.09em;
          padding-right: 0.025em;
          line-height: .85em;
        }
      }
    }
  }
}

.quire-page--frontmatter.quire-essay,
.quire-essay {
  .quire-page__abstract {
    padding-top: 1em;
    margin-bottom: -2.6em;

    @media screen and (max-width: $tablet) {
      margin-bottom: -3em;
    }

    &:after {
      font-size: 0.86em;
    }

    .container {
      padding: 1em 2.286em 1em !important;
      margin: 0 auto;
      max-width: $desktop + (1.25 * $gap);
      width: $desktop + (1.25 * $gap);

      .content {
        padding: 0 0 1em;
        font-size: 0.7525em;
        line-height: 1.714em;
      }
    }
  }
}

.quire-page__content {
  .quire-page__abstract {
    @media print {
      column-span: all;
      width: 75%;
      margin: 0 auto;
    }

    .container {
      @media print {
        column-span: all;
      }

      &:after {
        @media print {
          column-span: all;
          margin-bottom: 2em;
        }
      }
    }
  }

  // Overrides to Bulma's .content styles where needed.
  .content {

    a:not([rel=footnote]):not(.footnote-return) {
      color: $accent-color;

      @media print {
        color: $page-text-color;
        border-bottom-width: 0;
      }
    }

    a {
      @media print {
        color: $page-text-color;
      }
      &:hover {
        color: darken($accent-color, 15%) !important;
        border-bottom-width: 2px;
      }
      &:focus {
        background-color: $quire-hover-color;
      }
    }

    tbody {
      tr {
        &:hover {
          background-color: $quire-hover-color;
        }
      }
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      letter-spacing: -0.025em;
      color: findColorInvert($content-background-color);
    }

    h2 {
      text-transform: uppercase;
      font-size: 1.75em;
      line-height: 1.15em;
      margin-top: .5714em;
    }

    h3 {
      font-style: italic;
      font-weight: 400;
      font-size: 1.625em;
    }

    h4 {
      font-size: 1.375em;
      line-height: 1.2em;
    }

    h5 {
      font-size: 1.125em;
      line-height: 1.22em;
    }

    h6 {
      text-transform: uppercase;
      font-size: .875em;
      line-height: 1.28em;
      padding-bottom: 0.25em;
      border-bottom: 1px solid $off-black;
    }

    .quire-page__content__references {

      // font-size: 0.675em;
      h2 {
        margin-top: 1em;
        padding-bottom: .2em;
        font-size: .875em;
        // font-style: normal;
        // font-weight: 700;
        // text-transform: uppercase;
        border-bottom: 1px solid background-color-text($content-background-color);
      }

      span,
      dd {
        font-size: .875em;
      }
    }

    blockquote {
      padding: 0 0 0 1.5em;
      margin: 1.5em 0 1.5em 0;

      @media screen and (min-width: $tablet) {
        padding: 0 0 0 1.5em;
        margin: 1.5em 0 1.5em 1.5em;
      }

      background-color: transparent;
      font-style: italic;

      em {
        font-style: normal;
      }

      @media print {
        border-left-width: 0;
      }
    }

    .footnotes {
      margin-top: -.75em;

      hr {
        background-color: $off-black;
        height: 1px;
      }

      ol {
        margin-left: 1em;

        li {
          margin-bottom: 1em;
        }
      }

      a {
        color: $accent-color;
      }

      p+p {
        text-indent: 0;
      }
    }

    .leaflet-control {
      a {
        color: $dark;
      }
    }

    @if $quire-page-paragraph-style=="indent" {
      p {
        margin-bottom: 0;
      }

      p+p {
        text-indent: 2em;
      }

      blockquote {
        margin: 1em 0 1em 0;

        @media screen and (min-width: $tablet) {
          margin: 1.5em 0 1.5em 1.5em;
        }
      }
    }

    @media print {
      h2 {
        font-size: 18pt;
        line-height: 18pt;
        margin-bottom: 8pt;
        margin-top: 18pt;

        +h3 {
          margin-bottom: 10pt;
          margin-top: 0;
        }
      }

      h3 {
        font-size: 12pt;
        line-height: 13pt;
        margin-bottom: 13pt;
        margin-top: 13pt;
      }

      ul {
        margin-bottom: 0;
        margin-top: 0;
      }

      li+li {
        margin-top: 0;
      }
    }
  }

  @media print {
    column-count: 2;
    column-fill: balance;
    column-gap: .1875in;
    font-size: 9pt;
    line-height: 14pt;
    margin: 0;
  }

  .quire-page--frontmatter &,
  .quire-page--backmatter & {
    @media print {
      column-count: 1;
      margin: 0 .75in;
    }
  }
}