// =============================================================================
// Quire-navbar.scss
// -----------------------------------------------------------------------------
//
// Top-level container / banner for the site navigation. Full-width, optional
// background color. Fixed positioning causes some issues so not using this for
// now. Has the following components:
//
// - .quire-navbar-skip-link: Accessibility element, allows users of assistive
//     technologies to quickly skip to #main content.
// - .quire-navbar-controls: the various UI elements including search and menu
// - .quire-navbar-page-controls: central part of the controls which includes
//     page title, site title, and next/prev controls.
// - .quire-navbar-button: overrides of native button styles, but the <button>
//     element is used for accessibility reasons.
//
// Where possible this component will borrow from Bulma's .navbar component, but
// the needs are different and this will not support all of Bulma's
// functionality out of the box.
//

// scss-lint:disable NameFormat

// .quire-navbar
// -----------------------------------------------------------------------------
.quire-navbar {
  font-family: $quire-nav-font;
  font-weight: 400;
  font-size: .875em;

  svg {
    height: calc(#{$navbar-height} * .65);
    width: calc(#{$navbar-height} * .65);
    max-height: 1rem;
    max-width: 1rem;
    vertical-align: sub;
  }

  @if $navbar-height <= 2rem {
    font-size: .85rem;
  }
  @if $navbar-height <= 1rem {
    font-size: .65rem;
  }

  @include foreground-color($quire-navbar-color,$quire-navbar-text-color);
  background-color: $quire-navbar-color;
  min-height: $navbar-height;
  top: 0;
  width: 100%;
  border-bottom: 1px solid $quire-navbar-text-color;

  * {
    transition: background 0.15s linear;
  }

  a {
    display: block;
    padding: 0 0.5em;
  }

  @media print {
    display: none;
  }
  &:hover {
    .quire-progress-bar {
      height: 18px;
    }
  }
}

// .quire-progress-bar
// -----------------------------------------------------------------------------
.quire-progress-bar {
  height: 1px;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  font-family: $quire-nav-font;
  font-size: 0.75rem;
  span {
    color: $white;
  }
  div {
    width: 100%;
    background-color: $quire-primary-color-hover;
    text-align: right;
    padding-right: .5em;
  }
}

// .quire-navbar-controls
// -----------------------------------------------------------------------------
.quire-navbar-controls {
  display: flex;
  flex-wrap: no-wrap;
  justify-content: space-between;
  line-height: $navbar-height;
  height: $navbar-height;

  &__left {
    align-self: flex-start;
    flex: 0 1 $navbar-height;
  }

  &__center { flex: 1 1 auto; }

  &__right {
    flex: 0 1 $navbar-height;
    text-align: right;
  }
}

.quire-navbar-page-controls {
  display: flex;
  flex-wrap: no-wrap;
  justify-content: center;

  &__item {
    padding: 0 1rem;
    max-height: $navbar-height;
    overflow: hidden;
    display: none;

    span {
      display: block;
    }

    .menu-button {
      width: 18px;
      display: inline-block;
    }

    &.quire-current-page {
      font-style: italic;
    }

    &.quire-previous-page {
      .left-icon {
        margin-right: 1rem;
      }
    }

    &.quire-next-page {
      font-style: normal;
      svg {
        margin-left: 0.65rem;
      }
    }

    @media screen and (min-width: 500px) {
      &.quire-home-page {
        display: block;
      }
    }

    @media screen and (min-width: $desktop) {
      &.quire-current-page {
        display: block;
      }
      &.quire-next-page,
      &.quire-previous-page {
        display: block;
      }
    }

    @media screen and (min-width: 900px) {
      &.quire-section-page {
        display: block;
      }
    }
  }
  @media screen and (min-width: $desktop) {
    .quire-navbar-button {
      display: none;
      &.home-button, &.play-button {
        display: inline-block;
      }
    }
  }
}

// .quire-navbar-button
// -----------------------------------------------------------------------------
.quire-navbar-button {
  // scss-lint:disable PropertySortOrder
  // scss-lint:disable SpaceAfterPropertyColon
  -webkit-appearance: none;
  -moz-appearance:    none;
  appearance:         none;
  // scss-lint:enable PropertySortOrder
  // scss-lint:enable SpaceAfterPropertyColon

  background-color: transparent;
  border: 0;
  height: $navbar-height;
  width: $navbar-height;
  padding: 0;
  transition: all 0.15s linear;

  &:hover {
    background-color: darken($quire-navbar-color, 5%);
    > * { background-color: darken($quire-navbar-color, 5%); }
  }

  svg {
    position: relative;
    top: 2px;
    & img {
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  &.search-button,
  &.menu-button {
    svg {
      height: calc(#{$navbar-height} * .75);
      width: calc(#{$navbar-height} * .75);
      max-height: 1.25rem;
      max-width: 1.25rem;
      & img {
        max-height: 1.25rem;
      }
    }
  }

  &.arrow-button {
    text-align: center;
    svg {
      height: calc(#{$navbar-height} * .65);
      width: calc(#{$navbar-height} * .65);
      max-height: 1rem;
      max-width: 1rem;
      & img {
        max-height: 1rem;
      }
    }
  }
  &.play-button,
  &.home-button {
    text-align: center;
    svg {
      height: calc(#{$navbar-height} * .65);
      width: calc(#{$navbar-height} * .65);
      max-height: 2.5rem;
      max-width: 2.5rem;
      top: 0;
      vertical-align: middle;
      margin-left: 0.5rem;
      margin-top: 0.25rem;
      & img {
        max-height: 2.5rem;
      }
    }
  }
}

// .quire-navbar-skip-link
// -----------------------------------------------------------------------------
.quire-navbar-skip-link {
  &:not(:focus) {
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute;
    width: 1px;
    transition: 0;
  }

  &:focus {
    background-color: darken($quire-navbar-color, 5%);
    clip: unset;
    height: $navbar-height;
    line-height: $navbar-height;
    position: absolute;
    padding-left: 2rem;
    padding-right: 2rem;
    z-index: 1200;
  }
}

