// =============================================================================
// Quire-search.scss
// -----------------------------------------------------------------------------

// .quire-search
// -----------------------------------------------------------------------------
.quire-search {
  background-color: $white;
  display: none;
  height: 100vh;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99999;
  overflow-y:scroll;

  * {
    color: $off-black;
  }

  &.is-active { display: block; }

  &__inner {
    h1.title {
      font-family: $family-secondary;
      font-weight: 300;
      font-size: 2.7rem;
    }
    .input-bar {
      height: calc(#{$navbar-height} * 1);
      span {
        float: right;
        padding-top: 1.25em;
        svg {
          height: calc(#{$navbar-height} * .65);
          width: calc(#{$navbar-height} * .65);
          max-height: 1.5rem;
          max-width: 1.5rem;
        }
      }
    }
    .input {
      background-color: $white;
      margin-bottom: 1rem;
      width: 95%;
      border: none;
      box-shadow: none;
      border-bottom: 1px solid $off-black;
      border-radius: 0;
    }
    &__list-item {
      margin: 1.5rem 0;
      .title {
        span {
          font-size: 1.5rem;
          margin: .75rem 0 .25rem;
          color: $quire-primary-color;
          border-bottom: 1px dotted $quire-primary-color;
        }
      }
    }
  }

  &__close-button {
    position: absolute;
    right: 0;
    top: 0;

    button.button {
      background-color: transparent;
      border: 0;
      height: $navbar-height;
      width: $navbar-height;
      padding: 0;
    }

    svg {
      height: calc(#{$navbar-height} * .75);
      width: calc(#{$navbar-height} * .75);
      max-height: 1.25rem;
      max-width: 1.25rem;
      fill: $off-black;
      & img {
        max-height: 1.15rem;
        position: absolute;
        bottom: 0;
      }
    }

  }
}
