// =============================================================================
// Quire-menu.scss
// -----------------------------------------------------------------------------
//
// Site-wide sidebar menu component. Most of the styles for this come from the
// Bulma .menu class and subclasses or else are applied in the layout.scss file
// for this component's immediate container, .quire__secondary. However, some
// elements of the menu require other specific style rules and those should live
// here.

// scss-lint:disable EmptyRule
// scss-lint:disable SingleLinePerSelector

// Override for Bulma menu element inside of .content
// -----------------------------------------------------------------------------
.content .menu-list {
  list-style-type: none;
  margin-left: 0;
}

// .quire-menu
// -----------------------------------------------------------------------------
.quire-menu {
  font-family: $family-secondary;

  &__header {
    margin: 1rem 0;

    a {
      max-height: 4.5em;
      padding-left: 0.75em;
      &:hover {
        text-decoration: none !important;
      }
    }

    &__title,
    &__subtitle,
    &__title-link {
      display: block;
    }

    &__title {
      font-size: inherit;
      font-weight: 700;
      line-height: 1.125;
      margin-top: 3rem;
      @if $family-secondary == $serif {
        font-size: 2rem;
        font-weight: 600;
        line-height: 1.143;
      }
    }
    &__subtitle {
      font-size: inherit;
      font-weight: 300;
      line-height: 1.143;
      margin: .75rem 0;
    }
    &__contributors {
      margin: .75rem 0 1.25rem;
    }

    h1, h2, h3, h4, h5, h6 { display: inline; }

  }

  &__formats {
    margin-top: 2rem;
    h6 {
      color: $dark-gray;
      border-color: $dark-gray;
    }
    .menu-list {
      margin-top: .75em;
    }
  }

  &__header,
  &__list,
  &__formats {
    a {
      margin: 0 -1rem;
      border-radius: 0;
      border-left: 4px solid transparent;
      &:hover {
        border-left: 4px solid transparent;
        background-color: transparent;
        text-decoration: underline;
      }
    }
  }

  &__footer {
    margin: 2rem 0;
    font-size: .75rem;
    p {
      margin-bottom: 1em;
    }
    .menu-list {
      display: flex;
      margin-top: .5em;
      li + li {
        margin-top: 0;
      }
      a {
        padding: .5em;
        &:hover {
          background-color: inherit;
          text-decoration: underline;
        }
      }
    }
    .quire-copyright {
      padding: 0 .5em;
    }
  }

  .page-item, .section-item {
    a {
      &.active {
        border-left: 4px solid $quire-primary-color;
        color: $quire-primary-color !important;
        text-decoration: none;
      }
    }
  }

  .menu-label {
    color: $dark-gray;
    font-size: .9em;
    font-weight: 600;
    letter-spacing: 0;
    padding-bottom: .5em;
    border-bottom: 1px solid $dark-gray;
  }

  .main {
    padding-top: 1em;
  }

  .menu-list {
    .list-header {
      padding: .5em .75em;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-size: inherit;
      font-weight: inherit;
      line-height: inherit;
      margin-bottom: 0;
    }
    li > ul {
      margin-top: .25em;
      margin-bottom: .25em;
    }
    .section-list {
      .section-list {
        .page-item:not(:first-child) {
          a {
            padding-left: 2em;
            line-height: .5em;
            margin-top: .5em;
            margin-bottom: .75em;
            font-size: .875em;
          }
        }
      }
    }
  }

  a.quire-copyright__icon__link:hover {
    background-color: transparent;
  }
}

