// =============================================================================
// Quire-buttons.scss
// -----------------------------------------------------------------------------
//
// Reusuable code for the prev/next buttons at the bottom of each page.

// .quire-contents-buttons
// -----------------------------------------------------------------------------
.quire-contents-buttons {
  width: 100%;
  display: block;
  text-align: center;
  padding-bottom: 3rem;
  padding-top: 2rem;

  li.quire-nav-button {
    display: inline-block;
    width: 6.65em;
    height: 2em;
    background: transparent;
    border: 1px solid $quire-primary-color;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    font-size: 1em;

    a {
      display: inline-block;
      width: 8.75em;
      height: 3.25em;
      color: $quire-primary-color;
      font-size: .8em;
      padding-top: .4em;
      font-family: $quire-nav-font;
    }

    &.prev {
      margin-left: 0;
      margin-right: .55rem;
      a {
        margin-right: .5rem;
      }
      svg {
        fill: $quire-primary-color;
        margin-right: .5rem;
      }
    }

    svg {
      width: 1.25rem;
      height: 1.25rem;
      margin-left: -.25rem;
      margin-bottom: .15rem;
      fill: $quire-primary-color;
    }

    .nav-title {
      vertical-align: super;
    }

    &.next {
      background-color: $quire-primary-color;
      svg {
        fill: $quire-nav-font-color;
      }
      &:hover {
        background-color: $quire-primary-color-hover;
      }
      a {
        color: $quire-nav-font-color;
      }
    }

    &:hover {
      background-color: $quire-primary-color;
      @if $family-primary == $noto-serif {
        background-color: $quire-primary-color-hover;
      }
      a {
        color: $quire-nav-font-color;
      }
      svg {
        fill: $quire-nav-font-color;
      }
    }
  }
}