// =============================================================================
// Quire-entry.scss
// -----------------------------------------------------------------------------
// Entry-layout specific styles (catalogue-style pages with prominent images at
// the beginning). The main text content area of this page uses the .quire-page
// class and sub-classes, but elements specific to this layout use .quire-entry
// instead.

// scss-lint:disable EmptyRule

$quire-entry-header-height: 6rem;

.quire-entry {
  &__image {
    background-color: $dark;
    height: calc(100vh - #{$quire-entry-header-height} - #{$navbar-height});

    img {
      display: block;
      margin: 0 auto;
      max-height: 100%;
      width: auto;
    }
  }

  &__header {
    height: $quire-entry-header-height;
    margin-bottom: 3rem;
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
  }

  &__tombstone {
    padding-bottom: 0;
    padding-top: 0;
  }

  .quire-page__content {
    padding-top: 1.5rem;
  }
}
