// =============================================================================
// Quire-page.scss
// -----------------------------------------------------------------------------
//
// Page container component
// - .quire-page__header: Styled with Bulma hero classes by default, but the
//     top-level <section> elemement has this class for overrides.
// - .quire-page__content: Uses Bulma's section & container elements for layout;
//     most styles here relate only to typography.
//
// This stylesheet also controls some of the fundamentals of print layout since
// it governs the body text. It is possible to keep body copy columns mostly
// aligned to a baseline grid but care must be taken to ensure that font-size,
// margins, and line-height add up to mulitples of the body text line-height.

// html
// -----------------------------------------------------------------------------
html {
  font-size: $quire-base-font-size;

  p, div {
    -webkit-touch-callout: text; /* iOS Safari */
    -webkit-user-select: text; /* Safari */
     -khtml-user-select: text; /* Konqueror HTML */
       -moz-user-select: text; /* Firefox */
        -ms-user-select: text; /* Internet Explorer/Edge */
            user-select: text; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
  }

  @media screen and (min-width: 500px) {
    font-size: $quire-base-font-size;
  }
}

// .quire-page
// -----------------------------------------------------------------------------
.quire-page {

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  h1:not(:first-child) {
    margin-top: 3rem;
  }

  h2:not(:first-child),
  h3:not(:first-child) {
    margin-top: 2rem;
  }

  h4:not(:first-child),
  h5:not(:first-child),
  h6:not(:first-child) {
    margin-top: 1rem;
  }

  h1,
  &__header__title {
    font-family: $quire-headings-font;
    font-size: 3em;
    font-weight: 700;
    line-height: 1.04em;

    em {
      font-style: normal;
    }

    @media print {
      font-size: 30pt;
      margin-top: .75in;
      // border: 1px solid #ff0000;
    }
  }

  h2 {
    font-family: $quire-headings-font;
    text-transform: uppercase;
    font-size: 1.75em;
    line-height: 1.15em;

    @media print {
      font-weight: 400;
    }
  }

  h3,
  h4,
  &__header__contributor {
    font-family: $quire-navigation-font;
    font-style: italic;
    font-weight: 400;
    font-size: 1.625em;
  }

  &__header__contributor {
    font-weight: 400;
    margin-top: 3rem;
    opacity: 0.75;
    font-size: 1em;

    @media print {
      font-size: 13pt;
      margin-top: .375in;
    }
  }

  h4 {
    font-size: 1.375em;
    line-height: 1.2em;
  }

  h5,
  h6 {
    font-family: $quire-headings-font;
  }

  h5 {
    font-size: 1.125em;
    line-height: 1.22em;
  }

  h5,
  h6 {
    font-size: 1.25em;
    line-height: 1.2;
    margin-top: .5rem;
    margin-bottom: .5rem;
  }

  h6 {
    text-transform: uppercase;
    font-size: .66em;
    font-weight: 700;
    line-height: 1.28em;
    padding-bottom: 0.25em;
    border-bottom: 1px solid $off-black;
  }

  @media screen and (min-width: $tablet) {
    h1 {
      font-size: 2.675em; /** approx 43px **/
      line-height: 1.1em; /** approx 47px **/
    }
    h2, h3 {
      font-size: 1.5em;
    }
    h4 {
      font-size: 1.25em;
    }
  }

  &__content {
    font-family: $quire-primary-font;
    font-size: 1em;
    line-height: 1.78;
    font-weight: 400;
    padding-top: 0;
    padding-bottom: 0;
    position: relative;
    animation: .5s ease 0s 1 slideFromRight;
    color: background-color-text-classic($content-background-color);
    font-size: 1em;
    font-weight: 400;
    line-height: 1.6;

    ul {
      li {
        a {
          font-size: .875em;
        }
      }
    }

    table {
      font-size: .875em;
    }

    .container {
      @media screen and (max-width: $tablet) {
        margin-left: 0;
        margin-right: 0;
      }

      .content {
        padding-top: 2.5em !important;
        margin-top: 45px;
        font-size: $quire-base-font-size;
        padding: 40px 2.5em;
        background-color: $content-background-color;

        @media print {
          padding-top: 0;
          padding-bottom: 0;
          margin: 0 auto;
        }


        hr {
          background-color: lighten($off-black, 15%);
        }

        li {
          margin: 1em 0 0 0;
        }

        table {
          margin: 2em 0;
          display: inline-table;
          td, th {
            color: background-color-text($content-background-color);
            border-width: 0 0 1px;
          }
          tbody {
            td {
              border-left: 4px solid transparent;
              border-right: 4px solid transparent;
            }
          }
        }

        ul {
          list-style: none;
          li {
            &:before {
              @if $theme == classic {
                content: "✦";
              } @else {
                content: "◆";
              }
              font-size: .875rem;
              display: inline-block;
              width: 1em;
              margin-left: -.3em;
              margin-right: .5em;
              box-sizing: border-box;
              vertical-align: text-top;
            }
          }
        }

        dl {
          dt {
            font-weight: 700;
          }
          dd {
            margin-left: 0;
            margin-bottom: 1em;
          }
        }

        p {
          line-height: 2;
          @media print {
            line-height: 1.5;
          }
        }

        blockquote {
          border-left: none;
          position: relative;
          p, ul, ol, dl,
          h1, h2, h3, h4, h5, h6 {
            position: relative;
            &:first-child:before {
              @if (lightness($secondary-background-color) > 50) {
                color: darken($secondary-background-color, 15%);
              } @else {
                color: darken($content-background-color, 15%);
              }
              font-size: 5em;
              line-height: 0.1em;
              margin-right: 0.25em;
              content: '“';
              position: absolute;
              top: .35em;
              left: -.55em;
              @if $theme == classic {
                font-family: $quire-headings-font;
                font-style: normal;
                font-weight: bold;
                font-size: 4em;
                color: background-color-text($content-background-color);
                top: .45em;
                left: -.7em;
                font-size: 3.125em;
              }
            }
          }
          ul, dl {
            margin-left: 0;
          }
          ol {
            margin-left: 1em;
            &:first-child:before {
              @if $theme == classic {
                left: -1em;
              } @else {
                left: -.75em;
              }
            }
          }
        }

        .backmatter {
          font-family: $quire-footnotes-font;
          font-size: .875em;
          line-height: 1.6em;

          h2, h3, h4 {
            font-family: $quire-headings-font;
            @if $theme == classic {
              letter-spacing: .5px;
            } @else {
              letter-spacing: 0;
            }
            color: background-color-text-classic($content-background-color);
            font-size: 1em;
            line-height: 1.28em;
            text-transform: uppercase;
            margin-top: 20px;
            padding-bottom: 6px;
            border-bottom: 1px solid background-color-text-classic($content-background-color);
          }
          h3, h4 {
            font-weight: bold;
            font-style: normal;
            border-bottom-width: 0;
            padding-bottom: 0;
          }
          h4 {
            font-weight: normal;
          }
          .title {
            color: background-color-text($content-background-color);
          }

          p {
            // font-size: 0.875em;
            line-height: 1.6em !important;
          }
          dl {

          }

          .media {
            display: flex;
          }
        }

        .footnotes {
          font-size: .875em;
          font-family: $quire-footnotes-font;
          hr {
            display: none;
          }
          * {
            line-height: 1.6em;
          }
          @if $theme == classic {
            ul {
              li {
                &:before {
                  content: "✦";
                  font-size: 1em;
                  display: inline-block;
                  width: 1em;
                  margin-left: -.75em;
                  box-sizing: border-box;
                  vertical-align: text-bottom;
                }
              }
            }
          }
        }
      }
      &.is-fullhd {
        padding: 0 2em !important;
      }
    }
  }

  &__abstract {
    font-style: italic;
    padding-bottom: 0;
    font-size: .875em;
    line-height: 1.7em;
    margin-bottom: -3.2em;
    @media print {
      line-height: 1.7em;
      font-size: 1.25em;
    }

    em {
      font-style: normal;
    }

    h2 {
      font-weight: 400;
      font-size: 1.625em;
      font-family: $quire-headings-font;
    }

    .container {
      padding: 3em 2em 1em;
      background-color: $content-background-color;

      &:after {
        display: block;
        text-align: center;
        @if $theme == classic {
          content: "✦\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0✦\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0✦";
          font-size: 1em;
        } @else {
          content: "◆\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0◆\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0◆";
        }
        margin: 0 auto;
        background-color: transparent;
        font-style: normal;
        margin-top: 1em;
      }
    }
  }

  &--frontmatter {
    @media print {
      background-color: transparent;
    }
  }

}


// .quire-page-header
// -----------------------------------------------------------------------------
.quire-page__header {
  background-color: $secondary-background-color;
  @media print {
    background-color: transparent;
  }
  color: background-color-text($secondary-background-color);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: cover;
  text-align: center;
  -webkit-animation: fadeIn 2s;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadeIn 2s;
  /* Firefox < 16 */
  -ms-animation: fadeIn 2s;
  /* Internet Explorer */
  -o-animation: fadeIn 2s;
  /* Opera < 12.1 */
  animation: fadeIn 2s;

  &.hero__image {
    height: 80vh;
    @media print {
      margin-bottom: 0;
      height: 0;
    }
    .quire-page__header {
      &__title, &__subtitle {
        color: $content-background-color;
      }
    }
  }

  .quire-splash & {
    * {
      color: findColorInvert($accent-color);
    }

    .hero-body {
      display: inline-block;
      max-width: none;
      top: 15%;
      text-align: center;
    }

    &.quire-page__header--full-height {
      min-height: calc(60vh - #{$navbar-height});
      background-position: center;
    }
  }

  .hero-body {

    // padding-top: 9rem;
    // padding-bottom: 9rem;
    .label {
      line-height: 1.3;
      display: block;
      width: fit-content;
      @if $theme == classic {
        font-size: 1.4rem;
        font-weight: normal;
        @if (lightness($secondary-background-color) > 50) {
          background-color: darken($secondary-background-color, 35%);
        } @else {
          background-color: $white;
        }
        color: $secondary-background-color;
        padding: .35rem .45rem;
        margin: 0 auto 1.7em;
        min-width: 2.6rem;
      } @else {
        font-size: 1.2rem;
        color: background-color-text($secondary-background-color);
        border-top: 2px solid $accent-color;
        border-bottom: 2px solid $accent-color;
        padding: .2rem .3rem;
        letter-spacing: 0;
        margin: 0 auto 1.9em;
      }
    }

    @media screen and (min-width: $desktop) {
      margin: 0 5rem;
    }

    @media print {
      padding: 0;
      // This border is a hack for PrinceXML which doesn't
      // otherwise recognize the box sizing for some reason
      border: 1pt solid transparent;
    }
  }

  @media print {
    &.hero {
      background-color: transparent;
      height: 3in;
    }
  }
}

.quire-splash {
  .quire-page__header {
    .hero-body {
      background-color: transparent;
    }
    &__title, &__subtitle {
      color: background-color-text($secondary-background-color);
      .label {
        color: background-color-text($secondary-background-color);
      }
    }
  }
  .hero-image {
    .hero-body {
      .quire-page__header {
        &__title, &__subtitle {
          color: background-color-text($off-black) !important;
          .label {
            color: background-color-text($off-black) !important;
          }
        }
      }
    }
  }

  .quire-page__content {
    .container .content {
      background-color: $secondary-background-color;
      &.no-image-above {
        margin-top: 0;
      }
    }
    p {
      &:first-child {
        &:first-letter {
          font-size: 9em;
          float: left;
          margin-top: 0;
          margin-left: -0.09em;
          padding-right: 0.025em;
          line-height: .85em;
        }
      }
    }
  }
}

@supports (-moz-appearance:none) {
  .quire-splash {
    .quire-page__content {
      p {
        &:first-child {
          &:first-letter {
            font-size: 9em;
            float: left;
            margin-top: .1em !important;
            margin-left: -0.09em;
            padding-right: 0.025em;
            line-height: .85em;
          }
        }
      }
    }
  }
}

.quire-page--frontmatter.quire-essay,
.quire-essay {
  .quire-page__abstract {
    padding-top: 1em;
    margin-bottom: -3.5em;

    @media screen and (max-width: $tablet) {
      margin-bottom: -3em;
    }

    &:after {
      font-size: 0.86em;
    }

    .container {
      padding: 1em 2.75em 1em !important;
      margin: 0 auto;
      max-width: $desktop + (1.25 * $gap);
      width: $desktop + (1.25 * $gap);
      font-size: $quire-base-font-size;

      @media print {
        margin: 0 auto;
        padding: 0;
        max-width: 100%;
        width: 100%;
      }

      .content {
        margin: 0;
        padding: 0 0 1em;
        font-size: 0.875em;
        line-height: 1.714em;
      }
    }
  }
}

.quire-page__content {
  .quire-page__abstract {
    @media print {
      column-span: all;
      width: 75%;
      margin: 0 auto;
    }

    .container {
      @media print {
        column-span: all;
      }

      &:after {
        @media print {
          column-span: all;
          margin-bottom: 2em;
        }
      }
    }
  }



  // Overrides to Bulma's .content styles where needed.
  .content {

    a {
      @media print {
        color: $black;
        border-bottom-width: 0;
      }
      line-height: 1.6;
      @if $theme == classic {
        color: background-color-text-classic($content-background-color);
        border-bottom: 1px dotted background-color-text-classic($content-background-color);
      } @else {
        color: $accent-color;
        border-bottom: 1px dotted $accent-color;
      }

      &:hover {
        color: link-hover-color($content-background-color) !important;
        border-bottom: 1px solid link-hover-color($content-background-color) !important;
      }

      &:focus {
        background-color: $quire-hover-color;
        color: background-color-text($quire-hover-color) !important;
      }
    }

    figure a {
      &:hover {
        border-bottom-width: 0 !important;
      }
    }

    .footnote-ref a,
    a.footnote-return {
      border-bottom-width: 0;
      font-weight: bold;
      font-size: .925rem;
      line-height: 0;
      margin-left: .1em;
      &:hover {
        color: link-hover-color($content-background-color) !important;
        border-bottom-width: 0 !important;
      }
    }

    .quire-page__content__references dl {
      margin-left: 0;
    }

    tbody {
      tr {
        &:hover {
          background-color: $quire-hover-color;
          color: background-color-text($quire-hover-color) !important;
        }
      }
    }

    ol, dl {
      margin-left: 3em;
    }

    hr {
      height: 1px;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: background-color-text-classic($content-background-color);
    }

    h2 {
      text-transform: uppercase;
      font-size: 1.75em;
      line-height: 1.15em;
      margin-top: .5714em;
      @media print {
        margin: 0 auto;
      }
    }

    h3 {
      font-style: italic;
      font-weight: 400;
      font-size: 1.625em;
    }

    h4 {
      font-size: 1.375em;
      line-height: 1.2em;
    }

    h5 {
      font-size: 1.125em;
      line-height: 1.22em;
    }

    h6 {
      text-transform: uppercase;
      font-size: .875em;
      line-height: 1.28em;
      padding-bottom: 0.25em;
      border-bottom: 1px solid $off-black;
    }

    blockquote {
      padding: 0 0 0 1.5em;
      margin: 1.5em 0 1.5em 0;

      @media screen and (min-width: $tablet) {
        padding: 0 0 0 1.5em;
        margin: 1.5em 0 1.5em 1.5em;
      }

      background-color: transparent;
      font-style: italic;

      em {
        font-style: normal;
      }

      @media print {
        border-left-width: 0;
      }
    }

    .footnotes {
      margin-top: -.35em;

      hr {
        background-color: $off-black;
        height: 1px;
      }

      ol {
        margin-left: 1em;

        li {
          margin-bottom: 1em;
        }
      }

      p+p {
        text-indent: 0;
      }
    }

    .leaflet-control {
      a {
        color: $off-black;
      }
    }

    @if $quire-page-paragraph-style=="indent" {
      p {
        margin-bottom: 0;
      }

      p+p {
        text-indent: 2em;
      }

      blockquote {
        margin: 1em 0 1em 0;

        @media screen and (min-width: $tablet) {
          margin: 1.5em 0 1.5em 1.5em;
        }
      }
    }

    @media print {
      h2 {
        font-size: 18pt;
        line-height: 18pt;
        margin-bottom: 8pt;
        margin-top: 18pt;

        +h3 {
          margin-bottom: 10pt;
          margin-top: 0;
        }
      }

      h3 {
        font-size: 12pt;
        line-height: 13pt;
        margin-bottom: 13pt;
        margin-top: 13pt;
      }

      ul {
        margin-bottom: 0;
        margin-top: 0;
      }

      li+li {
        margin-top: 0;
      }
    }
  }

  @media print {
    column-count: 2;
    column-fill: balance;
    column-gap: .1875in;
    font-size: 9pt;
    line-height: 14pt;
    margin: 0;
  }

  .quire-page--frontmatter &,
  .quire-page--backmatter & {
    @media print {
      column-count: 1;
      margin: 0 .75in;
    }
  }
}