// =============================================================================
// Quire-citation.scss
// -----------------------------------------------------------------------------

// .quire-citation
// -----------------------------------------------------------------------------
.quire-citation {
  display: inline-block;
  position: relative;
  text-indent: 0;
  &__content {
    visibility: hidden;
    font-size: 1rem;
    line-height: 1.5;
    background-color: lighten($accent-color, 45%);
    color: $accent-color;
    border-radius: 6px;
    border: 1px solid $accent-color;
    padding: 1rem;
    position: absolute;
    width: 400px;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -200px;
  }
  &:hover .quire-citation__content {
    visibility: visible;
  }
}
