// =============================================================================
// Quire-contents-list.scss
// -----------------------------------------------------------------------------
//
// Quire uses Bulma's Menu component for the list of links inside the TOC. This
// class exists to provide a small amount of additional styling for the main
// TOC page of the book. Print TOC styles can also be defined on this element.

// .quire-contents
// -----------------------------------------------------------------------------
.quire-contents {
  background-color: transparent;
  @media print {
    background-color: transparent;
  }
  .quire-page__abstract {
    @if $theme == (modern or classic) {
      color: $off-gray !important;
    } 
    margin-bottom: 0;
    padding: 40px 6rem !important;
    .container {
      padding: 0;
      background-color: transparent !important;
    }
    &:after {
      background-color: transparent;
    }
  }
}

// .contents-grid 
// -----------------------------------------------------------------------------
.quire__primary {
  .quire-contents {
    .quire-page__abstract {
      // padding-left: 5rem;
      // padding-right: 5rem;
    }
  }
}

// .quire-contents-header
// -----------------------------------------------------------------------------
.quire-contents-header {
  text-align: center;
  margin: 0 auto;
  padding: 0 20px;
  h1 {
    font-family: $quire-header-font;
    font-size: 3em;
    font-weight: 700;
    line-height: 1.04em;
    margin: 36px 0 16px 0;
  }
}

// .quire-contents-list
// -----------------------------------------------------------------------------
.quire-contents-list {
  box-shadow: none;
  background-color: transparent;

  h1, h2, h3, h4, h5, h6 {
    letter-spacing: -0.025em;
    color: findColorInvert($content-background-color);
  }

  h2 {
    text-transform: uppercase;
    font-size: 1.75em;
    line-height: 1.15em;
  }

  h3 {
    font-style: italic;
    font-weight: 400;
    font-size: 1.625em;
  }

  h4 {
    font-size: 1.375em;
    line-height: 1.2em;
  }

  h5 {
    font-size: 1.125em;
    line-height: 1.22em;
  }

  h6 {
    text-transform: uppercase;
    font-size: .66em;
    font-weight: 700;
    line-height: 1.28em;
    padding-bottom: 0.25em;
    border-bottom: 1px solid $off-black;
  }

  svg {
    height: calc(#{$navbar-height} * .65);
    width: calc(#{$navbar-height} * .65);
    max-height: .95rem;
    max-width: .95rem;
    vertical-align: baseline;
  }

  .contents-menu .quire-menu__formats a {
    border-left: none;
    margin-left: 0;
  }

  ul.arrow .section-indent {
    padding-left: 20px;
    font-size: .75em;
    width: auto;
    a {
      margin-bottom: 1em;
      padding-right: 0;
      padding-bottom: 0;
      border-radius: 0;
      display: inline-block;
      border-bottom: 1px dotted $off-black;
      &:hover {
        border-bottom: 1px solid darken($accent-color, 15%);
      }
    }
  }

  .menu-list {
    a {
      color: background-color-text($secondary-background-color);
      position: relative;
      padding-left: 0;
      font-size: 1em;
      .arrow {
        -webkit-transition: all .15s ease;
        transition: all .15s ease;
        @if $theme == modern {
          fill: initial;
        } @else {
          fill: background-color-text($secondary-background-color);
        }
      }
      &:hover {
        background-color: inherit;
        color: darken($accent-color, 15%);
        .arrow {
          margin-left: 14px;
          @if $theme == modern {
            fill: $dark-red;
          } @else {
            fill: darken($accent-color, 15%);
          }
        }
      }
    }
  }

  .list-header {
    padding: .5em .75em .5em 0;
    letter-spacing: 1px;
  }

  .contributor {
    font-style: italic;
  }

  &.list,
  &.brief {
    font-family: $quire-header-font;
    li {
      margin-bottom: .5em;
    }
    li > ul {
      margin-top: .5em;
      margin-bottom: .5em;
      margin-right: 0;
    }
    .title {
      font-size: 1.05em;
      font-weight: inherit;
      line-height: inherit;
    }
    .section-item .title {
      color: background-color-text($secondary-background-color);
      margin-bottom: 0;
    }
    .quire-menu__formats {
      a {
        text-decoration: none;
      }
    }
  }

  &.abstract {
    .title {
      font-size: 1em;
      font-style: normal;
      font-weight: 400;
      line-height: 1.35;
      margin-bottom: 0;
      font-family: $quire-header-font;
    }
    .abstract-text {
      font-size: 14px;
      line-height: 1.5em;
      margin-bottom: 1rem;
      line-height: 1.4;
      @if $theme == (modern or classic) {
        color: $off-gray !important;
      }
      p {
        margin-bottom: .5em;
      }
      @if $quire-page-paragraph-style == "indent" {
        p { margin-bottom: 0; }
        p + p { text-indent: 2em; }
      }
    }
    .quire-menu__formats {
      a {
        font-size: 1em;
        text-decoration: none;
      }
    }
  }

  @media screen and (min-width: $desktop) {

  }


  &.grid {
    font-size: .75em;
    font-family: $quire-header-font;
    @media screen and (min-width: $tablet) {
      margin: 0 5rem;
    }

    .title {
      font-size: inherit;
      font-weight: inherit;
      line-height: inherit;
      font-family: $quire-header-font;
    }

    li > a {
      padding: 1rem;
    }

    .section-list {
      font-size: .75em;
    }

    .menu-list {
      ul.arrow {
        .page-item {
          &:last-child {
            a {
              padding: 0 0 0 1rem;
            }
          }
        }
      }
    }

    .quire-menu__formats {
      display: block;
      ul {
        display: block;
      }
      a {
        font-size: 1.325em;
        text-decoration: none;
      }
    }

    h6 {
      font-size: .875em;
    }

    ul li {
      float: left;
      width: 100%;

      @media screen and (min-width: $desktop) {
        width: 50%;
        &:nth-child(2n) + li {
          clear: left;
        }
      }

      @media screen and (min-width: $widescreen) {
        width: 33%;
        &:nth-child(2n) + li {
          clear: none;
        }
        &:nth-child(3n) + li {
          clear: left;
        }
      }

      .card {
        min-height: 300px;
        position: relative;
        display: block;
        border-radius: 2px;
        margin: 1rem;
        box-shadow: none;
        @if $theme == modern {
          background-color: $white !important;
        } @else if $theme == classic {
          background-color: $off-white !important;
        } @else {
          background-color: $content-background-color;
        }

        a {
          padding: 0;
          @if $theme == classic {
            color: $off-black !important;
          } @else {
            color: $accent-color;
          }
          border-bottom: none;

          &:hover {
            @if $theme == classic {
              color: $accent-color !important;
            }
            svg {
              @if $theme == classic {
                fill: $accent-color !important;
              }
            }
            border-bottom: none;
          }

          svg {
            @if $theme == modern {
              fill: inherit;
            } @else if $theme == classic {
              fill: $off-black;
            } @else {
              fill: $accent-color;
            }
            vertical-align: text-bottom;
          }
        }

        .card-image {
          -webkit-transition: -webkit-box-shadow .35s;
          transition: box-shadow .35s;
          padding: 1.5em 1.5em 0em 1.5em;

          .image {
            -webkit-transition: -webkit-box-shadow .35s;
            transition: box-shadow .35s;
            &:hover {
              -webkit-box-shadow: 0px 0px 6px 0px $black-semi-transparent;
              -moz-box-shadow: 0px 0px 6px 0px $black-semi-transparent;
              box-shadow: 0px 0px 6px 0px $black-semi-transparent;
            }
          }
        }
      }

      .card-content {
        padding: 1.5em;
        font-family: $quire-nav-font;
        @if $theme == modern {
          color: $accent-color;
        } @else {
          color: inherit;
        }

        .artist {
          text-transform: uppercase;
        }
        .title {
          @if $theme == modern {
            color: $accent-color;
          } @else {
            color: inherit;
          }
          svg {
            @if $theme == modern {
              fill: $accent-color;
            } @else {
              fill: inherit;
            }
            vertical-align: sub;
          }
          &:hover {
            @if $theme == modern {
              color: $dark-red;
            } @else {
              color: darken($accent-color, 15%);
            }
          }
        }
        p {
          padding-top: 0.5rem;
        }
      }
    }

    ul li.section-item {
      width: calc(100% - 2rem);
      margin: 1rem;
      padding-bottom: 1rem;
      border: 1px solid lighten($dark, 65%);
      box-shadow: $box-shadow;
      & > a > .card {
        box-shadow: none;
        background-color: inherit;
        min-height: 0;
      }
      &.no-landing-page {
        & > a > .card {
          min-height: 300px;
        }
      }
      ul {
        padding-left: 0;
        margin: 0;
        border-left-width: 0px;
      }
      .list-header {
        margin-top: 1.5em;
        margin-left: 1em;
      }
    }

    @media screen and (min-width: $desktop) {
      @supports (display: grid) {
        ul {
          display: grid;
          grid-gap: .25rem;
          grid-template-columns: repeat(2, 1fr);
          li {
            width: 100%;
            float: none;
            margin: inherit;
          }
          li.section-item {
            grid-column: 1/3;
          }
        }
      }
    }

    @media screen and (min-width: $widescreen) {
      @supports (display: grid) {
        ul {
          display: grid;
          grid-gap: .25rem;
          grid-template-columns: repeat(3, 1fr);
          li {
            width: 100%;
            float: none;
            margin: inherit;
          }
          li.section-item {
            grid-column: 1/4;
          }
        }
      }
    }

    @media screen and (min-width: $fullhd) {
      @supports (display: grid) {
        ul {
          display: grid;
          grid-gap: .25rem;
          grid-template-columns: repeat(4, 1fr);
          li {
            width: 100%;
            float: none;
            margin: inherit;
          }
          li.section-item {
            grid-column: 1/5;
          }
        }
      }
    }

  }

  @media print {
    .quire-contents-list {
      column-span: all;
      font-size: 11pt;
    }
  }
}
