// =============================================================================
// Quire-contributors.scss
// -----------------------------------------------------------------------------
// Styles for the contributors partial and shortcode
// .quire-contributors-list is the list-level element
// .quire-contributor is the individual contributor element


// .quire-contributors-list
// -----------------------------------------------------------------------------
.quire-contributors-list,
.content ul.quire-contributors-list {
  list-style-type: none;
  margin-left: 0;
  .title {
    color: background-color-text($secondary-background-color);
  }
}

// .quire-contributor
// -----------------------------------------------------------------------------
.quire-contributor {
  padding-bottom: 1em;
  &:before {
    display: none !important;
  }
  &__pic {
    width: 100px;
    border-radius: 60px;
    margin: .8em 1em .8em 0;
    overflow: hidden;
    @media screen and (min-width: $tablet) { max-width: 200px; }
  }
  &__bio {
    font-size: 0.875em;
    line-height: 1.6em !important;
  }

  &__details {
    font-size: 1em;
  }
}
