// =============================================================================
// Quire-figure.scss
// -----------------------------------------------------------------------------
//
// Quire-figure component. The q-figure shortcode outputs the following markup:
// <figure class="quire-figure">
//   <img class="quire-figure__image" />
//   <span class="quire-figure__label"></span>
//   <figcaption class="quire-figure__caption"></figcaption>
// </figure>
//
// In most cases the default styling from Bulma's figure and .content figure
// rules should be sufficient, but additional styling can go here.
//
// Figure groups get the additional class .quire-figure--group
//
// scss-lint:disable EmptyRule

// .quire-figure
// -----------------------------------------------------------------------------
.quire-figure {
  border-top: 1px solid $accent-color;
  border-bottom: 1px solid $accent-color;
  padding: 1em 0;
  margin-top: 0.5em;
  margin-left: 0;
  margin-right: 0;
  
  @if $theme == classic {
    border: none;
    padding: 0;
  }

  .q-figure__wrapper {
    border: none;
    display: block;
    position: relative;

    > a {
      border: none;

      &:hover {

        span.fig {
          background-color: $accent-color;
          transition: background-color .25s;
        }

        img {
          -webkit-transition: -webkit-box-shadow .35s;
          transition: box-shadow .35s;
          -webkit-box-shadow: 0px 0px 6px 0px $black-semi-transparent;
          -moz-box-shadow: 0px 0px 6px 0px $black-semi-transparent;
          box-shadow: 0px 0px 6px 0px $black-semi-transparent;
        }

        span.quire-figure__fig {
          background: $accent-color;
        }

        span.quire-figure__modal * {
          color: link-hover-color($content-background-color);
        }
      }
    }

    span.fig {
      font-size: .75em;
      /** approx 12px **/
      background: $black-semi-transparent;
      /** sets transparent background without affecting text color **/
      position: absolute;
      display: flex;
      align-items: center;
      padding: 0;
      @media print {
        padding: 2px 3px 2px 6px;
        .material-icons {
          display: none;
        }
      }
      left: 0;
      top: 0;
      color: $white;
      margin: 0 auto;

      span {
        font-size: 1.125rem;
        line-height: 1.5em;
        padding: 0 .2em;
      }

      strong {
        color: $white;
        margin-right: 5px;
      }

      &.no-fullscreen {
        padding: .4em .2em;
        strong {
          margin-top: 0;
          margin-left: 6px;
        }
      }
    }

    img {
      object-fit: cover;
      width: 100%;
    }
  }

  .content & {
    margin-left: 0;
    margin-right: 0;
  }

  &__image {
    .content figure & {
      display: block;
      margin: 0 auto;
    }
  }

  .content figure &__caption {
    font-size: 0.75em;
    line-height: 1.5;
    margin-top: .5rem;
    font-style: normal;
    text-align: left;
    color: background-color-text($content-background-color);
    @media print {
      color: $print-text-color;
    }
    user-select: text;
  }

  &__credit {

  }

  &__modal {
    @if $theme == classic {
      color: background-color-text-classic($content-background-color);
    } @else {
      color: $accent-color;
    }
    font-weight: 700;
    margin-top: 0;
    height: .875em;
    float: left;
    position: relative;
    top: .125em;

    .material-fullscreen,
    .material-slides {
      top: 1px;
      width: 20px;
      left: -4px;
      position: relative;
      font-weight: 400;
      float: left;
      @media print {
        display: none;
      }
    }
  }

  &__label {
    @if $theme == classic {
      color: background-color-text-classic($content-background-color);
    } @else {
      color: $accent-color;
    }
    @media print {
      color: $print-text-color;
    }
    font-weight: 700;
    margin-right: .5em;

    .material-fullscreen,
    .material-slides {
      top: 7px;
      width: 16px;
      left: -4px;
      position: relative;
      font-weight: 400;
    }

    .quire-figure__modal & {
      font-size: .75em;
    }

  }

  &__media-wrapper {
    &--standard {
      padding-bottom: 75%;
      position: relative;

      @media print {
        padding-bottom: 0;
        position: inherit;
      }
    }

    &--widescreen {
      padding-bottom: 56.25%;
      position: relative;

      @media print {
        padding-bottom: 0;
        position: inherit;
      }
    }
  }

  &__media {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &__media-fallback {
    .quire-figure__wrapper {
      margin-bottom: .5em;
    }
    .fallback-image {
      background-color: $gray;
      img {
        width: 50px;
      }
    }
    iframe {
      position: relative;
    }
    h5.header {
      font-family:  $quire-primary-font;
      font-size: 0.85em;
      color: $black;
      font-weight: 400;
      text-align: left;
      margin-bottom: .5em;
    }
    p.caption {
      text-align: left;
      font-size: 0.85em;
      overflow-wrap: break-word;
      word-wrap: break-word;
      a {
        font-size: 0.85em;
        overflow-wrap: break-word;
        word-wrap: break-word;
      }
    }
    .placeholder {
      color: $white;
      background-color: $gray;
      width: 100%;
      height: 80px;
      text-align: center;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      margin-bottom: 1em;
      i {
        font-size: 50px;
        color: $white;
        &.audio {

        }
      }
    }

    .content figure & {
      display: none;

      @media print {
        display: block;
        width: 100%;
      }
    }

    &__text {
      display: none;

      @media print {
        display: inline;
      }
    }
  }

  &__video {
    width: 100%;
  }

  &.is-pulled-left,
  &.is-pulled-right {
    @media screen and (min-width: $tablet) {
      width: 50%;
    }
    
    @media print {
      width: 2.75in;
    }
  }

  &.is-pulled-left {
    margin-left: 0;
    margin-right: 1.25em;
    @media print {
      margin-right: 1.75em;
    }
  }
  &.is-pulled-right {
    margin-right: 0;
    margin-left: 1em;
    @media print {
      margin-left: 1.5em;
    }
  }

  .content &.is-pulled-left,
  .content &.is-pulled-right {
    margin-top: .75em;
    margin-bottom: 1em;
  }

  &--group {

    &__row {
      display: flex;
      justify-content: space-between;
      margin-bottom: .75rem;
      flex-wrap: wrap;

      @media print {
        display: inline-block;
        margin-bottom: 0;
        clear: both;
      }
      @media screen and (max-width: $tablet) {
        display: block;
      }
    }

    &__item {
      display: block;
      flex-basis: 0;
      flex-grow: 1;
      flex-shrink: 1;

      .content & {
        margin-left: 0;
        margin-right: 0;
        margin-top: 0;
      }

      .content &:not(:last-child) {
        margin-bottom: 0;
      }

      .content &:not(:first-child) {
        margin-top: 0;
      }

      +.quire-figure__caption {
        clear: both;
        padding-top: 1rem;
      }
    }

    .quire-grid--2 {
      width: 49%;

      @media print {
        width: 48%;
      }
    }

    .quire-grid--3 {
      width: 32%;

      @media print {
        width: 31.3%;
      }
    }

    .quire-grid--4 {
      width: 23.5%;

      @media print {
        width: 23%;
      }
    }

    .quire-grid--5 {
      width: 18.4%;

      @media print {
        width: 18%;
      }
    }

    .quire-grid--6 {
      width: 15%;

      @media print {
        width: 14.6%;
      }
    }

    .quire-grid {
      &--2, &--3, &--4, &--5, &--6 {
        @media screen and (max-width: $tablet) {
          width: 100%;
        }
      }
    }

    &:last-child {
      margin-right: 0;
    }

    .soundcloud,
    .youtube,
    .vimeo {
      
    }

    .quire-figure__caption {
      width: 100%;
    }
  }

  @media print {
    column-span: none;
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
  }

}

/** VIDEO/AUDIO FALLBACK ELEMENTS **/

div.multimedia {
  overflow-wrap: break-word;
  word-wrap: break-word;
  border: 1px solid $gray;
  padding: 0;
  text-align: left;
  position: relative;
  display: flex;
  margin-bottom: .5em;

  .placeholder {
    color: $white;
    background-color: $black;
    min-width: 80px;
    max-width: 80px;
    width: 80px;
    height: 100%;
    min-height: 80px;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-right: .5em;

    i,
    div {
      color: $white;
    }
  }

  .multimedia-metadata {
    position: relative;
    margin: .5em;

    h5.header {
      font-family: 'Noto Sans', sans-serif;
      font-size: 1em;
      color: $black;
      font-weight: 400;
    }
  }

  &-grid {
    overflow-wrap: break-word;
    word-wrap: break-word;
    display: block;
    border: 1px solid $gray;
    padding: 0;
    text-align: left;
    position: relative;

    .placeholder {
      text-align: center;
      color: $white;
      height: 80px;
      background-color: $black;
      margin-right: .75em;
      width: 100%;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;

      i,
      div {
        color: $white;
      }
    }

    .multimedia-metadata {
      position: relative;
      margin: .75em;

      h5.header {
        font-family: 'Noto Sans', sans-serif;
        font-size: 1em;
        font-weight: 400;
        margin: .5em 0 0 0;
        color: $black;
      }
    }
  }

  p {
    margin: 0;
  }

  .caption {
    font-size: .75em;
    line-height: 1.8em;
    color: $black;
    word-break: break-all;
  }
}

/** VIDEO/AUDIO FALLBACK ELEMENTS **/