// =============================================================================
// Quire-entry.scss
// -----------------------------------------------------------------------------
// Entry-layout specific styles (catalogue-style pages with prominent images at
// the beginning). The main text content area of this page uses the .quire-page
// class and sub-classes, but elements specific to this layout use .quire-entry
// instead.

// scss-lint:disable EmptyRule
$image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAQgAAABYCAQAAACjBqE3AAAB6klEQVR4Ae3bsWpUQRTG8YkkanwCa7GzVotsI/gEgk9h4Vu4ySLYmMYgbJrc3lrwZbJwC0FMt4j7F6Y4oIZrsXtgxvx/1c0ufEX4cnbmLCmSJEmSJEmSJEmSJP3XCBPvbJU+8doWmDFwyZpLBmYlNJebz0KwzykwsuSYJSNwykEJreV2BaBMaLIQZ2xYcFgqDlmw4ayE/FwL0dDk4Qh4W37DAjgqIT+3HRbigjH+iikVdxgZStgyN0Su2sXIeTwTT+esdpcbIlfNAuZ/TxresG4zV8kYWSZNiKUTokMMSWeIwTNEn4fK2TW3gRNgVkJLuVksROA9G+bEvoATNlBCa7nZXEwdxEZxzpKRKFh+bsv8LmPFmhX1OwfIz81jIRJQ5eeqG9B+riRJkiRJkiRJkiRJkiRJkiRJUkvA/8RQoEpKlJWINFkJ62AlrEP/mNBibnv2yz/A3t7Uq3LcpoxP8COjC1T5vxoAD5VdoEqdDrd5QuW1swtUSaueh3zkiuBiqgtA2OlkeMcP/uDqugsJdbjHF65VdPMKwS0+WQc/MgKvrIOHysB9vgPwk8+85hmPbnQdvHZyDMAFD7L3EOpgMcVdvnHFS0/vlatrXvCVx0U9gt3fxvnA0/hB4nmRJEmSJEmSJEmSJGmHfgFLaDPoMu5xWwAAAABJRU5ErkJggg==);


// .quire-entry
// -----------------------------------------------------------------------------
.quire-entry {
  &__image {
    @include foreground-color($quire-entry-image-color, $quire-entry-image-icons-color);
    background-color: $black;
    min-height: calc(100vh - #{$quire-entry-header-height} - #{$navbar-height});
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    @media print {
      background-color: transparent;
      @include foreground-color(#fff, $page-text-color);
    }

    &__group-container {
      @media print {
        figure {
          display: none;
        }

        figure:first-of-type {
          display: block;
        }
      }
    }

    &__group-container,
    .quire-counter-container {
      top: 10px;
      right: 10px;
    }

    figure {
      flex: 1 1 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      .quire-image-control--download {
        top: 10px;
        left: 10px;
        bottom: 0;
        height: 30px;
        background: $dark-semi-transparent;
        width: 30px;

        svg {
          width: 30px;
          height: 15px;
          margin-top: 6px;
        }
      }
    }

    img {
      margin: 0 auto;
      // max-height: 100%;
      max-height: calc(100vh - 6rem - 3rem);

      // transition: transform 0.25s ease;
      &:active {
        // transform: scale(2);
      }
    }

    .quire-image-control {
      position: absolute;
      bottom: 1rem;
      /* border-color: darken($quire-entry-image-icons-color, 15%); */
      z-index: 10;

      &.quire-image-info {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 0 10px 25px;
        z-index: 1046;

        /*
        background-color: darken($quire-entry-image-color, 5%);
        right: 4.5rem;
        max-width: 400px;
        display: none;
        padding: 1rem 1rem 2.5rem 1rem;
        border-radius: 3px;
        z-index: 1;
        height: auto;
        */
        @media print {
          background-color: transparent;
          display: block;
          font-size: 9pt;
          line-height: 14pt;
        }

        >span.quire-image-info__wrap {
          color: $white;
          position: relative;
          display: block;
          padding: 6px 10px;
          background: $dark-semi-transparent;
          font-family: $family-secondary;
          font-size: 12px;
          font-weight: bold;
        }

        &__caption {
          @media print {
            display: block;
            font-size: 9pt;
            line-height: 14pt;
          }
        }

        &__credit {
          @media print {
            display: block;
            font-size: 7.5pt;
            line-height: 14pt;
          }
        }
      }


      &--more {
        right: 4.5rem;

        &:hover,
        &:focus {
          border-left-width: 0;
          border-top-width: 0;

          +.quire-image-info,
          +.quire-image-info {
            display: block;
            // border: 1px solid darken($quire-entry-image-icons-color, 15%);
          }
        }

      }

      &--prev-image {
        margin: 0;
        left: 10px;
        opacity: 1;
        top: 50%;
        transform: translateY(-50%);
        background: $image no-Repeat top left $dark-semi-transparent;
        background-position-x: -139px;
        background-position-y: -44px;
        width: 30px;
        height: 30px;
        display: block;
        border: none;
        outline: none;
        /*
        top: calc(50% - 2.25rem);
        left: 0;
        right: initial;
        border-left-width: 0;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        */
      }

      &--next-image {
        margin: 0;
        transform: scale(1);
        right: 10px;
        opacity: 1;
        top: 50%;
        transform: translateY(-50%);
        background: $image no-Repeat top right $dark-semi-transparent;
        background-position-x: -95px;
        background-position-y: -44px;
        width: 30px;
        height: 30px;
        display: block;
        border: none;
        outline: none;
        /*
        top: calc(50% - 2.25rem);
        right: 0;
        left: initial;
        border-right-width: 0;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        */
      }

      svg {
        position: relative;
        height: 1.5em;
        width: 1.5em;

        & img {
          position: absolute;
          top: 0;
          left: 0;
          max-height: 1.5em;
        }
      }
    }
  }

  &__header {
    margin-top: 1em;

    .container {
      background-color: $white;
      padding-bottom: 2rem;
    }

    @media print {
      height: 3in;
      text-align: center;
      // This border is a hack for PrinceXML which doesn't 
      // otherwise recognize the box sizing for some reason
      border: 1pt solid transparent;
    }
  }

  &__tombstone {
    a {
      &:hover {
        background-color: $quire-hover-color;
      }
    }

    >div.container {
      background-color: $white;
<<<<<<< HEAD
      padding-bottom: 20px;
=======
      padding-bottom: 1em;
>>>>>>> 0e852a9f6807d170d6e49d61688dc44b2ea724e2
    }

    .table {
      width: 90.5%;
      margin: 0 auto;
      padding-bottom: 1em;
      border-top: 1px solid $gray;
      border-bottom: 1px solid $gray;

      td {
        border: none;
      }
    }

    .button {
      margin-left: 2em;
      margin-top: .5em;
    }

    svg {
      position: relative;
      height: 1.25em;
      width: 1.25em;
      margin-left: .5em;
      fill: $quire-primary-color;

      & img {
        position: absolute;
        top: 0;
        left: 0;
        max-height: 1.5em;
      }
    }

    @media print {
      font-size: 9pt;
      margin-bottom: .125in;
    }

    tr {
      td {
        &:first-child {
          font-weight: 700;
        }
      }

      &:hover {
        background-color: $quire-hover-color;
      }
    }
  }

  .quire-entry__header {
    h1 {
      padding: 1em 1.2em 0;
      font-size: 2em;
      font-weight: 400;
    }
  }

  .quire-page__content {
    // padding-top: 1.5rem;
    padding-bottom: 1.5rem;

    .content {
      background-color: $white;
      margin-top: 0;
      padding: 0 2rem 2.5em;
      p {
        line-height: 1.5;
      }
    }

    h2 {
      font-size: 0.85em;
      font-style: normal;
      font-weight: 700;
    }

    #notes {
      font-size: 0.65em;
      text-transform: uppercase;
    }
  }

  .quire-contents-buttons {
    padding-bottom: 3rem;
  }
}

div.side-by-side {
  display: block;

  @media screen and (min-width: $desktop) {
    display: flex;
  }

  div.quire-entry__image-wrap {
    position: relative;
    width: 100%;
    height: calc(100vh - 6rem - 3rem);

    @media screen and (min-width: $desktop) {
      width: 56%;
      flex: none;
    }

    div.quire-entry__image {
      position: relative;
      width: 100%;
      height: inherit;

      @media screen and (min-width: $desktop) {
        position: fixed;
        width: 56%;
        height: 100vh;
      }

      .quire-entry__image__group-container {
        figure {
          .quire-image-info {
            @media screen and (min-width: $desktop) {
              bottom: 53px;
           }
          }
        }
      }
    }
  }

  div.quire-entry__content {
    width: 100%;

    @media screen and (min-width: $desktop) {
      width: 44%;
      flex: none;
    }

    section,
    header {
      @media screen and (min-width: $desktop) {
        padding-left: 20px;
        padding-right: 20px;
      }

      div.container {
        @media screen and (min-width: $desktop) {
          width: 100%;
          padding-left: 20px;
          padding-right: 20px;
        }
      }
    }
  }
}