version: 2.1

orbs:
  browser-tools: circleci/browser-tools@2.3.2
  mac: circleci/macos@2.5.2
  node: circleci/node@7.1.0
  win: circleci/windows@5.1.0

parameters:
  node_version:
    type: string
    default: "22.10.0"
  run-build-test-workflow:
    type: boolean
    default: false

executors:
  linux:
    docker:
      - image: cimg/node:<< pipeline.parameters.node_version >>
    resource_class: medium
    environment:
        # Configure npm for user-level global installs to a user-writable location
        # Nota bene: variable expansion within the environment block is not supported,
        # we cannot use $HOME or $PATH and must explicitly list the system paths here.
        NPM_CONFIG_PREFIX: '/home/circleci/.npm-global'
        PATH: '/home/circleci/.npm-global/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin'
        # Chrome for Testing install is symlinked to /usr/local/bin/chrome
        PUPPETEER_EXECUTABLE_PATH: '/usr/local/bin/chrome'

  macos:
    macos:
      xcode: '16.3.0'
    resource_class: m4pro.medium
    environment:
        # Chrome for Testing install is symlinked to /usr/local/bin/chrome
        PUPPETEER_EXECUTABLE_PATH: '/usr/local/bin/chrome'

  playwright:
    docker:
      - image: mcr.microsoft.com/playwright:v1.52.0-noble

  win:
    machine:
      image: 'windows-server-2022-gui:current'
    resource_class: windows.large
    shell: bash.exe # Use bash instead of PowerShell for compatibility with node orb
    environment:
      PUPPETEER_EXECUTABLE_PATH: 'C:\Program Files\Google\Chrome\Application\chrome.exe'
      PUPPETEER_SKIP_CHROMIUM_DOWNLOAD: 'true'

anchors:
  # Branch filter for skipping docs-only branches
  - &docs_branch_filter
    branches:
      ignore:
        - /^docs\/.*/

  # TODO: Integrate the release version as a variable for use in npm pack
  - &npm_cache_key package-cache-{{ .Branch }}-{{ checksum "package-lock.json" }}-{{ .Environment.CACHE_VERSION }}
  # Chocolatey cache key for Windows installs
  - &choco-cache_key choco-cache-{{ .Branch }}-{{ checksum ".circleci/packages.config" }}-{{ .Environment.CACHE_VERSION }}

  # nix-specific npm cache paths
  - &npm_cache_paths_unix
    - node_modules
    - packages/*/node_modules
    - ~/.npm
    - ~/.cache

  # Windows-specific npm cache paths
  - &npm_cache_paths_win
    - node_modules
    - packages/*/node_modules
    - C:\Users\circleci\AppData\Local\npm-cache
    - C:\Users\circleci\AppData\Roaming\npm

  - &os_param
    parameters:
      os:
        type: string

  - &matrix_params
    matrix:
      parameters:
        os: [ 'linux', 'macos', 'win' ]
        # TODO: add paremeter for supported node versions

commands:
  install_quire_cli:
    description: "Pack and install the Quire CLI globally"
    steps:
      - run:
          name: Install quire-cli
          # Force execution of npm lifecycle scripts in the foreground
          command: |
            npm pack --workspace packages/cli && \
            npm install thegetty-quire-cli-*.tgz --global --ignore-scripts --foreground-scripts

  build_install_cli-linux:
    steps:
      # Node.js is pre-installed in the cimg/node Docker image
      # NPM_CONFIG_PREFIX and PATH are set in executor environment
      - browser-tools/install_chrome_for_testing
      - install_quire_cli

  build_install_cli-macos:
    steps:
      # macOS Xcode image includes Node however the version may not be the same
      - node/install:
          node-version: << pipeline.parameters.node_version >>
      - browser-tools/install_chrome_for_testing
      - install_quire_cli

  build_install_cli-win:
    steps:
      - node/install: # Windows image does not include Node.js
          node-version: << pipeline.parameters.node_version >>
      - restore_cache:
          key: *choco-cache_key
      - run:
          name: Install Chocolatey packages
          command: choco install .circleci/packages.config --ignore-checksums
      - save_cache:
          key: *choco-cache_key
          paths:
            - C:\Program Files\Google\Chrome
            - C:\ProgramData\chocolatey\cache
            - C:\tools\selenium
      - install_quire_cli

  install_optional-linux:
    steps:
      - run:
          name: Install optional dependencies
          command: exit 0

  install_optional-macos:
    steps:
      - run:
          name: Install optional dependencies
          command: exit 0

  install_optional-win:
    steps:
      - run:
          name: Install optional dependencies
          command: exit 0

  install_test_dependencies:
    steps:
      - run:
          name: Install test dependencies
          command: npm ci --ignore-scripts --foreground-scripts

  run_tests:
    steps:
      - run:
          name: Set git user identity
          command: |
            git config --global user.email quire@getty.edu
            git config --global user.name "Quire CI"
      - run:
          name: Run CLI tests
          command: npm run test --workspace packages/cli
      - run:
          name: Run 11ty tests
          command: npm run test --workspace packages/11ty
      - run:
          name: Run end-to-end tests
          no_output_timeout: 30m
          command: mkdir -p reports && npm run test:e2e

      # Persist the site build for browser testing and submit test reports
      - persist_to_workspace:
          root: .
          paths:
            - package.json
            - playwright.config.js
            - reports
            - test-publication-pathname/_site
            - test-publication/_site
            - _tests

      - store_test_results:
          path: reports

      # TODO: Turn this off when we're happy with snapshot coverage of browser tests
      - store_artifacts:
          path: publication.zip

  test-linux:
    steps:
      - run_tests

  test-macos:
    steps:
      - run_tests

  test-win:
    steps:
      - run_tests

  save_npm_cache-linux:
    steps:
      - save_cache:
          key: *npm_cache_key
          paths: *npm_cache_paths_unix

  save_npm_cache-macos:
    steps:
      - save_cache:
          key: *npm_cache_key
          paths: *npm_cache_paths_unix

  save_npm_cache-win:
    steps:
      - save_cache:
          key: *npm_cache_key
          paths: *npm_cache_paths_win

jobs:
  build_install_test:
    description: "Builds the CLI, installs it, and tests it by building a publication"
    <<: *os_param
    executor: << parameters.os >>
    steps:
      - checkout
      - restore_cache:
          key: *npm_cache_key
      - build_install_cli-<< parameters.os >>
      - install_optional-<< parameters.os >>
      - install_test_dependencies
      - save_npm_cache-<< parameters.os >>
      - test-<< parameters.os >>
  browser_test:
    description: "Tests the output of the publication build -- must be separate for the playwright executor"
    executor: playwright
    # Sharding documentation https://playwright.dev/docs/ci#sharding-in-circleci
    parallelism: 4
    steps:
      - attach_workspace:
          at: .
      - run:
          name: Install browser testing dependencies
          command: npm i && apt-get update && apt-get install -y zip && npx playwright install
      - run:
          name: Run browser testing on end-to-end test artifacts
          command: npm run test:browsers-circleci
      - store_test_results:
          path: reports

workflows:
  build_install_test:
    description: "Main build and test workflow - only runs when code files change"
    when: << pipeline.parameters.run-build-test-workflow >>
    jobs:
      - build_install_test:
          <<: *matrix_params
          name: build_install_test-<< matrix.os >>
          filters: *docs_branch_filter
      - browser_test:
          name: browser_test-linux
          requires:
            - build_install_test-linux
      - browser_test:
          name: browser_test-macos
          requires:
            - build_install_test-macos
      - browser_test:
          name: browser_test-win
          requires:
            - build_install_test-win
