{{/*
  Section-head layout. This template will display a list of all "essay" and
  "abstract" type pages Inside the current section. See the section-list
  partial for more details on how this works.
*/}}

{{ define "main" }}
{{ $essayPages := (dict "pages" .Site.Pages "section" .Section "type" "essay") }}
{{ $abstractPages := (dict "pages" .Site.Pages "section" .Section "type" "abstract") }}

<article class="quire-page" id="main" role="main">
  {{ partial "page-header.html" . }}

  <div class="quire-page__content" id="essay-text">
    {{ .Content }}

    {{ partial "section-list.html" $essayPages }}
    <hr/>
    {{ partial "section-list.html" $abstractPages }}
    </section>
  </div>

</article>
{{ end }}
