{{/*
Cover page layout. This controls the home page of the publication.
*/}}

{{ define "main" }}

{{ if isset $.Site.Params "imagedir" }}
{{ $.Scratch.Set "imageDir" $.Site.Params.imageDir }}
{{ else }}
{{ $.Scratch.Set "imageDir" "" }}
{{ end }}

{{/* Begin full-page cover section */}}
{{- if .Params.image -}}
{{- $imgPath := printf "%s/%s" ($.Scratch.Get "imageDir") .Params.image -}}
  <section class="quire-cover hero is-fullheight" style="background-image: url('{{ $imgPath | absURL }}');">
{{- else -}}
  <section class="quire-cover hero is-fullheight">
{{- end -}}
  <div class="hero-body">
    <div class="container is-fluid">
      {{/* Use .Site.Data.publication info if available */}}
      {{ if .Site.Data.publication }}
      <h1 class="title is-1">
        {{ .Site.Data.publication.title | markdownify }}
        {{ with .Site.Data.publication.subtitle }}
        <span class="subtitle is-4">{{ . | markdownify }}</span>
        {{ end }}
      </h1>

      {{ with .Site.Data.publication.reading_line }}
      <p class="">{{ . | markdownify }}</p>
      {{ end }}

      {{- if .Site.Data.publication.contributor_as_it_appears -}}
      {{ .Site.Data.publication.contributor_as_it_appears }}
      {{ else }}
      <span class="visually-hidden">Contributors: </span>
      {{ partial "contributor-list.html" (dict "range" .Site.Data.publication.contributor "contributorType" "primary" "listType" "list" ) }}
      {{- end -}}

      {{ else }}
      {{/* Fallback for when no publication.yml data is present */}}
      <h1 class="title">{{ .Site.Title }}</h1>
      {{ end }}
    </div>
  </div>
</section>
{{/* End full-page cover section */}}
{{/* Begin "below-the-fold" section */}}
{{ with .Content }}
<section class="section">
  <div class="container is-fluid">
    {{ . }}
  </div>
</section>
{{ end }}

<footer class="footer quire-cover-footer">
  <div class="container is-fluid">
    <div class="content is-small">
      {{ partial "footer.html" . }}
    </div>
  </div>
</footer>

{{/* End "below-the-fold" section */}}
{{ end }}
