// =============================================================================
// Application.scss
// -----------------------------------------------------------------------------
// This project uses Bulma (http://bulma.io) as a framework for styles. Standard
// bulma options and variables are supported throughout this site. In some
// places custom components with their own variables and options have been
// defined as well.
//
@import "~bulma/sass/utilities/initial-variables";
@import "fonts";
$ionicons-font-path: "../fonts/ionicons";
@import "vendor/ionicons";


// Variables
// -----------------------------------------------------------------------------
// Custom variables which override Bulma defaults can be defined here, before
// the rest of the framework is imported.

$body-weight: $weight-light;
$desktop: 900px;
$family-primary: 'Merriweather', serif;

// Search input styles
$input-background-color: $grey-darker;
$input-color: $white;

@import "bulma-components";

// Quire-specific variables
// -----------------------------------------------------------------------------
// These variables are not referenced by Bulma and can be defined after
// importing it.
//
// The default values are supplied below.
//
// By default, text that appears over a background color will be inverted to either white or black for best legibility, but any color can be applied here.

$quire-navbar-background-color: $blue;
$quire-navbar-text-color: findColorInvert($quire-navbar-background-color);

$quire-cover-background-color: $info;
$quire-cover-text-color: findColorInvert($quire-cover-background-color);

$quire-footer-background-color: $light;
$quire-footer-text-color: findColorInvert($quire-footer-background-color);

$quire-menu-background-color: $dark;
$quire-menu-text-color: findColorInvert($quire-menu-background-color);
$quire-menu-width: 350px;

$quire-page-header-background-color: $light;
$quire-page-header-text-color: findColorInvert($quire-page-header-background-color);

// Set this to null to have paragraphs with space between and no indent:
$quire-page-paragraph-style: indent;

$quire-map-height: 500px;
$quire-deepzoom-height: 500px;

// $quire-text-color: ;
// $quire-text-link-color: ;

// Custom components, etc.
// -----------------------------------------------------------------------------
// Feel free to import any additional user-defined files here.
@import "utilities";
@import "layout";
@import "components/all";
@import "print";

// Other custom styles (move elsewhere later)



