// Colors
// -----------------------------------------------------------------------------
// Change the color variables once at the top, or change elements individually
// below. Colors are typically Hex values, or one of 140 standard color names/

$dark: #363636;
$black: #000000;
$off-black: #333333;
$light-black: #292929;
$off-gray: #666666;
$dark-gray: #999999;
$gray: #CCCCCC;
$light-gray: #D4DFE2;
$ivory: #D8E6EA;
$red: #CF4747;
$dark-red: #B02E2E;
$light-yellow: #F9F9A3;
$light: #f5f5f5;
$off-white: #EEF2F3;
$white: #ffffff;
$baby-blue: #55F3FF;
$blue: #3273dc;
$pacific-blue: #0090D4;
$light-blue: #6A8EB8;
$light-purple: #dc52f5;
$dark-semi-transparent: rgba(0, 0, 0, .5);
$black-semi-transparent: rgba(0, 0, 0, 0.75);