// =============================================================================
// Fonts.scss
// -----------------------------------------------------------------------------
// Custom font declarations (if any) can be imported here
//

@font-face {
  font-family: "Merriweather";
  src: url("../fonts/merriweather/merriweather-regular.eot");
  src: url("../fonts/merriweather/merriweather-regular.eot?#iefix") format("embedded-opentype"),
       url("../fonts/merriweather/merriweather-regular.woff2") format("woff2"),
       url("../fonts/merriweather/merriweather-regular.woff") format("woff"),
       url("../fonts/merriweather/merriweather-regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

// Merriweather Italic
@font-face {
  font-family: "Merriweather";
  src: url("../fonts/merriweather/merriweather-italic.eot");
  src: url("../fonts/merriweather/merriweather-italic.eot?#iefix") format("embedded-opentype"),
       url("../fonts/merriweather/merriweather-italic.woff2") format("woff2"),
       url("../fonts/merriweather/merriweather-italic.woff") format("woff"),
       url("../fonts/merriweather/merriweather-italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

// Merriweather Bold
@font-face {
  font-family: "Merriweather";
  src: url("../fonts/merriweather/merriweather-bold.eot");
  src: url("../fonts/merriweather/merriweather-bold.eot?#iefix") format("embedded-opentype"),
       url("../fonts/merriweather/merriweather-bold.woff2") format("woff2"),
       url("../fonts/merriweather/merriweather-bold.woff") format("woff"),
       url("../fonts/merriweather/merriweather-bold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

// Merriweather Bold Italic
@font-face {
  font-family: "Merriweather";
  src: url("../fonts/merriweather/merriweather-bolditalic.eot");
  src: url("../fonts/merriweather/merriweather-bolditalic.eot?#iefix") format("embedded-opentype"),
       url("../fonts/merriweather/merriweather-bolditalic.woff2") format("woff2"),
       url("../fonts/merriweather/merriweather-bolditalic.woff") format("woff"),
       url("../fonts/merriweather/merriweather-bolditalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}

// Merriweather Light
@font-face {
  font-family: "Merriweather";
  src: url("../fonts/merriweather/merriweather-light.eot");
  src: url("../fonts/merriweather/merriweather-light.eot?#iefix") format("embedded-opentype"),
       url("../fonts/merriweather/merriweather-light.woff2") format("woff2"),
       url("../fonts/merriweather/merriweather-light.woff") format("woff"),
       url("../fonts/merriweather/merriweather-light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

// Merriweather Light Italic
@font-face {
  font-family: "Merriweather";
  src: url("../fonts/merriweather/merriweather-lightitalic.eot");
  src: url("../fonts/merriweather/merriweather-lightitalic.eot?#iefix") format("embedded-opentype"),
       url("../fonts/merriweather/merriweather-lightitalic.woff2") format("woff2"),
       url("../fonts/merriweather/merriweather-lightitalic.woff") format("woff"),
       url("../fonts/merriweather/merriweather-lightitalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

// Lato Light
@font-face {
  font-family: "Lato";
  src: url("../fonts/lato/lato-light.eot");
  src: url("../fonts/lato/lato-light.eot?#iefix") format("embedded-opentype"),
       url("../fonts/lato/lato-light.woff2") format("woff2"),
       url("../fonts/lato/lato-light.woff") format("woff"),
       url("../fonts/lato/lato-light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

// Lato Light Italic
@font-face {
    font-family: "Lato";
    src: url("../fonts/lato/lato-lightitalic.eot");
    src: url("../fonts/lato/lato-lightitalic.eot?#iefix") format("embedded-opentype"),
         url("../fonts/lato/lato-lightitalic.woff2") format("woff2"),
         url("../fonts/lato/lato-lightitalic.woff") format("woff"),
         url("../fonts/lato/lato-lightitalic.ttf") format("truetype");
    font-weight: 300;
    font-style: italic;
}

// Lato Regular
@font-face {
  font-family: "Lato";
  src: url("../fonts/lato/lato-regular.eot");
  src: url("../fonts/lato/lato-regular.eot?#iefix") format("embedded-opentype"),
       url("../fonts/lato/lato-regular.woff2") format("woff2"),
       url("../fonts/lato/lato-regular.woff") format("woff"),
       url("../fonts/lato/lato-regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

// Lato Italic
@font-face {
    font-family: "Lato";
    src: url("../fonts/lato/lato-italic.eot");
    src: url("../fonts/lato/lato-italic.eot?#iefix") format("embedded-opentype"),
         url("../fonts/lato/lato-italic.woff2") format("woff2"),
         url("../fonts/lato/lato-italic.woff") format("woff"),
         url("../fonts/lato/lato-italic.ttf") format("truetype");
    font-weight: 400;
    font-style: italic;
}

// Lato Bold
@font-face {
  font-family: "Lato";
  src: url("../fonts/lato/lato-bold.eot");
  src: url("../fonts/lato/lato-bold.eot?#iefix") format("embedded-opentype"),
       url("../fonts/lato/lato-bold.woff2") format("woff2"),
       url("../fonts/lato/lato-bold.woff") format("woff"),
       url("../fonts/lato/lato-bold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

// Lato Bold Italic
@font-face {
  font-family: "Lato";
  src: url("../fonts/lato/lato-bolditalic.eot");
  src: url("../fonts/lato/lato-bolditalic.eot?#iefix") format("embedded-opentype"),
       url("../fonts/lato/lato-bolditalic.woff2") format("woff2"),
       url("../fonts/lato/lato-bolditalic.woff") format("woff"),
       url("../fonts/lato/lato-bolditalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}

// Aleo Light
@font-face {
  font-family: "Aleo";
  src: url("../fonts/aleo/aleo-light.eot");
  src: url("../fonts/aleo/aleo-light.eot?#iefix") format("embedded-opentype"),
       url("../fonts/aleo/aleo-light.woff2") format("woff2"),
       url("../fonts/aleo/aleo-light.woff") format("woff"),
       url("../fonts/aleo/aleo-light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

// Aleo Light Italic
@font-face {
    font-family: "Aleo";
    src: url("../fonts/aleo/aleo-lightitalic.eot");
    src: url("../fonts/aleo/aleo-lightitalic.eot?#iefix") format("embedded-opentype"),
         url("../fonts/aleo/aleo-lightitalic.woff2") format("woff2"),
         url("../fonts/aleo/aleo-lightitalic.woff") format("woff"),
         url("../fonts/aleo/aleo-lightitalic.ttf") format("truetype");
    font-weight: 300;
    font-style: italic;
}

// Aleo Regular
@font-face {
  font-family: "Aleo";
  src: url("../fonts/aleo/aleo-regular.eot");
  src: url("../fonts/aleo/aleo-regular.eot?#iefix") format("embedded-opentype"),
       url("../fonts/aleo/aleo-regular.woff2") format("woff2"),
       url("../fonts/aleo/aleo-regular.woff") format("woff"),
       url("../fonts/aleo/aleo-regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

// Aleo Italic
@font-face {
    font-family: "Aleo";
    src: url("../fonts/aleo/aleo-italic.eot");
    src: url("../fonts/aleo/aleo-italic.eot?#iefix") format("embedded-opentype"),
         url("../fonts/aleo/aleo-italic.woff2") format("woff2"),
         url("../fonts/aleo/aleo-italic.woff") format("woff"),
         url("../fonts/aleo/aleo-italic.ttf") format("truetype");
    font-weight: 400;
    font-style: italic;
}

// Aleo Bold
@font-face {
  font-family: "Aleo";
  src: url("../fonts/aleo/aleo-bold.eot");
  src: url("../fonts/aleo/aleo-bold.eot?#iefix") format("embedded-opentype"),
       url("../fonts/aleo/aleo-bold.woff2") format("woff2"),
       url("../fonts/aleo/aleo-bold.woff") format("woff"),
       url("../fonts/aleo/aleo-bold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

// Aleo Bold Italic
@font-face {
  font-family: "Aleo";
  src: url("../fonts/aleo/aleo-bolditalic.eot");
  src: url("../fonts/aleo/aleo-bolditalic.eot?#iefix") format("embedded-opentype"),
       url("../fonts/aleo/aleo-bolditalic.woff2") format("woff2"),
       url("../fonts/aleo/aleo-bolditalic.woff") format("woff"),
       url("../fonts/aleo/aleo-bolditalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}
/////
// IBM Plex Sans Condensed

// IBM Plex Sans Condensed Thin
@font-face {
  font-family: "IBM Plex Sans Condensed";
  src: url("../fonts/IBMPlexSansCondensed/IBMPlexSansCondensed-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

// IBM Plex Sans Condensed Thin Italic
@font-face {
  font-family: "IBM Plex Sans Condensed";
  src: url("../fonts/IBMPlexSansCondensed/IBMPlexSansCondensed-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}

// IBM Plex Sans Condensed Extra Light
@font-face {
  font-family: "IBM Plex Sans Condensed";
  src: url("../fonts/IBMPlexSansCondensed/IBMPlexSansCondensed-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

// IBM Plex Sans Condensed Extra Light Italic
@font-face {
  font-family: "IBM Plex Sans Condensed";
  src: url("../fonts/IBMPlexSansCondensed/IBMPlexSansCondensed-ExtraLightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
}

// IBM Plex Sans Condensed Light
@font-face {
  font-family: "IBM Plex Sans Condensed";
  src: url("../fonts/IBMPlexSansCondensed/IBMPlexSansCondensed-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

// IBM Plex Sans Condensed Light Italic
@font-face {
  font-family: "IBM Plex Sans Condensed";
  src: url("../fonts/IBMPlexSansCondensed/IBMPlexSansCondensed-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

// IBM Plex Sans Condensed Regular
@font-face {
  font-family: "IBM Plex Sans Condensed";
  src: url("../fonts/IBMPlexSansCondensed/IBMPlexSansCondensed-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

// IBM Plex Sans Condensed Italic
@font-face {
  font-family: "IBM Plex Sans Condensed";
  src: url("../fonts/IBMPlexSansCondensed/IBMPlexSansCondensed-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

// IBM Plex Sans Condensed Medium
@font-face {
  font-family: "IBM Plex Sans Condensed";
  src: url("../fonts/IBMPlexSansCondensed/IBMPlexSansCondensed-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

// IBM Plex Sans Condensed Medium Italic
@font-face {
  font-family: "IBM Plex Sans Condensed";
  src: url("../fonts/IBMPlexSansCondensed/IBMPlexSansCondensed-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

// IBM Plex Sans Condensed Semi-Bold
@font-face {
  font-family: "IBM Plex Sans Condensed";
  src: url("../fonts/IBMPlexSansCondensed/IBMPlexSansCondensed-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

// IBM Plex Sans Condensed Semi-Bold Italic
@font-face {
  font-family: "IBM Plex Sans Condensed";
  src: url("../fonts/IBMPlexSansCondensed/IBMPlexSansCondensed-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}

// IBM Plex Sans Condensed Bold
@font-face {
  font-family: "IBM Plex Sans Condensed";
  src: url("../fonts/IBMPlexSansCondensed/IBMPlexSansCondensed-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

// IBM Plex Sans Condensed Bold Italic
@font-face {
  font-family: "IBM Plex Sans Condensed";
  src: url("../fonts/IBMPlexSansCondensed/IBMPlexSansCondensed-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}

////
// Noto Serif
//
// Noto Serif Bold
@font-face {
  font-family: "Noto Serif";
  src: url("../fonts/Noto_Serif/NotoSerif-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

// Noto Serif Bold Italic
@font-face {
  font-family: "Noto Serif";
  src: url("../fonts/Noto_Serif/NotoSerif-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

// Noto Serif Regular
@font-face {
  font-family: "Noto Serif";
  src: url("../fonts/Noto_Serif/NotoSerif-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

// Noto Serif Bold Italic
@font-face {
  font-family: "Noto Serif";
  src: url("../fonts/Noto_Serif/NotoSerif-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}

////
// Noto Sans
//
// Noto Sans Bold
@font-face {
  font-family: "Noto Sans";
  src: url("../fonts/Noto_Sans/NotoSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

// Noto Sans Regular Italic
@font-face {
  font-family: "Noto Sans";
  src: url("../fonts/Noto_Sans/NotoSans-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

// Noto Sans Regular
@font-face {
  font-family: "Noto Sans";
  src: url("../fonts/Noto_Sans/NotoSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

// Noto Sans Bold Italic
@font-face {
  font-family: "Noto Sans";
  src: url("../fonts/Noto_Sans/NotoSans-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}

/**
* Load material icon font
*/

$material-icons-font-path: '~material-icons/iconfont/';
 
@import '~material-icons/iconfont/material-icons.scss';