// =============================================================================
// Utilities.scss
// -----------------------------------------------------------------------------
// scss-lint:disable NameFormat
// Mixins
// -----------------------------------------------------------------------------
// Adjust foreground colors based on an element's background
@mixin foreground-color($bgcolor, $frcolor) {
    * {
        color: $frcolor;
    }
    svg {
        fill: $frcolor;
    }
    a,
    button,
    .button {
        background-color: $bgcolor;
        color: $frcolor !important;
        &:hover,
        &:focus {
            // background-color: darken($bgcolor, 5%);
            // color: $frcolor;
        }
    }
    a {
        border-bottom-color: $frcolor !important;
    }
}

// General Bulma Overrides
// -----------------------------------------------------------------------------
.hero-body .container.is-fluid {
  display: inline-block;
  max-width: none;
  background: $dark-semi-transparent;
  padding: 20px;
  position: absolute;
  bottom: 10%;
  margin-left: 0;
  left: 0;
}

.hero-body,
.section,
.footer {
    padding-left: 0;
    padding-right: 0;
}

// Utility Classes
// -----------------------------------------------------------------------------
sup,
sub {
    line-height: 0;
}

// Visually Hidden utility class
.visually-hidden {
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute;
    width: 1px;
}

.is-print-only {
    @media screen {
        display: none;
    }
}

.is-screen-only {
    @media print {
        display: none;
    }
}

.quire-error {
    text-align: left;
    p {
        font-family: sans-serif;
        margin-bottom: 1em;
    }
    pre {
        margin-top: 1em;
    }
}
// @keyframes
//-------------------------------------------------------
// fadein
@keyframes fadeIn {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/* Firefox < 16 */
@-moz-keyframes fadeIn {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadeIn {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/* Internet Explorer */
@-ms-keyframes fadeIn {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/* Opera < 12.1 */
@-o-keyframes fadeIn {
    from { opacity: 0; }
    to   { opacity: 1; }
}

// slideFromRight
@keyframes slideFromRight {
    from { right: -50em; }
    to { right: 0; }
}
/* Firefox < 16 */
@-moz-keyframes slideFromRight {
    from { right: -50em; }
    to { right: 0; }
}
/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes slideFromRight {
    from { right: -50em; }
    to { right: 0; }
}
/* Internet Explorer */
@-ms-keyframes slideFromRight {
    from { right: -50em; }
    to { right: 0; }
}
/* Opera < 12.1 */
@-o-keyframes slideFromRight {
    from { right: -50em; }
    to { right: 0; }
}


// Required by HTML Template Polyfill for older IE compatibility
// -----------------------------------------------------------------------------
// scss-lint:disable ImportantRule
template {
    display: none !important;
}