// =============================================================================
// Mixins and utility classes
// -----------------------------------------------------------------------------

// scss-lint:disable NameFormat

// Mixins
// -----------------------------------------------------------------------------
// Dynamically invert foreground colors based on an element's background
@mixin foreground-color($bgcolor) {
  * { color: findColorInvert($bgcolor); }

  a {
    background-color: $bgcolor;
    color: findColorInvert($bgcolor);

    &:hover {
      background-color: darken($bgcolor, 5%);
      color: findColorInvert($bgcolor);
    }
  }
}

// Utility Classes
// -----------------------------------------------------------------------------
// Visually Hidden utility class
.visually-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  width: 1px;
}

.is-print-only { @media screen { display: none; } }
.is-screen-only { @media print { display: none; } }



