// =============================================================================
// Variables.scss
// -----------------------------------------------------------------------------
// Change values here to make changes to the type, color, cover and layout of 
// your publication. Variable names are always preceeded by a $ (dollar sign).
// To avoid errors, variables names should not be changed or deleted, and be
// sure to leave the colons (:) and semi-colons (;) in place.

$accent-color: $red;
$content-background-color: $white;
$secondary-background-color: $off-white;

// Declare the theme modern/classic
$theme: modern;

// Navbar color: normal/accent
$navbar: normal;

// Typography
// -----------------------------------------------------------------------------
// The quire-starter-theme templates supports three embedded, open license
// fonts: Merriweather, Lato, and Aleo. They are designated as $serif,
// $sans-serif, and $slab-serif respectively, along with appropriate fallbacks.
// Other fonts may be used, but will probaby require additional custom styling.

$serif: Merriweather, Georgia, serif;
$sans-serif: Lato, Helvetica, sans-serif;
$slab-serif: Aleo, Rockwell, "Trebuchet MS", sans-serif;
$ibm-sans: 'IBM Plex Sans Condensed', sans-serif;
$times-serif: Times, serif;
$noto-serif: 'Noto Serif', serif;
$noto-sans: 'Noto Sans', sans-serif;

$quire-base-font-size: 17px;
$quire-page-paragraph-style: line-space;
// $quire-page-paragraph-style: indent;
// make the value null for paragraphs with no indent and a line space between

// Quire Redesign
// -----------------------------------------------------------------------------

// Print 
$page-color: $white;
$page-text-color: $dark;

// included in various foreground-color on page.scss
$quire-page-header-color: $light;
$quire-page-header-text-color: $dark;

// part of menus 
$quire-menu-color: $dark;
$quire-menu-border-color: $dark;
$quire-menu-text-color: $white;

// entry page image colors
$quire-entry-image-color: $dark;
$quire-entry-image-icons-color: $white;

// new quire variables
$quire-hover-color: $light-yellow;


// Declare default values based on modern theme
// -----------------------------------------------------------------------------
$family-primary: $noto-sans; // body text: $serif, $sans-serif, $slab-serif
$family-secondary: $ibm-sans; // headings and navigation items: $serif, $sans-serif, $slab-serif
$quire-header-font: $family-secondary;
$quire-nav-font: $family-primary;
$quire-body-font: $family-primary;

// Modern Theme
// -----------------------------------------------------------------------------
@if $theme == modern {
  $family-primary: $noto-sans; // body text: $serif, $sans-serif, $slab-serif
  $family-secondary: $ibm-sans; // headings and navigation items: $serif, $sans-serif, $slab-serif

  $quire-header-font: $family-secondary;
  $quire-nav-font: $family-primary;
  $quire-body-font: $family-primary;

  $accent-color: $red;
  $content-background-color: $white !default;
  $secondary-background-color: $off-white !default;
}

// Classic Theme
// -----------------------------------------------------------------------------
@if $theme == classic {
  $family-primary: $noto-serif; // body text: $serif, $sans-serif, $slab-serif
  $family-secondary: $times-serif; // headings and navigation items: $serif, $sans-serif, $slab-serif

  $quire-header-font: $family-secondary;
  $quire-nav-font: $family-primary;
  $quire-body-font: $family-primary;
  
  $accent-color: $light-blue;
  $content-background-color: $white !default;
  $secondary-background-color: $off-white !default;
}

// Declare navbar variables
// -----------------------------------------------------------------------------
$quire-navbar-color: $white;
$quire-navbar-hover-color: darken($quire-navbar-color, 5%);
$quire-navbar-text-color: $dark;

// Normal Navbar
// -----------------------------------------------------------------------------
@if $navbar == normal {
  $quire-navbar-color: $white;
  $quire-navbar-hover-color: darken($quire-navbar-color, 5%);
  $quire-navbar-text-color: $dark;
}

// Accent Navbar
// -----------------------------------------------------------------------------
@if $navbar == accent {
  $quire-navbar-color: $accent-color;
  $quire-navbar-hover-color: darken($quire-navbar-color, 5%);
  $quire-navbar-text-color: $white;
}


// Cover
// -----------------------------------------------------------------------------
$quire-cover-color-1: $blue;
$quire-cover-color-2: $light-purple;
// make the colors the same to have a solid background

$cover-overlay-image-opacity: .5;
$cover-overlay-image: 'pattern_spiral_gradient_02@2x.png';
// pattern-1.png, pattern-2.png, pattern-3.png, pattern-4.png
// Or add your own custom pattern tile in your static/img directory and
// reference it here. To have a single image for the cover, with no color
// or pattern overlay, add it to the YAML of your cover.md file,
// --> image: cover-background.jpg

$quire-cover-font-family: $noto-sans;
$quire-cover-text-color: $white;

$quire-cover-text-scale: 1;
// use decimal numbers (such as .8 or 1.3) to increase and decrease size

$quire-cover-text-alignment: left;
// left, right or center

$quire-cover-footer-color: $light;
$quire-cover-footer-text-color: $dark;


// Layout
// ----------------------------------------------------------------------------
$quire-menu-width: 352px;
$quire-primary-move: calc(-100% + 3rem);

$navbar-height: 3rem;

// adjust column gap for grid
// NOTICE: this var = 2x the value 
// 5px = 10px margin between columns
$column-gap: 5px;

$quire-entry-header-height: 6rem;
$quire-map-height: 500px;
$quire-deepzoom-height: 500px;
// default heights for maps and zooming image figures