// =============================================================================
// Variables.scss
// -----------------------------------------------------------------------------
// Change values here to make changes to the type, color, cover and layout of 
// your publication. Variable names are always preceeded by a $ (dollar sign).
// To avoid errors, variables names should not be changed or deleted, and be
// sure to leave the colons (:) and semi-colons (;) in place.


// Typography
// -----------------------------------------------------------------------------
// The quire-starter-theme templates supports three embedded, open license
// fonts: Merriweather, Lato, and Aleo. They are designated as $serif,
// $sans-serif, and $slab-serif respectively, along with appropriate fallbacks.
// Other fonts may be used, but will probaby require additional custom styling.

$serif: Merriweather, Georgia, serif;
$sans-serif: Lato, Helvetica, sans-serif;
$slab-serif: Aleo, Rockwell, "Trebuchet MS", sans-serif;
$ibm-sans: 'IBM Plex Sans Condensed', sans-serif;
$times-serif: Times, serif;
$noto-serif: 'Noto Serif', serif;
$noto-sans: 'Noto Sans', sans-serif;

$quire-base-font-size: 17px;
$quire-page-paragraph-style: line-space;
// $quire-page-paragraph-style: indent;
// make the value null for paragraphs with no indent and a line space between

// Declare the theme primary or secondary
$theme: primary;

// Navbar color: normal or inverse
$navbar: normal;

// Colors
// -----------------------------------------------------------------------------
// Change the color variables once at the top, or change elements individually
// below. Colors are typically Hex values, or one of 140 standard color names/

$color-primary: #3273dc;
$dark: #363636;
$black: #000000;
$off-black: #333333;
$light-black: #292929;
$off-gray: #666666;
$dark-gray: #999999;
$gray: #CCCCCC;
$light-gray: #D4DFE2;
$ivory: #D8E6EA;
$red: #CF4747;
$dark-red: #B02E2E;
$light-yellow: #F9F9A3;
$light: #f5f5f5;
$off-white: #EEF2F3;
$white: #ffffff;
$blue: #3273dc;
$light-blue: #6A8EB8;
$dark-semi-transparent: rgba(0, 0, 0, .5);
$black-semi-transparent: rgba(0, 0, 0, 0.75);

$quire-page-link-color: $color-primary;
$quire-page-link-highlight: $light;

$page-color: $white;
$page-text-color: $dark;

$quire-page-header-color: $light;
$quire-page-header-text-color: $dark;

$quire-navbar-color: $white;
$quire-navbar-border-color: $dark;
$quire-navbar-text-color: $dark;

$quire-menu-color: $dark;
$quire-menu-border-color: $dark;
$quire-menu-text-color: $white;

$quire-entry-image-color: $dark;
$quire-entry-image-icons-color: $white;

$quire-splash-page-color: $light-blue;

// Quire Redesign
// -----------------------------------------------------------------------------
// Setup of new quire variables
// Primary Theme
$family-primary: $noto-sans; // body text: $serif, $sans-serif, $slab-serif
$family-secondary: $ibm-sans; // headings and navigation items: $serif, $sans-serif, $slab-serif
$quire-header-font: $family-secondary;
$quire-nav-font: $family-primary;
$quire-body-font: $family-primary;
$quire-header-color: $off-black;
$quire-nav-font-color: $white;
$quire-body-font-color: $black;
$quire-hover-color: $light-yellow;
$quire-primary-color: $red;
$quire-primary-color-hover: $dark-red;
$quire-secondary-color: $off-black;
$quire-body-background-color: $off-white;

// Secondary Theme
@if $theme == secondary {
  $family-primary: $noto-serif; // body text: $serif, $sans-serif, $slab-serif
  $family-secondary: $times-serif; // headings and navigation items: $serif, $sans-serif, $slab-serif
  $quire-header-font: $family-secondary;
  $quire-nav-font: $family-primary;
  $quire-body-font: $family-primary;
  $quire-header-color: $off-black;
  $quire-nav-font-color: $white;
  $quire-body-font-color: $black;
  $quire-hover-color: $light-yellow;
  $quire-primary-color: $off-black;
  $quire-primary-color-hover: $light-blue;
  $quire-secondary-color: $light-blue;
  $quire-body-background-color: $off-white;
}
// Cover
// -----------------------------------------------------------------------------

$quire-cover-color-1: $color-primary;
$quire-cover-color-2: #dc52f5;
// make the colors the same to have a solid background

$cover-overlay-image-opacity: .5;
$cover-overlay-image: 'pattern-1.png';
// pattern-1.png, pattern-2.png, pattern-3.png, pattern-4.png
// Or add your own custom pattern tile in your static/img directory and
// reference it here. To have a single image for the cover, with no color
// or pattern overlay, add it to the YAML of your cover.md file,
// --> image: cover-background.jpg

$quire-cover-font-family: $noto-sans;
$quire-cover-text-color: $white;

$quire-cover-text-scale: 1;
// use decimal numbers (such as .8 or 1.3) to increase and decrease size

$quire-cover-text-alignment: left;
// left, right or center

$quire-cover-footer-color: $light;
$quire-cover-footer-text-color: $dark;

$quire-page-link-color: $quire-primary-color !default;


// Layout
// ----------------------------------------------------------------------------
$quire-menu-width: 352px;
$quire-primary-move: calc(-100% + 3rem);

$navbar-height: 3rem;

// adjust column gap for grid
// NOTICE: this var = 2x the value 
// 5px = 10px margin between columns
$column-gap: 5px;

$quire-entry-header-height: 6rem;
$quire-map-height: 500px;
$quire-deepzoom-height: 500px;
// default heights for maps and zooming image figures