{{/*
  Baseof template. All other files inherit from this layout, so edit it with care.
  The "main" bock has been added below to make it easy to slot in content from
  different layouts into this template, just wrap your file in {{ define "main" }}
  / {{ end }} tags.
*/}}

<!DOCTYPE html>
<html lang="{{ .Site.Data.publication.language }}">
  {{ partial "head.html" . }}
  <body class="">
    {{ partial "controls.html" . }}
    {{ partial "menu.html" . }}
    <div class="container">
      {{ block "main" . }}
      {{ end }}
    </div>

    <script src="{{ .Site.BaseURL }}/js/application.js"></script>
    <script type="text/javascript">
     // setup accessible expanders
     // add visually-hidden class to footnote links for accessibility
    </script>
    <!-- Add analytics partial here -->
  </body>
</html>
