{{- $dict := dict "Site" .Site "alt" .alt "id" .id "mediaType" .mediaType "src" .src -}}

{{- if or (eq .Site.Params.epub true) (eq .Site.Params.pdf true) -}}

  {{- partial "figure-fallback.html" $dict -}}

  <figcaption class="quire-figure__caption caption"><a href="https://youtu.be/{{ .mediaId }}" target="_blank" >https://vimeo.com/{{ .mediaId }}</a></figcaption>

{{- else -}}

<div  class="tetstts quire-figure__media-wrapper{{ if .aspectRatio }}--{{ .aspectRatio }}{{ else }}--widescreen{{ end }}">
  <iframe id="{{ .id }}"
    class="quire-figure__media"
    src="https://player.vimeo.com/video/{{ .mediaId }}"
    frameborder="0"
    allow="autoplay; fullscreen"
    allowfullscreen></iframe>
</div>

{{- end -}}
