{{- if or (eq .Site.Params.epub true) (eq .Site.Params.pdf true) -}}

  {{- $fallbackDict := dict "Site" .Site "alt" .alt "id" .id "mediaType" .mediaType "src" .src -}}
  {{- partial "figure-fallback.html" $fallbackDict -}}

  <figcaption class="quire-figure__caption caption"><a href="https://youtu.be/{{ .mediaId }}" target="_blank" >https://youtu.be/{{ .mediaId }}</a></figcaption>

{{- else -}}

<div  class="quire-figure__media-wrapper{{ if .aspectRatio }}--{{ .aspectRatio }}{{ else }}--widescreen{{ end }}">
  <iframe
    class="quire-figure__media"
    src="https://www.youtube-nocookie.com/embed/{{ .mediaId }}?rel=0&amp;showinfo=0"
    frameborder="0"
    allowfullscreen></iframe>
</div>

{{- end -}}

{{- if .label }}
  {{- $labelDict := dict "Site" .Site "label" .label "icon" false -}}
  {{- partial "figure-label.html" $labelDict -}}
{{- end -}}