.quire-citation {
  display: inline;
  text-align: inherit;
  box-sizing: inherit;
  border-width: 0;
  background-color: #eaeaea;
  padding-left: .25em;
  padding-right: .25em;
  border-radius: .25em;
  font-size: .8em;
  font-weight: 400;
  color: #727272;
  cursor: pointer;
  white-space: nowrap;
}

.quire-citation-content {
  display: none;
  position: absolute;
  margin-left: 1em;
  margin-top: 1em;
  font-size: .8em;
  line-height: 1.5;
  background-color: #eee;
  border-radius: 10px;
  padding: 1em;
  max-width: 30em;
  text-indent: 0;
}

.quire-citation-content__no-css {
  display: none;
}

.quire-citation:hover + .quire-citation-content,
.quire-citation:focus + .quire-citation-content {
  display: block;
}


.q-figure__wrapper__video--standard {
  padding-bottom: 75%;
  position: relative;
}

.q-figure__wrapper__video--widescreen {
  padding-bottom: 56.25%;
  position: relative;
}

.q-figure__wrapper__video--standard iframe,
.q-figure__wrapper__video--widescreen iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.q-contributors__list {
  list-style-type: none;
  padding-left: 0;
}

.q-contributors__list .q-contributors__list__item {
  margin-bottom: 1em;
}

.q-contributors__list .q-contributors__list__item p {
  margin-bottom: 0;
}
