{{/*
  List the names for all contributors for the given page, as well as their
  details if necessary. Call this partial inside of a <ul> element with the
  appropriate class applied for styling. This partial expects to have certain
  values passed in from its parent:

  "contributorInfo" - all contributors on the page, typically .Params.contributor
  "break"           - the break character to be applied between the contributor
                      name, and their title/affiliation. May inlcude an html
                      tag like <br /> a comma ", " or other character.

  The best way to use this partial is to construct a dictionary containing
  these values on the fly when calling it. Example:

  partial "byline.html" (dict "contributorInfo" .Params.contributor "break" ", ")
*/}}

{{ $break := (safeHTML .break) }}

<ul
  class="quire-page__contributor"
  role="contentinfo"
  aria-label="authors">
{{ range .contributorInfo }}
  <li>
    {{- .first_name }} {{ .last_name -}}
    {{- if or .title .affiliation }}
      {{- $break }}
      {{ with .title }}{{ . }}{{- end }}
      {{- with and .title .affiliation }}, {{ end -}}
      {{- with .affiliation }}{{ . }}{{- end }}
    {{- end }}
  </li>
{{ end }}
</ul>
