{{/*
  A simple partial to create a list of names with proper "and" or "," connectors.
  A context should be passed to it, such as .Site.Data.publication.primary_contributor
  or .Params.contributor

  EXAMPLE PARTIAL USE:
  partial "contributor-list.html" .Params.contributor
*/}}
{{- $len := len . -}}
{{- range $index, $element := . -}}
  {{- if eq $len 1 -}}
    <span>{{ .first_name }} {{ .last_name }}</span>
  {{- else if eq (add $index 1) $len -}}
    <span> and {{ .first_name }} {{ .last_name }}</span>
  {{- else -}}
    {{- if eq $len 2 -}}
      <span>{{ .first_name }} {{ .last_name }} </span>
    {{- else -}}
      <span>{{ .first_name }} {{ .last_name }}, </span>
    {{- end -}}
  {{- end -}}
{{- end }}