{{/*
  This partial generates a contents list. It is used in the publication menu
  and in the "contents" page type, but could be extended for further use. It
  expects three specific variables to be passed:

  contentsScope     Typically .Site but could potentially be narrowed to
                    a single section or group of sections.
  contentsType      Must be either "short" or "full". Often defined in config.yml
                    Short doesn't display any sub-section pages.
  contentsLocation  Must be either "menu" or "toc". Determines in what context
                    the partial is being shown so that individual pages can be
                    hidden as called for. For example, if contentsLocation is
                    "toc" any pages in the publication with "toc: false"
                    will be omitted from the generated contents list. The "menu"
                    option also shows a shorter version of each page in the list,
                    with no subtitle or contributors.

  Currently, all sections must have an `index.md` file with a "type" of
  "section-head" for this partial to work, and nested sections are not
  supported.

  EXAMPLE PARTIAL USE:
  partial "contents-list.html" (dict "contentsScope" .Site "contentsType"
  .Site.Params.tocType "contentsLocation" "toc")

*/}}

{{ $contentsType := .contentsType }}
{{ $contentsLocation := .contentsLocation }}

{{- if or (and (ne $contentsType "full") (ne $contentsType "short")) (and (ne $contentsLocation "toc") (ne $contentsLocation "menu")) -}}

<h4>ERROR: `contentsType` must be "short" or "full", and `contentsLocation` must be "menu" or "toc"</h4>

{{- else -}}

<ul class="contents-list">
  {{- range .contentsScope.Pages -}}
    {{- if .Section -}}
      {{- if eq .Type "section-head" -}}
      <li class="contents-list__section-item"><a href="{{ .Permalink }}">{{ with .Params.id }}{{ . }}. {{ end }}{{ .Title | markdownify }}</a>
          {{- if eq $contentsType "full" -}}
          {{- $sectionname := .Section -}}
          <ul>
            {{- range where .Site.Pages "Section" $sectionname -}}
            {{ if and (ne .Kind "section") (ne .Type "section-head") -}}
              {{ if and (eq $contentsLocation "toc") (ne .Params.toc false ) -}}
                {{ template "contents-list-item-toc" . -}}
              {{ end -}}
              {{ if and (eq $contentsLocation "menu") (ne .Params.menu false) -}}
                {{ template "contents-list-item-menu" . -}}
              {{ end -}}
            {{ end -}}
            {{ end -}}
          </ul>
          {{- end -}}
      </li>
      {{ else -}}
      {{ end -}}
    {{ else -}}
      {{ if and (eq .Kind "page") (ne .Type "data") -}}
      {{ if and (eq $contentsLocation "toc") (ne .Params.toc false ) -}}
        {{ template "contents-list-item-toc" . -}}
      {{ end -}}
      {{ if and (eq $contentsLocation "menu") (ne .Params.menu false) -}}
        {{ template "contents-list-item-menu" . -}}
      {{ end -}}
      {{ end -}}
    {{ end -}}
  {{ end -}}
</ul>

{{- end -}}


{{- define "contents-list-item-toc" }}
  <li class="contents-list__page-item"><a href="{{ .Permalink }}">{{ with .Params.id }}{{ . }}. {{ end }}{{ .Title | markdownify }}{{ with .Params.subtitle }}: {{ . | markdownify }}{{ end }}</a>{{ if .Params.contributor }} — {{ partial "contributor-list.html" (dict "contributorRange" .Params.contributor) }}{{ end }}</li>
{{ end -}}

{{- define "contents-list-item-menu" }}
  <li class="contents-list__page-item"><a href="{{ .Permalink }}">{{ with .Params.id }}{{ . }}. {{ end }}{{ .Title | markdownify }}</a></li>
{{ end -}}
