<div class="{{ if eq $.Site.Params.pdf true }} visually-hidden {{ end }} quire-contents-buttons remove-from-epub">
  <ul>
      {{ with .Prev }}
      {{- if and (ne .Params.online false) (ne .Type "data") -}}
      <li class="quire-nav-button prev">
          <a href="{{ .Permalink }}">{{- template "image-control-icon" (dict "type" "left-arrow" "description" "Go back a page" "imageDir" ($.Scratch.Get "imageDir") ) -}} <span class="nav-title">{{ $.Site.Params.prevPageButtonText }}</span></a>
          <span class="visually-hidden">Previous Page (left keyboard arrow or swipe)</span>
      </li>
      {{ end }}
      {{ end }}
      {{ with .Next }}
      {{- if and (ne .Params.online false) (ne .Type "data") -}}
      <li class="quire-nav-button next">
          <a href="{{ .Permalink }}"><span class="nav-title">{{ $.Site.Params.nextPageButtonText }}</span> {{- template "image-control-icon" (dict "type" "right-arrow" "description" "Go to next page" "imageDir" ($.Scratch.Get "imageDir") ) -}}</a>
          <span class="visually-hidden">Next Page (right keyboard arrow or swipe)</span>
      </li>
      {{ end }}
      {{ end }}
  </ul>
</div>

{{ define "image-control-icon" }}
<svg class="remove-from-epub">
  <switch>
    <use xlink:href="#{{ .type }}-icon"></use>
    <foreignObject width="24" height="24">
        <img class="remove-from-epub" src="{{ relURL .imageDir }}/icons/{{ .type }}@2x.png" alt="{{ .description }}" />
    </foreignObject>
  </switch>
</svg>
<span class="visually-hidden">{{ .description }}</span>
{{ end }}