<div class="{{ if eq $.Site.Params.pdf true }} visually-hidden {{ end }} quire-contents-buttons remove-from-epub">
  <ul>
      {{ with .Next }}
      {{- if and (ne .Params.online false) (ne .Type "data") -}}
      <li class="quire-nav-button prev">
          <a href="{{ .Permalink | relURL }}">{{- partial "icon.html" (dict "type" "left-arrow" "description" "Go back a page") -}} <span class="nav-title">{{ $.Site.Params.prevPageButtonText }}</span></a>
          <span class="visually-hidden">Previous Page (left keyboard arrow or swipe)</span>
      </li>
      {{ end }}
      {{ end }}
      {{ with .Prev }}
      {{- if and (ne .Params.online false) (ne .Type "data") -}}
      <li class="quire-nav-button next">
          <a href="{{ .Permalink | relURL }}"><span class="nav-title">{{ $.Site.Params.nextPageButtonText }}</span> {{- partial "icon.html" (dict "type" "right-arrow" "description" "Go to next page") -}}</a>
          <span class="visually-hidden">Next Page (right keyboard arrow or swipe)</span>
      </li>
      {{ end }}
      {{ end }}
  </ul>
</div>
