{{/*
This controls the various navigation elements (nav, skip-link, menu and
search icons, and search results if enabled). It is visible on all pages.
*/}}

{{- if isset $.Site.Params "imagedir" }}
{{ $.Scratch.Set "imageDir" $.Site.Params.imageDir }}
{{ else }}
{{ $.Scratch.Set "imageDir" "" }}
{{ end -}}
{{- $imgDir := $.Scratch.Get "imageDir" -}}

<div class="quire-navbar">

  <a href="#main" class="quire-navbar-skip-link" tabindex="1">
    Skip to Main Content
  </a>

  <nav class="quire-navbar-controls">
    <div class="quire-navbar-controls__left">
      <button class="quire-navbar-button search-button"
              aria-controls="quire-search"
              onclick="toggleSearch()">
        <svg>
          <switch>
            <use xlink:href="#search-icon"></use>
            <foreignObject width="32" height="32">
                <img src="{{ $imgDir | absURL }}/icons/search@2x.png" alt="" />
            </foreignObject>
          </switch>
        </svg>
        <span class="visually-hidden">Search</span>
      </button>
    </div>

    <div class="quire-navbar-controls__center">
      <ul class="quire-navbar-page-controls" role="navigation" aria-label="quick">
        {{ if eq .Type "cover" }}
        <li class="quire-navbar-page-controls__item quire-home-page">
          <a href='{{ .Next.Permalink }}' rel="start">
            <span class="visually-hidden">Home Page: </span>
            <button class="quire-navbar-button play-button"
              aria-controls="quire-search">
              <svg>
                <switch>
                  <use xlink:href="#start-icon"></use>
                  <foreignObject width="32" height="32">
                      <img src="{{ $imgDir | absURL }}/icons/play@2x.png" alt="" />
                  </foreignObject>
                </switch>
              </svg>
              <span class="visually-hidden">Search</span>
            </button>
          </a>
        </li>
        {{ else }}
        <li class="quire-navbar-page-controls__item quire-home-page">
          <a href='{{ .Prev.Permalink }}' rel="previous">
            <span class="visually-hidden">Previous Page: </span>
            <svg class="left-icon">
              <switch>
                <use xlink:href="#left-arrow-icon"></use>
                <foreignObject width="24" height="24">
                    <img src="{{ $imgDir | absURL }}/icons/left@2x.png" alt="" />
                </foreignObject>
              </switch>
            </svg>
            {{ if .Prev.Title }}
            {{ .Prev.Title | markdownify }}
            {{ end }}
          </a>
        </li>

        <li class="quire-navbar-page-controls__item quire-home-page">
          <a href='{{ relref . "cover.md" }}' rel='home'>
            <span class="visually-hidden">Home Page: </span>
            <button class="quire-navbar-button home-button"
              aria-controls="quire-home">
              <svg>
                <switch>
                  <use xlink:href="#home-icon"></use>
                  <foreignObject width="32" height="32">
                      <img src="{{ $imgDir | absURL }}/icons/rewind@2x.png" alt="" />
                  </foreignObject>
                </switch>
              </svg>
              <span class="visually-hidden">Search</span>
            </button>
          </a>
        </li>

        <li class="quire-navbar-page-controls__item quire-next-page">
          <a href='{{ .Next.Permalink }}' rel='next'>
            <span class="visually-hidden">Next Page: </span>
            {{ if .Next.Title }}
            {{ .Next.Title | markdownify }}
            <svg>
              <switch>
                <use xlink:href="#right-arrow-icon"></use>
                <foreignObject width="24" height="24">
                    <img src="{{ $imgDir | absURL }}/icons/right@2x.png" alt="" />
                </foreignObject>
              </switch>
            </svg>
            {{ end }}
          </a>
        </li>
        {{ end }}
      </ul>
    </div>

    <div class="quire-navbar-controls__right">
      <button class="quire-navbar-button menu-button"
              id="quire-controls-menu-button"
              onclick="toggleMenu()"
              aria-expanded="true"
              aria-controls="quire-menu"
              tabindex="2" >
        <svg>
          <switch>
            <use xlink:href="#nav-icon"></use>
            <foreignObject width="32" height="32">
                <img src="{{ $imgDir | absURL }}/icons/nav@2x.png" alt="" />
            </foreignObject>
          </switch>
        </svg>
        <span class="visually-hidden">Table of Contents</span>
      </button>
    </div>
  </nav>

  <div class="quire-progress-bar">
    {{ $len := len .Site.Pages }}
    {{ range $index, $element := .Site.Pages }}
      {{ if eq . $.Page }}
        <div style="width: calc(100% * ({{add $index 1}} / {{sub $len 1}}));">
          <span>{{ add $index 1 }}/{{ sub $len 1 }}</span>
        </div>
      {{ end }}
    {{ end }}
  </div>


</div>

{{- define "if-previous" -}}
{{- if isset $.Site.Params "imagedir" }}
{{ $.Scratch.Set "imageDir" $.Site.Params.imageDir }}
{{ else }}
{{ $.Scratch.Set "imageDir" "" }}
{{ end -}}
{{- $imgDir := $.Scratch.Get "imageDir" -}}
{{- if .Prev -}}
{{- if and (ne .Prev.Params.online false) (ne .Prev.Type "data") -}}
<li class="quire-navbar-button arrow-button">
  <a href="{{ .Prev.Permalink }}" rel="prev" id="js-prev" >
    <svg>
      <switch>
        <use xlink:href="#left-arrow-icon"></use>
        <foreignObject width="18" height="32">
            <img src="{{ $imgDir | absURL }}/icons/left@2x.png" alt="" />
        </foreignObject>
      </switch>
    </svg>
    <span class="visually-hidden">Previous Page (left keyboard arrow or swipe)</span>
  </a>
</li>
{{- else -}}
  {{ template "if-previous" .Prev }}
{{- end -}}
{{- end -}}
{{- end -}}

{{- define "if-next" -}}
{{- if isset $.Site.Params "imagedir" }}
{{ $.Scratch.Set "imageDir" $.Site.Params.imageDir }}
{{ else }}
{{ $.Scratch.Set "imageDir" "" }}
{{ end -}}
{{- $imgDir := $.Scratch.Get "imageDir" -}}
{{- if .Next -}}
{{- if and (ne .Next.Params.online false) (ne .Next.Type "data") -}}
{{ if eq .Type "cover" }}
  <!-- show nothing -->
{{ else }}
<li class="quire-navbar-button arrow-button">
  <a href="{{ .Next.Permalink }}" rel="next" id="js-next">
    <svg>
      <switch>
        <use xlink:href="#right-arrow-icon"></use>
        <foreignObject width="18" height="32">
            <img src="{{ $imgDir | absURL }}/icons/right@2x.png" alt="" />
        </foreignObject>
      </switch>
    </svg>
    <span class="visually-hidden">Next Page (right keyboard arrow or swipe)</span>
  </a>
</li>
{{- end -}}
{{- else -}}
  {{ template "if-next" .Next }}
{{- end -}}
{{- end -}}
{{- end -}}
