{{- range .Site.Data.bibliography.biblio_list -}}
  {{ $refs := replace .reference_for " " "" }} {{ $refslist := split $refs "," }}
  {{- range $refslist -}}
    {{- if (eq . $.Params.id)  }}{{ $.Scratch.Add "a" . }}{{- end -}}
  {{- end -}}
{{- end -}}
{{ $pagebiblio := $.Scratch.Get "a" }}

<section class="quire-page__header hero is-light is-medium">
  <div class="hero-body">
    <div class="container has-text-centered">

      {{/* Page Title */}}
      <h1 class="title is-size-1">
        {{ with .Params.id }}<span>{{ . }}.</span>{{ end }}
        {{ .Title | markdownify }}
      </h1>

      {{/* Subtitle if any */}}
      {{ with .Params.subtitle }}
      <h2 class="subtitle is-size-3">{{ . }}</h2>
      {{ end }}

      {{/* Contributors, if byline is not set to false in page params */}}
      {{ if and .Params.contributor (ne .Params.byline false) }}
      <div class="contributor is-size-5">
        {{ partial "contributor-list.html" (dict "range" .Params.contributor "type" "list-plus") }}
      </div>
      {{ end }}

      {{/* Essay pages have additional controls (quick links to content, notes, biblio) */}}
      {{ if (eq .Type "essay") }}
      <div class="tabs is-centered" role="navigation" aria-label="page">
        <ul>
          <li><a href="#content">Main Text</a></li>
          <li><a href="#notes">Notes</a></li>

          {{ if ($.Scratch.GetSortedMapValues "cited") }}
          <li><a href="#bibliography">Bibliography</a></li>
          {{ end }}
        </ul>
      </div>
      {{ end }}

    </div>
  </div>
</section>
