{{- if isset $.Site.Params "imagedir" }}
{{ $.Scratch.Set "imageDir" $.Site.Params.imageDir }}
{{ else }}
{{ $.Scratch.Set "imageDir" "" }}
{{ end -}}

{{- if .Params.image -}}
{{- $imgPath := printf "%s/%s" ($.Scratch.Get "imageDir") .Params.image -}}
  <section class="{{ if or (eq .Title "title page") (eq .Title "half title page") }} is-screen-only {{ end }} quire-page__header hero {{ if in .Params.class "splash" }} quire-page__header--full-height{{ end }}" style="background-image: url('{{ $imgPath | absURL }}');">
{{- else -}}
  <section class="{{ if or (eq .Title "title page") (eq .Title "half title page") }} is-screen-only {{ end }} quire-page__header hero {{ if in .Params.class "splash" }} quire-page__header--full-height{{ end }}">
{{- end -}}
  <div class="hero-body">

      {{/* Page Title */}}
      <h1 class="quire-page__header__title" id="{{ .Title | urlize }}">
        {{ with .Params.number }}<span>{{ . }}.</span>{{ end }}
        {{ .Title | markdownify }}
        {{ with .Params.subtitle }}
        <span class="quire-page__header__subtitle">{{ . | markdownify }}</span>
        {{ end }}
      </h1>

      {{/* Contributors, if any */}}
      {{ with .Params.contributor }}
      <div class="quire-page__header__contributor">
        {{ partial "contributor-list.html" (dict "range" . "contributorType" "all" "listType" "list-plus" "Site" $.Site) }}
      </div>
      {{ end }}

  </div>
</section>