<div id="js-search"
     class="quire-search"
     aria-expanded="false"
     data-search-index='{{ relref . "search-index.md" }}' >
  <div class="quire-search__close-button">
    <button class="button is-large" onclick="toggleSearch()">
      <span class="icon">
        <i class="ion ion-close"></i>
      </span>
    </button>
  </div>

  <div class="quire-search__inner" aria-label="search results">

    <div class="control">
      <input id="js-search-input"
            class="input is-rounded"
            name=""
            type="text"
            value=""
            oninput="search()" />
    </div>
    <ul id="js-search-list"
        class="quire-search__inner__list">
    </ul>
  </div>

  <template id="js-search-template">
    <li class="quire-search__inner__list__item">
      <a class="quire-search__inner__list__item__link js-search-item-title" href="">
      </a>
    </li>
  </template>
</div>
