// =============================================================================
// Quire-contents-list.scss
// -----------------------------------------------------------------------------
//
// Quire uses Bulma's Menu component for the list of links inside the TOC. This
// class exists to provide a small amount of additional styling for the main
// TOC page of the book. Print TOC styles can also be defined on this element.

// .quire-contents
// -----------------------------------------------------------------------------

.quire-contents-list {
  &.list {
    // Bulma overrides
    background-color: transparent;
    box-shadow: none;
    color: background-color-text-classic($secondary-background-color);
  }
  @media screen {
    font-family: $quire-headings-font;
  }
  .quire-contributor {
    font-style: italic;
  }
  .page-item,
  .section-item > a,
  .section-item > .list-header {
    display: block;
    margin-bottom: 1.375rem;
    @media print {
      margin-bottom: 1rem;
    }
  }
  li li {
    padding-left: 1.5rem;
  }
  a {
    @media screen {
      color: background-color-text-classic($secondary-background-color);
      transition: all .25s ease;
      padding-bottom: .1em;
      border-bottom: 1px dotted background-color-text-classic($secondary-background-color);
    }
    @media print {
      color: $print-text-color;
    }
    &:hover {
      color: $accent-color;
      border-bottom: 1px solid $accent-color;
    }
  }
  .arrow svg {
    display: none;
  }
  @media screen {
    .level-0 > a,
    .level-0 > .list-header {
      font-size: 1.375em;
      padding-bottom: 0;
      border-bottom-width: 0;
      .arrow svg {
        display: inline-block;
        position: absolute;
        width: 1em;
        height: 1em;
        transition: all .25s ease;
        @if $theme == classic {
          margin-top: .25em;
        } @else {
          margin-top: .375em;
        }
        fill: background-color-text-classic($secondary-background-color);
      }
      &:hover {
        border-bottom-width: 0;
        .arrow svg {
          margin-left: .75rem;
          fill: $accent-color;
          transition: all .25s ease;
        }
      }
    }
  }
}

.quire-contents-list.brief {
  li li {
    display: none;
  }
}

.quire-contents-list.abstract {
  .abstract-text {
    font-size: 1rem;
    margin-top: .375rem;
    p {
      margin-bottom: .375rem;
    }
    @media print {
      font-size: .875rem;
      margin-top: .25rem;
      p {
        margin-bottom: .25rem;
      }
    }
  }
}