// =============================================================================
// Quire-contents-list.scss
// -----------------------------------------------------------------------------
//
// Quire uses Bulma's Menu component for the list of links inside the TOC. This
// class exists to provide a small amount of additional styling for the main
// TOC page of the book. Print TOC styles can also be defined on this element.

// .quire-contents
// -----------------------------------------------------------------------------


.quire-contents .quire-page__content .container .content {
  background-color: transparent;
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 2.5rem;
  color: background-color-text-classic($secondary-background-color);
}
@media print {
  .quire-page__content .container.is-fullhd {
    padding: 0;
  }
}

// Default list styles
// -----------------------------------------------------------------------------
.quire-contents-list {
  color: background-color-text-classic($secondary-background-color);
  &.list {
    // Bulma overrides
    background-color: transparent;
    box-shadow: none;
  }
  @media screen {
    font-family: $quire-headings-font;
    margin-bottom: 5rem !important;
  }
  .quire-contributor {
    font-style: italic;
  }
  .page-item,
  .section-item > a,
  .section-item > .list-header {
    display: block;
    margin-bottom: 1.375rem;
    width: fit-content;
    @media print {
      margin-bottom: 1rem;
    }
  }
  li li {
    padding-left: 1.5rem;
  }
  a {
    @media screen {
      color: background-color-text-classic($secondary-background-color);
      transition: all .25s ease;
      padding-bottom: .1em;
      border-bottom: 1px dotted background-color-text-classic($secondary-background-color);
    }
    @media print {
      color: $print-text-color;
    }
    &:hover {
      color: $accent-color;
      border-bottom: 1px solid $accent-color;
    }
  }
  .arrow svg {
    display: none;
    position: absolute;
    width: 1em;
    height: 1em;
    transition: all .25s ease;
    @if $theme == classic {
      margin-top: .25em;
    } @else {
      margin-top: .375em;
    }
    fill: background-color-text-classic($secondary-background-color);
  }
  @media screen {
    // Special styling for top-level list items
    ul:first-child > li > a,
    ul:first-child > li > .list-header {
      font-size: 1.375em;
      padding-bottom: 0;
      border-bottom-width: 0;
      .arrow svg {
        display: inline-block;
      }
      &:hover {
        border-bottom-width: 0;
        .arrow svg {
          margin-left: .75rem;
          fill: $accent-color;
          transition: all .25s ease;
        }
      }
    }
  }
}

// Additional "brief" list styles
// -----------------------------------------------------------------------------
.quire-contents-list.brief {
  li li {
    display: none;
  }
}

// Additional "abstract" list styles
// -----------------------------------------------------------------------------
.quire-contents-list.abstract {
  .abstract-text {
    font-size: 1rem;
    margin-top: .375rem;
    p {
      margin-bottom: .375rem;
    }
    @media print {
      font-size: .875rem;
      margin-top: .25rem;
      p {
        margin-bottom: .25rem;
      }
    }
  }
}

// Additional "grid" list styles
// -----------------------------------------------------------------------------
.quire-contents-list.grid {
  ul {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
  }
  li li {
    padding-left: 0;
  }
  @media screen and (min-width: $desktop) {
    ul {
      grid-template-columns: 1fr 1fr;
    }
  }
  @media screen and (min-width: $widescreen) {
    ul {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
  @media screen and (min-width: $fullhd) {
    ul {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
  .page-item,
  .section-item > a,
  .section-item > .list-header {
    width: inherit;
  }

  // Grid headers that aren't links
  // Top-level headers
  ul:first-child > li.section-item {
    padding: 1.5rem 0;
    margin-bottom: 1.5rem;
    border-top: 1px solid;
    border-bottom: 1px solid;
    @if (lightness($secondary-background-color) > 50) {
      border-color: darken($secondary-background-color, 20%);
    } @else {
      border-color: lighten($secondary-background-color, 20%);
    }
    > .list-header {
      font-size: 1.75rem;
    }
  }
  // All other headers
  .section-item {
    grid-column: 1/-1;
    font-size: 1.125rem;
    .list-header {
      text-align: center;
    }
  }
  // Headers that are links
  .section-item {
    > a {
      max-width: inherit;
      text-align: center;
      margin-bottom: 0;
      border-bottom-width: 0;
      .card {
        min-height: inherit;
        background-color: transparent;
        .card-content {
          font-size: 1.75rem;
          .arrow {
            display: none;
          }
        }
      }
    }
  }

  // Cards
  .section-item .card,
  .page-item .card {
    box-shadow: none;
    padding: 1.25rem;
    min-height: 300px;
    .card-content {
      font-size: 2rem;
      font-weight: 700;
      line-height: 1.25;
      padding: 0;
      color: $accent-color;
      .arrow svg {
        display: inline-block;
        fill: $accent-color;
        @if $theme == classic {
          margin-top: 0;
        } @else {
          margin-top: .1625em;
        }
      }
    }
    .card-image {
      transition: all .25s ease;
    }
    .card-image + .card-content {
      padding-top: 1.25rem;
      padding-bottom: .25rem;
      font-size: 1.125rem;
      line-height: 1.35;
    }
    &:hover {
      .card-image {
        box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.75);
        transition: all .25s ease;
      }
      .card-content {
        color: darken($accent-color, 15%);
        .arrow svg {
          fill: darken($accent-color, 15%);
        }
      }
    }
  }
  @if $theme == classic {
    .page-item .card {
      padding: 0 0 1.25rem 0;
      &.no-image {
        padding: 1.25rem;
        background-color: $off-white;
      }
    }
  }

  // Grid print styles
  @media print {

    $column-width: $print-width - $print-outer-margin - $print-inner-margin;
    $card-width: ($column-width - .5625in) / 3;
    $card-height: ($card-width * 1.25);

    ul {
      display: block;
    }
    .page-item {
      float: left;
      width: $card-width;
      margin: 0 .09375in;
      .card {
        background-color: $off-white;
        page-break-inside: avoid;
        height: $card-height;
        min-height: inherit;
        .card-content {
          color: $print-text-color;
          font-size: 1.75rem;
        }
      }
      a::after {
        position: inherit;
        text-align: right;
        display: block;
        margin-left: 0;
        font-size: 1.125rem;
        font-weight: 700;
        padding: 0 .5rem;
        background-color: $off-white;
        margin-bottom: 3rem;
        page-break-before: avoid;
      }
    }
    .card-image img {
      height: 1in;
      width: auto;
    }
    .section-item {
      width: $column-width;
      margin: 0;
      float: none;
      clear: both;
      page-break-after: avoid;
      + .page-item {
        clear: left;
      }
      > a {
        .card {
          .card-content {
            color: $print-text-color;
            font-weight: 400;
          }
        }
        &::after {
          display: none;
        }
      }
    }
    // Remove border for top-level items
    ul:first-child > li.section-item {
      border-width: 0;
    }
  }
}
