{{ if isset $.Site.Params "imagedir" }}
{{ $.Scratch.Set "imageDir" $.Site.Params.imageDir }}
{{ else }}
{{ $.Scratch.Set "imageDir" "" }}
{{ end }}

{{ $errorBadId := dict "shortcode" "q-figure" "message" "The supplied value for `id` does not match an `id` value in your `data/figures.yml` file. Or, if you are not using a `data/figures.yml` file, a value for `src` should also be included in the shortcode, and should match the filename of an image file in your `static/img` directory." "example" "{{< q-figure id=&#34;3.1&#34; >}}<br /><br />{{< q-figure id=&#34;3.1&#34; src=&#34;fig-3-1-duchamp.jpg&#34; >}}" }}

{{ $errorNoMediaType := dict "shortcode" "q-figure" "message" "For multimedia figures, the `media_type` attribute must be included in your `data/figures.yml` file for this figure `id`, and must be either “youtube”, “vimeo” or “website”." "example" "- id: &#34;3.1&#34;<br />  media_id: &#34;VYqDpNmnu8I&#34;<br />  media_type: &#34;youtube&#34;" }}

{{ $errorNoSourceNoId := dict "shortcode" "q-figure" "message" "This shortcode must include a value for `src` that matches the filename of an image in your `static/img` directory; or a value for `id` that matches an `id` value in your `data/figures.yml` file." "example" "{{< q-figure id=&#34;3.1&#34; >}}<br /><br />{{< q-figure id=&#34;3.1&#34; src=&#34;fig-3-1-duchamp.jpg&#34; >}}" }}

<figure class="quire-figure">

{{ if .Get "src" }}

{{ if eq $.Site.Params.popup true }}

<div class="q-figure__wrapper">

{{ if .Get "media_type" eq "map" }}

{{ $Id := now.UnixNano }}

    <figure       
      id="map-{{ $Id }}" 
      {{ if .Get "caption" }} title='{{ .Get "caption" | markdownify | safeHTML }}' {{ end }} 
      class="quire-figure leaflet-outer-wrapper mfp-hide">
        <div 
        id="js-map-{{ now.UnixNano }}" 
        class="quire-map leaflet-inner-wrapper inset"
        {{ with .Get "lat" }}data-lat="{{.}}"{{ end }}
        {{ with .Get "long" }}data-long="{{.}}"{{ end }}
        {{ if .Get "geojson" }}data-geojson="{{ .Site.BaseURL }}{{ .Get "geojson" }}"{{ end }}>
        </div>
    </figure>

    <a 
    href="#map-{{ $Id }}"     
    class='inline popup'
    data-type="leaflet" 
    title='{{ .Get "caption" | markdownify | safeHTML }}'>
    <img
      class="quire-figure__image" 
      src='{{ with .Get "src"}}{{ printf "%s/%s" ($.Scratch.Get "imageDir") . | relURL }}{{ end }}'
      alt='{{ with .Get "alt" }}{{ . }}{{ end }}' />
      

{{ else if .Get "media_type" eq "iiif" }}

{{ $Id := now.UnixNano }}

      <figure    
      id="iiif-{{ $Id }}" 
      {{ if .Get "caption" }}  title='{{ .Get "caption" | markdownify | safeHTML }}' {{ end }} 
      class="quire-figure leaflet-outer-wrapper">
        <div 
        id="js-deepzoom-{{ now.UnixNano }}" 
        class="quire-deepzoom inset leaflet-inner-wrapper" 
        aria-live="polite" 
        role="application" 
        aria-label="Zoomable image" 
        data-image="{{ with .Get "src"}}{{ printf "%s/%s" ($.Scratch.Get "imageDir") . | relURL }}{{ end }}">
        </div>
      </figure>

    <a
    href="#iiif-{{ $Id }}" 
    class='inline popup'
    data-type='inline' 
    {{ if .Get "caption" }}  title='{{ .Get "caption" | markdownify | safeHTML }}' {{ end }}>
      <img
      class="quire-figure__image" 
      src='{{ with .Get "src"}}{{ printf "%s/%s" ($.Scratch.Get "imageDir") . | relURL }}{{ end }}'
      alt='{{ with .Get "alt" }}{{ . }}{{ end }}' />

{{ else }}

{{ $Id := now.UnixNano }}

  <figure   
  id="deepzoom-{{ $Id }}" 
  {{ if .Get "caption" }}  
  title='{{ .Get "caption" | markdownify | safeHTML }}' {{ end }} 
  class="quire-figure leaflet-outer-wrapper">
    <div 
    id="js-deepzoom-{{ now.UnixNano }}" 
    class="quire-deepzoom inset leaflet-inner-wrapper " 
    aria-live="polite" 
    role="application" 
    aria-label="Zoomable image" 
    data-image="{{ with .Get "src"}}{{ printf "%s/%s" ($.Scratch.Get "imageDir") . | relURL }}{{ end }}">
    </div>
  </figure>

    <a
    href="#deepzoom-{{ $Id }}" 
    class='inline popup'
    data-type='inline' 
    {{ if .Get "caption" }}  title='{{ .Get "caption" | markdownify | safeHTML }}' {{ end }}>
      <img
      class="quire-figure__image" 
      src='{{ with .Get "src"}}{{ printf "%s/%s" ($.Scratch.Get "imageDir") . | relURL }}{{ end }}'
      alt='{{ with .Get "alt" }}{{ . }}{{ end }}' />

{{ end }}

  <figcaption class="quire-figure__caption">

    {{ if or (eq $.Site.Params.figureLabels true) (eq ($.Get "label") "true" ) }}
        {{ if eq $.Site.Params.figureEnlargeType "outside" }}
        <span class="quire-figure__modal {{ if eq $.Site.Params.pdf true }} visually-hidden {{ end }}"><span class="material-icons md-24 material-fullscreen" aria-hidden="true">fullscreen</span>
        <span class="quire-figure__label {{ if eq $.Site.Params.pdf true }} media-caption {{ end }}"></span>
          {{ if $.Get "label_text" }}
          {{ $.Get "label_text" | markdownify }}
          {{ else if .label_text }}
          {{ .label_text | markdownify }}
          {{ else }}
          {{ $.Site.Params.figureLabelsTextBefore }}{{ .id }}{{ $.Site.Params.figureLabelsTextAfter }}
          {{ end }}
        </span>
      {{ end }}
    {{ else }}
        <span class="quire-figure__modal {{ if eq $.Site.Params.pdf true }} visually-hidden {{ end }}"><span class="material-icons md-24 material-fullscreen" aria-hidden="true">fullscreen</span>
    {{ end }}

      {{ if eq $.Site.Params.pdf true }}<span class="media-caption">{{ end }}
      {{ if $.Get "caption" }}
      {{ $.Get "caption" | markdownify }}
      {{ else if .caption }}
      {{ .caption | markdownify }}
      {{ end }}
      {{ if eq $.Site.Params.pdf true }}</span>{{ end }}

  </figcaption> 

  {{ if eq $.Site.Params.figureEnlargeType "inside" }}
    {{ if or (eq $.Site.Params.figureLabels true) (eq ($.Get "label") "true" ) }}
      {{ if eq $.Site.Params.pdf true }} 
        <span class="fig-print"> 
      {{ else }} 
        <span class="fig"><span class="material-icons md-24 material-fullscreen" aria-hidden="true">fullscreen</span> 
      {{ end }}
      <strong>      
        {{ if $.Get "label_text" }}
        {{ $.Get "label_text" | markdownify }}
        {{ else if .label_text }}
        {{ .label_text | markdownify }}
        {{ else }}
        {{ $.Site.Params.figureLabelsTextBefore }}{{ .id }}{{ $.Site.Params.figureLabelsTextAfter }}
        {{ end }}
      </strong>
    </span>
    {{ else }}
    {{ if ne $.Site.Params.pdf true }}<span class="fig fig-false"><span class="material-icons md-24 material-fullscreen" aria-hidden="true">fullscreen</span>{{ end }}
  {{ end }}
{{ end }}

</a>
</div>

{{/* -------------------- else for modal -------------------- */}}
{{ else }}
{{/* -------------------- else for modal -------------------- */}}

{{ if ne $.Site.Params.pdf true }}

{{ if .Get "media_type" eq "map" }}

<div 
  id="js-map-{{ now.UnixNano }}" 
  class="no-popup-quire-map quire-map inset" 
  {{ with .Get "lat" }} data-lat="{{.}}" {{ end }}
  {{ with .Get "long" }} data-long="{{.}}" {{ end }} 
  {{ if .Get "geojson" }} data-geojson="{{ .Site.BaseURL }}{{ .Get "geojson" }}" {{ end }}>
</div>

{{ else if .Get "media_type" eq "iiif" }}

<div
 id="js-iiif-{{ now.UnixNano }}" 
 class="quire-deepzoom inset no-popup-quire-deepzoom" 
 aria-live="polite" 
 role="application" 
 aria-label="Zoomable image" 
 data-image='{{ with .Get "src"}}{{ printf "%s/%s" ($.Scratch.Get "imageDir") . | relURL }}{{ end }}'>
</div>

{{ else }}

<div 
 id="js-deepzoom-{{ now.UnixNano }}" 
 class="quire-deepzoom inset no-popup-quire-deepzoom" 
 aria-live="polite" 
 role="application" 
 aria-label="Zoomable image" 
 data-image='{{ with .Get "src"}}{{ printf "%s/%s" ($.Scratch.Get "imageDir") . | relURL }}{{ end }}'>
</div>
    
{{ end }}

{{ else }}
<img
class="quire-figure__image" 
src='{{ with .Get "src"}}{{ printf "%s/%s" ($.Scratch.Get "imageDir") . | relURL }}{{ end }}'
alt='{{ with .Get "alt" }}{{ . }}{{ end }}' />
{{ end }}

  <figcaption class="quire-figure__caption">

    {{ if or (eq $.Site.Params.figureLabels true) (eq ($.Get "label") "true" ) }}
      {{ if eq $.Site.Params.figureEnlargeType "outside" }}
      <span class="quire-figure__modal {{ if eq $.Site.Params.pdf true }} visually-hidden {{ end }}"><span class="material-icons md-24 material-fullscreen" aria-hidden="true">fullscreen</span>
      <span class="quire-figure__label {{ if eq $.Site.Params.pdf true }} media-caption {{ end }}"></span>
        {{ if $.Get "label_text" }}
        {{ $.Get "label_text" | markdownify }}
        {{ else if .label_text }}
        {{ .label_text | markdownify }}
        {{ else }}
        {{ $.Site.Params.figureLabelsTextBefore }}{{ .id }}{{ $.Site.Params.figureLabelsTextAfter }}
        {{ end }}
      </span>
    {{ end }}
  {{ else }}
  <span class="quire-figure__modal {{ if eq $.Site.Params.pdf true }} visually-hidden {{ end }}"><span class="material-icons md-24 material-fullscreen" aria-hidden="true">fullscreen</span></span>
  {{ end }}

      {{ if eq $.Site.Params.pdf true }}<span class="media-caption">{{ end }}
      {{ if $.Get "caption" }}
      {{ $.Get "caption" | markdownify }}
      {{ else if .caption }}
      {{ .caption | markdownify }}
      {{ end }}
      {{ if eq $.Site.Params.pdf true }}</span>{{ end }}

  </figcaption> 

{{ end }}

{{ else if .Get "id" }}

{{ $x := .Get "id" | string }}
{{ $fig := len (where .Site.Data.figures.figure_list "id" "eq" $x) }}

{{ if eq $fig 0 }}
  {{ partial "error-message.html" $errorBadId }}
{{ else }}

{{ range where .Site.Data.figures.figure_list "id" "eq" $x }}

{{ if eq $.Site.Params.popup true }}

<div class="q-figure__wrapper">

{{ if eq .media_type "map"  }}

{{ $Id := now.UnixNano }}

      <figure 
        id="map-{{ $Id }}" 
        {{ if .caption }} title='{{ .caption | markdownify | safeHTML }}' {{ end }} 
        class="quire-figure leaflet-outer-wrapper mfp-hide">
        <div 
          id="js-map-{{ now.UnixNano }}" 
          class="quire-map leaflet-inner-wrapper inset" 
          data-lat="{{ .lat }}"
          data-long="{{ .long }}" 
          data-geojson="{{ .Site.BaseURL }}{{ .geojson }}">
        </div>
      </figure>

      <a 
        href="#map-{{ $Id }}" 
        class='inline popup'
        data-type="inline"
        {{ if .caption }} title='{{ .caption | markdownify | safeHTML }}' {{ end }}>
        <img
          class="quire-figure__image" 
          src='{{ printf "%s/%s" ($.Scratch.Get "imageDir") .src | relURL }}' />

{{ else if eq .media_type "iiif" }}

{{ $Id := now.UnixNano }}

    <figure 
    id="iiif-{{ $Id }}" 
    {{ if .caption }} title='{{ .caption | markdownify | safeHTML }}' {{ end }} 
    class="quire-figure leaflet-outer-wrapper mfp-hide">
      <div 
      id="js-iiif-{{ now.UnixNano }}" 
      class="quire-deepzoom inset leaflet-inner-wrapper" 
      aria-live="polite" 
      role="application" 
      aria-label="Zoomable image" 
      data-iiif="{{ .iiif }}" 
      data-zoom="{{ .zoom_level }}">
      </div>
    </figure>

    <a
    class='inline popup'
    href="#iiif-{{ $Id }}"
    data-type='inline'
    {{ if .caption }} title='{{ .caption | markdownify | safeHTML }}' {{ end }}>
      <img
      class="quire-figure__image" 
      src='{{ printf "%s/%s" ($.Scratch.Get "imageDir") .src | relURL }}' />

{{ else }}

{{ $Id := now.UnixNano }}

    <figure 
      id="deepzoom-{{ $Id }}"
      {{ if .caption }} title='{{ .caption | markdownify | safeHTML }}' {{ end }}  
      class="quire-figure leaflet-outer-wrapper mfp-hide">
        <div 
        id="js-deepzoom-{{ now.UnixNano }}" 
        class="quire-deepzoom inset leaflet-inner-wrapper " 
        aria-live="polite" 
        role="application"
        aria-label="Zoomable image" 
        data-image="{{ printf "%s/%s" ($.Scratch.Get "imageDir") .src | relURL }}">
        </div>
    </figure>

    <a
    href="#deepzoom-{{ $Id }}"
    class='inline popup'
    data-type='inline'
    {{ if .caption }} title='{{ .caption | markdownify | safeHTML }}' {{ end }}>
      <img
      class="quire-figure__image" 
      src='{{ printf "%s/%s" ($.Scratch.Get "imageDir") .src | relURL }}' />

{{ end }}

  <figcaption class="quire-figure__caption">

    {{ if or (eq $.Site.Params.figureLabels true) (eq ($.Get "label") "true" ) }}
        {{ if eq $.Site.Params.figureEnlargeType "outside" }}
        <span class="quire-figure__modal {{ if eq $.Site.Params.pdf true }} visually-hidden {{ end }}"><span class="material-icons md-24 material-fullscreen" aria-hidden="true">fullscreen</span>
        <span class="quire-figure__label {{ if eq $.Site.Params.pdf true }} media-caption {{ end }}"></span>
          {{ if $.Get "label_text" }}
          {{ $.Get "label_text" | markdownify }}
          {{ else if .label_text }}
          {{ .label_text | markdownify }}
          {{ else }}
          {{ $.Site.Params.figureLabelsTextBefore }}{{ .id }}{{ $.Site.Params.figureLabelsTextAfter }}
          {{ end }}
        </span>
      {{ end }}
    {{ else }}
    <span class="quire-figure__modal {{ if eq $.Site.Params.pdf true }} visually-hidden {{ end }}"><span class="material-icons md-24 material-fullscreen" aria-hidden="true">fullscreen</span></span>
    {{ end }}

      {{ if eq $.Site.Params.pdf true }}<span class="media-caption">{{ end }}
      {{ if $.Get "caption" }}
      {{ $.Get "caption" | markdownify }}
      {{ else if .caption }}
      {{ .caption | markdownify }}
      {{ end }}
      {{ if eq $.Site.Params.pdf true }}</span>{{ end }}

  </figcaption> 

  {{ if eq $.Site.Params.figureEnlargeType "inside" }}
    {{ if or (eq $.Site.Params.figureLabels true) (eq ($.Get "label") "true" ) }}
      {{ if eq $.Site.Params.pdf true }} 
        <span class="fig-print"> 
      {{ else }} 
        <span class="fig"><span class="material-icons md-24 material-fullscreen" aria-hidden="true">fullscreen</span>
      {{ end }}
      <strong>      
        {{ if $.Get "label_text" }}
        {{ $.Get "label_text" | markdownify }}
        {{ else if .label_text }}
        {{ .label_text | markdownify }}
        {{ else }}
        {{ $.Site.Params.figureLabelsTextBefore }}{{ .id }}{{ $.Site.Params.figureLabelsTextAfter }}
        {{ end }}
      </strong>
    </span>
    {{ else }}
    {{ if ne $.Site.Params.pdf true }}<span class="fig fig-false"><span class="material-icons md-24 material-fullscreen" aria-hidden="true">fullscreen</span>{{ end }}
  {{ end }}
{{ end }}

</a>
</div>

{{/* -------------------- else for modal -------------------- */}}
{{ else }}
{{/* -------------------- else for modal -------------------- */}}

{{ if ne $.Site.Params.pdf true }}

{{ if eq .media_type "map"  }}

  <div 
    id="js-map-{{ now.UnixNano }}" 
    class="no-popup-quire-map quire-map inset" 
    data-lat="{{ .lat }}"
    data-long="{{ .long }}" 
    data-geojson="{{ .Site.BaseURL }}{{ .geojson }}">
  </div>

{{ else if eq .media_type "iiif" }}

  <div 
    id="js-iiif-{{ now.UnixNano }}" 
    {{ if .caption }} title='{{ .caption | markdownify | safeHTML }}' {{ end }} 
    data-iiif="{{ .iiif }}" 
    data-zoom="{{ .zoom_level }}"
    class="no-popup-quire-deepzoom quire-deepzoom inset" 
    aria-live="polite" 
    role="application" 
    aria-label="Zoomable image">
   </div>

{{ else }}

  <div 
    id="js-deepzoom-{{ now.UnixNano }}" 
    class="no-popup-quire-deepzoom  quire-deepzoom inset inline" 
    aria-live="polite" 
    role="application" 
    aria-label="Zoomable image" 
    data-image='{{ printf "%s/%s" ($.Scratch.Get "imageDir") .src | relURL }}'>
  </div>

{{ end }}

{{ else }}

<img
class="quire-figure__image" 
src='{{ printf "%s/%s" ($.Scratch.Get "imageDir") .src | relURL }}' />

{{ end }}

  <figcaption class="quire-figure__caption">

      {{ if or (eq $.Site.Params.figureLabels true) (eq ($.Get "label") "true" ) }}
      {{ if eq $.Site.Params.figureEnlargeType "outside" }}
      <span class="quire-figure__modal {{ if eq $.Site.Params.pdf true }} visually-hidden {{ end }}"><span class="material-icons md-24 material-fullscreen" aria-hidden="true">fullscreen</span>
      <span class="quire-figure__label {{ if eq $.Site.Params.pdf true }} media-caption {{ end }}"></span>
        {{ if $.Get "label_text" }}
        {{ $.Get "label_text" | markdownify }}
        {{ else if .label_text }}
        {{ .label_text | markdownify }}
        {{ else }}
        {{ $.Site.Params.figureLabelsTextBefore }}{{ .id }}{{ $.Site.Params.figureLabelsTextAfter }}
        {{ end }}
      </span>
    {{ end }}
  {{ else }}
  <span class="quire-figure__modal {{ if eq $.Site.Params.pdf true }} visually-hidden {{ end }}"><span class="material-icons md-24 material-fullscreen" aria-hidden="true">fullscreen</span></span>
  {{ end }}

      {{ if eq $.Site.Params.pdf true }}<span class="media-caption">{{ end }}
      {{ if $.Get "caption" }}
      {{ $.Get "caption" | markdownify }}
      {{ else if .caption }}
      {{ .caption | markdownify }}
      {{ end }}
      {{ if eq $.Site.Params.pdf true }}</span>{{ end }}

  </figcaption> 

{{ end }}

{{ end }}

{{ end }}

{{ else }}
{{/* -------------------- BEGIN ERROR BLOCK -------------------- */}}
{{/*
----------------------------------------------------------------------------
If the shortcode has no src, and no id, post an error message.
----------------------------------------------------------------------------
*/}}

{{ partial "error-message.html" $errorNoSourceNoId }}

{{/* -------------------- END ERROR BLOCK -------------------- */}}
{{ end }}

</figure>
