{{ if .Get "src" }}
  {{/*
    ----------------------------------------------------------------------------
    If the shortcode has a src, ignore any figures.yml
    document and render only the values given in the shortcode
    ----------------------------------------------------------------------------
  */}}

  <figure class="quire-figure {{ with .Get "class" }}{{ . }}{{ end }}"
    {{ with .Get "id" }}id="{{ . }}"{{ end }}>

    <img class="quire-figure__image"
      src="/{{ $.Site.Params.imageDir }}{{ $.Site.Params.figureSubDir }}{{ .Get "src" }}"
      alt="{{ with .Get "alt" }}{{ . }}{{ end }}" />

    {{ if or (.Get "caption") (.Get "credit") }}
    <figcaption class="quire-figure__caption">

      {{ with $.Get "caption" }}{{ . | markdownify }}{{ end }}

      {{ with $.Get "credit" }}<span class="quire-figure__credit">{{ . | markdownify }}</span>{{ end }}

    </figcaption>
    {{ end }}

  </figure>

{{ else if .Get "id" }}
  {{/*
    ----------------------------------------------------------------------------
    If the shortcode has an id, but no src, look for figures.yml document and
    render the figure from matching values found ther
    ----------------------------------------------------------------------------
  */}}

  {{ $x := .Get "id" | string }}
  {{ $fig := len (where .Site.Data.figures.figure_list "id" "eq" $x) }}

  {{ if eq $fig 0 }}

    <div class="quire-error message is-danger">
      <div class="message-header">
        <strong>SHORTCODE ERROR: q-figure id="{{ .Get "id" }}" ?</strong>
      </div>
      <div class="message-body">
        <p>The supplied value for <code>id</code> does not match an <code>id</code> value in your <code>figures.yml</code> file.</p>
        <blockquote>Example: <code>&#123;&#123;< q-figure id="3.1" >&#125;&#125;</code></blockquote>
        <p>Or, if you are not using a <code>figures.yml</code> file, a value for <code>src</code> should also be included in the shortcode, and should match the filename of an image file in your figures directory.</p>
        <blockquote>Example: <code>&#123;&#123;< q-figure id="3.1"  src="fig-3-1-duchamp.jpg" >&#125;&#125;</code></blockquote>
      </div>
    </div>

  {{ else }}

    {{ range where .Site.Data.figures.figure_list "id" "eq" $x }}
      <figure class="quire-figure {{ with $.Get "class" }}{{ . }}{{ end }}"
        id="{{ .id }}">

      <img class="quire-figure__image"
        src="/{{ $.Site.Params.imageDir }}{{ $.Site.Params.figureSubDir }}{{ .src }}"
        alt="{{ if $.Get "alt" }}{{ $.Get "alt" }}{{ else if .alt }}{{ .alt }}{{ end }}" />

      <figcaption class="quire-figure__caption">
        {{ if $.Get "caption" }}{{ $.Get "caption" | markdownify }}
        {{ else if .caption }}{{ .caption | markdownify }}{{ end }}

        {{ if $.Get "credit" }}
          <span class="quire-figure__credit">{{ $.Get "credit" | markdownify }}</span>
        {{ else if .credit }}
          <span class="quire-figure__credit">{{ .credit | markdownify }}</span>
        {{ end }}
      </figcaption>

      </figure>
    {{ end }}

  {{ end }}

{{ else }}
  {{/*
    --------------------------------------------------------------------------
    If the shortcode has no src, and no id, post an error message.
    --------------------------------------------------------------------------
  */}}

  <div class="quire-error message is-danger">
    <div class="message-header">
      <strong>SHORTCODE ERROR: q-figure</strong>
    </div>
    <div class="message-body">
      <p>This shortcode must include a value for <code>src</code> that matches an image file name in your figures directory; or a value for <code>id</code> that matches an <code>id</code> value in your <code>figures.yml</code> file.</p>
      <blockquote>Examples: <code>&#123;&#123;< q-figure id="3.1" >&#125;&#125;</code> or <code>&#123;&#123;< q-figure src="fig-3-1-duchamp.jpg" >&#125;&#125;</code></blockquote>
    </div>
  </div>

{{ end }}
