// =============================================================================
// q-lightbox-slides.scss
// -----------------------------------------------------------------------------
//
// Styles for `lightboxSlides` shortcode used in `lightbox` shortcode

@media screen {
  .q-lightbox-slides,
  .q-lightbox-slides__slide {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  .q-lightbox-slides__slide {
    transform: translateY(100%);
    opacity: 0;
    transition: transform 0s 0.4s, opacity 0.4s linear;

    &[data-lightbox-current] {
      transform: translateY(0);
      opacity: 1;
      transition: transform 0s, opacity 0.4s linear;
    }
  }

  .q-lightbox-slides__element {
    height: 100%;

    &--iiif,
    &--table {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }

    &--audio,
    &--table,
    &--video {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &--table {

      .overflow-container {
        background-color: white;
        color: black;
        display: flex;
        flex-direction: column;
        max-height: 80vh;
        max-width: 80vw;
        padding: 1rem;
      }

      table {
        background-color: white;
        color: black;
      }
      caption {
        margin-bottom: 1rem;
      }
      table,
      th,
      td {
        border: 1px solid black;
        border-collapse: collapse;
        width: fit-content;
      }
      th,
      td {
        padding: 4px;
      }
      a {
        border-bottom: 1px dotted currentColor;
        color: currentColor;

        &:hover {
          border-bottom-style: solid;
        }
      }
    }

    &--audio,
    &--video {
      position: relative;
      width: 100%;
      max-width: 80vw;
      height: auto;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &--video {
      iframe,
      video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }

    &--widescreen {
      padding-bottom: 56.25%;
    }

    &--standard {
      padding-bottom: 75%;
    }

    canvas-panel,
    img,
    image-service {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      width: 100%;
      height: 100%;
    }

    img {
      object-fit: contain;
    }
  }

  .q-figure-slides__slide-ui {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 0 0 16px 10px;
    box-sizing: border-box;
    font-size: 0.875rem;

    .annotations-ui {
      flex-shrink: 0;
    }
  }

  .q-lightbox-slides__caption,
  .q-figure-slides__slide-ui .annotations-ui {
    background: rgba(0,0,0,0.5);
    padding: 8px;
    margin-right: 10px;
  }

  .q-lightbox-slides__caption-label {
    margin-right: 0.5rem;
    font-weight: bold;
  }
}
