// Custom Theme Variables
//
// All variable values in base/_variables.scss can be overridden here, just
// declare them again with the desired value.

// Responsive Breakpoints
// -----------------------------------------------------------------------------
// $medium-screen: 600px;
// $large-screen: 900px;

// Typography
// -----------------------------------------------------------------------------
// $base-font-family: "Helvetica", "Arial", sans-serif;
// $heading-font-family: "Helvetica", "Arial", sans-serif;

// Font Size: allow that to be defined here somehow
// $base-h1-size: 2.25em;
// $base-h2-size: 1.75em;
// $base-h3-size: 1.5em;
// $base-h4-size: 1.25em;
// $base-h5-size: 1em;
// $base-h6-size: 0.875em;

// $base-line-height: 1.5;
// $base-spacing: 1.5em;
// $small-spacing: 0.75em;

// Colors
// -----------------------------------------------------------------------------
// Color definitions
//
// $blue:        #1565c0;
// $dark-gray:   #333;
// $medium-gray: #999;
// $light-gray:  #ddd;
//
// Add your own here

// Theme colors
//
// $action-color: $blue;
// $base-font-color: $dark-gray;
// $base-border-color: $light-gray;
// $base-background-color: #fff;
// $secondary-background-color: #fff;

// Layout settings
// -----------------------------------------------------------------------------
$base-timing: ease-out;
$page-max-width: 800px;
// $nav-height: 50px;
// $nav-bg-color: #eee;
// $nav-text-color: $dark-gray;
// $toc-position: "right";  // supports "left" and "right"
// $toc-max-width: 350px;
// $page-max-width: 900px;
$body-text-paragraph-separator: "indent";

// Page component
// -----------------------------------------------------------------------------
// $page-title-color: $base-font-color;
// $page-subtext-color: $medium-gray;
// $page-header-background-color: $medium-gray;
// $cover-bg-image: url("../img/cover_bg.jpg");
$cover-bg-position: center right;

