// Template Styles
// =============================================================================
// These rulse are simple building blocks (placeholders only) which can be used
// to compose component rulesets in a concise way.

// Animation templates
// -----------------------------------------------------------------------------
%fade-in {
  animation-duration: $base-duration * 3;
  animation-fill-mode: backwards;
  animation-name: fadeIn;
  animation-timing-function: $base-timing;
}

// Layout templates
// -----------------------------------------------------------------------------
%section-block { margin: $base-spacing 0; }

%flex-unit {
  flex: 1;
  margin: $small-spacing;
}

%call-out-block {
  background-color: tint($light-gray, 50%);
  border-radius: $base-border-radius;
  padding: $base-spacing;
}

%vertically-centered-block {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

%hide-on-mobile {
  @media screen and (max-width: $medium-screen) {
    display: none;
  }
}


// Typography templates
// -----------------------------------------------------------------------------
%body-text {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 { margin-top: $small-spacing; }

  @if $body-text-paragraph-separator == "indent" {
    p { margin-bottom: 0; }
    p + p { text-indent: 2em; }
  }

  ol {
    list-style-type: decimal;
    margin-left: $small-spacing;
    padding-left: $small-spacing;
  }

  ul {
    list-style-type: disc;
    margin-left: $small-spacing;
  }

  ol,
  ul {
    p { text-indent: 0; }
  }
}

%small-text { font-size: 0.85rem; }
%subtext { color: $page-subtext-color; }

%force-wrap {
  hyphens: auto;
  overflow-wrap: break-word;
  word-break: break-all;
  word-break: break-word;
  word-wrap: break-word;
}

%zeroed-list {
  list-style-type: none;
  padding: 0;
  text-indent: 0;
}
